@charset utf-8;
/*--
	Theme Name: Theme 1257
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.1.X from Template-Help.com Collection
	Author: Template_Help.com 
	Author URL: http://www.Template-Help.com/ 
--*/

html,body,div,span,object,iframe,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,fieldset,form,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{
  margin:0;
  padding:0;
  vertical-align:baseline;
}
article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,mark,audio,video {
  display:block;
}
textarea{
  font:101%/1.5em "Trebuchet MS", Arial, Helvetica, sans-serif;
}
blockquote{
  quotes:none;
	border-left: 1px solid #CCCCCC;
	font-style: italic;
	margin-left: 2em;
}
q{
  quotes:none;
	font-style: italic;
}
blockquote:before,blockquote:after,q:before,q:after{
  content:'';content:none;
}
:focus{
  outline:none;
}

/* Baseline and common looks - Sets a vertical rhythm and styles the different elements.
 */
a{
  text-decoration:underline;
  border:0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	color:#313737;
}
a:hover,a:focus{
  text-decoration:none;
}
a img{
  border:0;
}
abbr,acronym{
  border-bottom:1px dotted;
  cursor:help;
  font-variant:small-caps;
}
address,cite,em,i{
  font-style:italic;
}
blockquote p{
  margin:0 1.5em 1.5em;
  padding:0.75em;
}
code,kbd,tt{
  font-family:"Courier New", Courier, monospace, serif;
  line-height:1;
}
del{
  text-decoration:line-through;
}
dfn{
  border-bottom:1px dashed;
  font-style:italic;
}
dl{
  margin:0;
}
dt{
}
dd{
  margin:0 0 1.5em 0;

}
h1,h2,h3,h4,h5,h6{
  padding:0;
font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size:2.3em;
	line-height:1.2em;
  margin:0 0 0.5em;
	font-weight:normal;
	letter-spacing:-1px;
	color:#313737;
}
h2{
	font-size:2em;
	line-height:1.2em;
	font-weight:normal;
	letter-spacing:-1px;
  margin:0 0 .7em;
	color:#313737;
}
	h2 a {
		color:#000;
		text-decoration:none;
		}
	h2 a:hover {
		color:inherit;
		}
h3{
  font-size:1.5em;
	line-height:1.2em;
	font-weight:normal;
	color:#313737;
  margin:0 0 .2em;
}
h4{
  font-size:1em;
	line-height:1.2em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#313737;
  margin:0 0 1em;
}
h5{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:1em;
	font-weight:bold;
  margin:0 0 1em;
}
h6{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
  font-size:10px;
	font-weight:normal;
  margin:0 0 1em;
}
img{
  display:inline-block;
  vertical-align:text-bottom;
}
ins{
  text-decoration:overline;
}
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
ol{
  list-style:outside decimal;
}
p{
  font-weight:300;
  margin:0 0 1.5em;
}
pre{
  font-family:"Courier New", Courier, monospace, serif;
  margin:0 0 1.5em;
	border-left: 1px solid #CCCCCC;
	margin-left: 2em;
	padding-left: 2em;
}
.boxmg
{
    margin-top:15px;
}

.posteddate 
{
    color:#00C3E4;
    font-style:italic;
}

sub{
  top:0.4em;
  font-size:0.85em;
  line-height:1;
  position:relative;
  vertical-align:baseline;
}
sup{
  font-size:0.85em;
  line-height:1;
  position:relative;
  bottom:0.5em;
  vertical-align:baseline;
}
strong,b{
  font-weight:700;
}
ul{
	list-style-type:none;
	margin:0 0 1.5em;
	padding:0;
}
ol{
  margin:0 0 1.5em 1.5em;
  padding:0;
}
ul li {
	background:url(../images/arrow1.gif) no-repeat 0 8px;
	padding:0 0 0 23px;
	padding-bottom:3px;
	text-transform:uppercase;
	font-size:1.1em;
	}
	ul li a {
		color:#909090;
		text-decoration:none;
		}
	ul li a:hover {
		text-decoration:underline;
		}
	
	.indent-left ul {
		padding:0 0 0 16px;
		margin-bottom:0;
		}
		.indent-left ul li:nth-child(3),
		.indent-left ul li:nth-child(8){
			padding-bottom:21px;
			}
li ul{
  padding:0;
  margin:0 0 0 2em;
	list-style-position:outside;
	list-style-type:circle;
}
li ol {
  padding:0;
  margin:0 0 0 2em;
	list-style-position:outside;
}
table{
  border-collapse:collapse;
  border-spacing:0;
  margin:0 0 1.5em;
  padding:0;
	width:100%;
	border:none;
}
caption{
  font-style:italic;
  text-align:left;
}
tr.alt td{
  background:#eee;
}
td{
  border:0;
  padding:0.5em 1em;
  vertical-align:middle;
	line-height:1.5em;
}
th{
  font-weight:700;
  padding:0.5em 1em;
  vertical-align:middle;
	background:#eee;
	text-align:left;
}
button{
  -x-system-font: none;
  cursor:pointer;
  display:block;
  font-size:0.99em;
  height:2em;
  line-height:1.5em;
  margin:0.8em 0 0;
  padding:0 0.5em;
}
button::-moz-focus-inner {
  border: 0;
}
fieldset{
  border:0;
  margin:0 0 1.5em;
  position:relative;
  padding:1.5em 0 0;
}
fieldset fieldset{
  clear:both;
  margin:0 0 0.75em;
  padding:0 0 0 1.5em;
}
input{
  border:1px solid #ccc;
  border-bottom-color:#eee;
  border-right-color:#eee;
  font-size:1em;
  padding:.5em .3em;
}
input[type=file]{
  height:2.25em;
  font-size:1em;
  padding:0;
  border:0;
  border:1px solid #ccc !ie;
}
textarea{
  border:1px solid #ccc;
  border-bottom-color:#eee;
  border-right-color:#eee;
  margin:0;
  padding:.3em;
}
select{
  border:1px solid #ccc;
  border-bottom-color:#eee;
  border-right-color:#eee;
  font-size:1em;
  line-height:1.5em;
  margin-bottom:0.75em;
  padding:0.25em;
  height:2.25em;
}
optgroup {
  font-weight:700;
  font-style:normal;
  text-indent:0.2em;
}
optgroup + optgroup {
  margin-top:1em;
}
option{
  font-size:1em;
  height:1.5em;
  padding:0;
  text-indent:1em;
}
label{
  cursor:pointer;
  display:block;
  margin:0;
  padding:0;
}
label input{
  background:0;
  border:0;
  line-height:1.5em;
  margin:0 0.5em 0 0;
  padding:0;
  width:auto;
}
legend{
  font-size:1.1666em;
  font-weight:700;
  left:0;
  margin:0;
  padding:0;
}

.datagrid tr
{
    border: 1px solid #B3B3B3;
}

.datagrid tr:nth-child(even)
{
    background-color: #fff;
}

.datagrid tr:nth-child(odd)
{
    background-color: #e7e7e7;
}
     
.datagrid tr:hover
{
    background-color: #fffcaf;
    color:#ba1d6e;
}



/* General
---------------------------------------- */
html,
body {
	min-width:960px;
	}
body{
	background:url(../../images/body-tail.gif) 0 0 repeat-x #fff;
	font: 100% Arial, Helvetica, sans-serif;
	position:relative;
}

#main {
	font-size:.8125em;
	background:none;
}
.home #main {
	background: no-repeat 50% 0px;
	}
.container {
	width: 960px;
	margin: 0 auto;
	position:relative;
}




/* Header
---------------------------------------- */
#header {
	height:150px;
	position:relative;
	z-index:99;
}
.home #header {
	height:547px;
	}

/* Logo */
.logo {
	position:absolute;
	left:258px;
	top:79px;
	z-index:1;
	}
	.logo h1,
	.logo h2 {
		font-size:3em;
		line-height:1.2em;
		margin-bottom:0;
		}
		.logo h1 a,
		.logo h2 a {
			color:#222;
			text-decoration:none;
			}


/* Request a quote */
.box {
	background:#fff;
	box-shadow:0 0 4px rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .05);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .05);
	border-top:10px solid #313737;
	border-bottom:1px solid #b6b6b6;
	border-left:1px solid #b6b6b6;
	border-right:1px solid #b6b6b6;
	padding:36px 27px 22px 27px;
	zoom:1;
	position:relative;
	}
.home .box {
	padding-right:16px;
	margin-bottom:15px;
	}
.box .button {
	background:#ffc60f;
	}
.box-text {
	margin-bottom:30px;
	}
.home .box h2 {
	width:155px;
	}
	.box .icon-wrapper {
		position:absolute;
		right:112px;
		top:-95px;
		height:177px;
		}
	.box .icon-wrapper .icon {
		position:absolute;
		left:0;
		top:0;
		width:115px;
		height:130px;
		background:url(../images/icon1.png) no-repeat 0 30px;
		z-index:9;
		}
	.box.color2 .icon-wrapper .icon {
		background:url(../images/icon2.png) no-repeat 0 0;
		}
	.box.color3 .icon-wrapper .icon {
		background:url(../images/icon3.png) no-repeat 0 0;
		}
	.box .icon-wrapper .shadow {
		position:absolute;
		bottom:0;
		left:0;
		background:url(../images/icon-shadow.jpg) no-repeat 0 0;
		width:92px;
		height:28px;
		}
	
	/* Color style 1*/
	.box.color1 {
		border-top-color:#313737;
		}
		.box.color1 h2 {
			color:#ffc60f;
			}
		.box.color1 .button {
			background-color:#ffc60f;
			}
	
	/* Color style 2*/
	.box.color2 {
		border-top-color:#caf08b;
		}
		.box.color2 h2 {
			color:#a9e400;
			}
		.box.color2 .button {
			background-color:#a9e400;
			}
	
	/* Color style 3*/
	.box.color3 {
		border-top-color:#91dde9;
		}
		.box.color3 h2 {
			color:#00c3e4;
			}
		.box.color3 .button {
			background-color:#00c3e4;
			}

/* Navigations
---------------------------------------- */

/* Primary navigation */
nav.primary {
	background:url(../images/nav-primary-bg.png) no-repeat 0 0;
	width:958px;
	height:125px;
	margin-left:-7px;
	position:relative;
	z-index:99;
}

nav.primary_cp {
	background:url(../../images/nav-primary-bg-cp.png) no-repeat 0 0;
	width:958px;
	height:125px;
	margin-left:-7px;
	position:relative;
	z-index:99;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			100%; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			82px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			0;
	margin-left:5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/* Our skin for dropdown menu */
.sf-menu {
	padding:18px 0 0 7px;
	min-width:150px;
}
.sf-menu a {
	text-decoration:none;
}
.sf-menu > li > a{
	background:url(../../images/divider.gif) no-repeat 0 0;
	padding:15px 20px 15px 20px;
	font-size:21px;
	line-height:1.2em;
	letter-spacing:-1px;
	font-weight:100;
}
.sf-menu > li:first-child > a {
	background:none;
	}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a,
.sf-menu > li.current-menu-item > a{
	text-decoration:none;
	color:red;
	}
.sf-menu li {
	background:none;
	text-transform:none;
}
.sf-menu li li {
	background:		#fff;
	padding:0;
	font-size:14px;
	
}
	.sf-menu li li a {
		padding:12px 0 12px 20px;
		background:#fff;
		font-size:20px;
		}
	.sf-menu li li a:hover,
	.sf-menu li li.sfHover > a,
	.sf-menu li li.current-menu-item > a{
		color:#313737;
		text-decoration:none;
		font-size:20px;
		}
.sf-menu li li li {
	font-weight:normal;
}
	.sf-menu li li li a:hover {
		color:#313737;
		}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu > li.current-menu-item > a {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(../images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(../../images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}




/* Top search */
#top-search {
	position:absolute;
	right:0;
	top:15px;
	}
	#top-search .input-search {
		width:160px;
		margin-right:10px;
		}
	#top-search #submit {
		width:50px;
		cursor:pointer;
		}





/* Content
---------------------------------------- */
.primary_content_wrap {
	position:relative;
	z-index:1;
	padding-bottom:35px;
	}
	
#content {
	
}
	#content .indent {
		padding:0 30px 0 0;
		}





/* Comments
---------------------------------------- */
h3#comments {
	padding-top:25px;
	}
.commentlist {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	li.comment {
		list-style-type:none;
		overflow:hidden;
	}
		.odd {
			
		}
		.even {
			
		}
			li.comment .comment-body {
				padding:10px 10px 25px 60px;
				position:relative;
				zoom:1;
				background:#fafafa;
				border:1px solid #eee;
				margin-bottom:20px;
				}
		.author-comment {
			
		}
		.comment-author {
			padding:.5em 0 1em 0;
			}
		.comment-text {
			
		}
		.comment-meta {
			font-size:11px;
			color:#999;
			position:absolute;
			right:20px;
			top:15px;
		}
			li.comment .avatar {
				float:none;
				margin:0;
				position:absolute;
				left:10px;
				top:10px;
				padding:1px;
				border:1px solid #dbdbdb;
				vertical-align:top;
				overflow:hidden;
				}
				li.comment .avatar {
					display:block;
					vertical-align:top;
					overflow:hidden;
					}
				
				.commentlist ul.children {
					margin:20px 0 0 30px;
					}
					.commentlist ul.children li.comment {
						
						}
				
				.reply {
					position:absolute;
					right:20px;
					bottom:15px;
					}
					.reply a {
						display:inline-block;
						background:#000;
						padding:3px 8px;
						color:#fff;
						text-decoration:none;
						}
					.reply a:hover {
						background:#666;
						}
				
				
		.waiting-for-approval {
			
		}
	#trackbacks {
		
	}
		li.trackback {
			
		}
	p#no-comments {
		
	}
	#comments-form {
		
	}
	
	.allowed_tags {
		background:#eee;
		padding:15px;
		font-size:11px;
		font-family:"Courier New", Courier, monospace;
		color:#666;
		}
		.allowed_tags strong {
			font-family:Tahoma, Geneva, sans-serif;
			}
		#respond {
			padding:1em 0 0 0;
		}
		.cancel-comment-reply {
			
		}



/* Page
---------------------------------------- */
.page {
	
}
	#page-content {
		
	}
	#page-meta {
		
	}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}



/* Post
---------------------------------------- */
.post {
	
}
	.postContent {
		
	}
	.post-excerpt {
		
	}


article 
{
    margin-top:10px;
	margin-bottom:0px;
	overflow:hidden;
	width:100%;
	border-bottom:1px solid #eee;
}
article.single-post {
	margin-bottom:15px;
	overflow:hidden;
	width:100%;
	}
	article header h2 {
		margin-bottom:0;
		}
	.featured-thumbnail 
	{
		float:left;
	}
		.featured-thumbnail img {
			margin:0 20px 10px 0;
			border:1px solid #e1e1e1;
			}
		.featured-thumbnail.small img {
			padding:4px;
			margin:3px 15px 0 0;
			}
	.post-content {
		
	}
		.post-content .excerpt {
			margin-bottom:1.5em;
			}
		.pagination {
			
		}
			.pagination a {
				display:inline-block;
				padding:0 5px;
				background:#eee;
				}
				
	article footer {
		clear:both;
		}
	article.single-post footer {
		margin-top:20px;
		}
		
		
.post-meta {
	padding:.5em 0;
	width:100%;
	font-size:.92em;
	overflow:hidden;
	margin-bottom:1em;
}
.post-navigation {
	
}
p.gravatar {
	float:left;
	margin-right:20px;
	}


/* Image styling */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
	background:#fff;
	border:1px solid #e1e1e1;
	}
.alignright {
	float:right;
	margin:0 0 10px 20px;
	background:#fff;
	border:1px solid #e1e1e1;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	background:#fff;
	border:1px solid #e1e1e1;
	}
article .post-content img {
	max-width:710px;
	}




/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}

.search {
	
}

.author-info {
	width:100%;
	overflow:hidden;
	margin-bottom:3em;
	padding-bottom:2em;
	border-bottom:1px solid #eee;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		.author-info .avatar img {
			float:left;
			background:#fff;
			padding:7px;
			border:1px solid #dbdbdb;
			}




/* Author
---------------------------------------- */
#post-author {
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:20px;
	margin-bottom:2em;
	}
#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
	#post-author .gravatar img {
		background:#fff;
		border:1px solid #dbdbdb;
		padding:5px;
		}
#author-description {
	
	}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

/* Recent author comments */
#recent-author-comments {
	
}



/* Staff
---------------------------------------- */
article.staff-post {
	float:left;
	width:270px;
	margin-right:25px;
	}
	article.staff-post a {
		color:#969696;
		display:block;
		padding:10px 9px 15px 9px;
		text-decoration:none;
		}
	article.staff-post a:hover {
		color:#fff;
		background:#ffc60f;
		}
	article.staff-post h2 {
		font-size:16px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		color:#000 !important;
		margin-bottom:0;
		font-weight:bold;
		}
	article.staff-post a:hover h2 {
		color:#fff !important;
		}
	article.staff-post .thumbnail {
		margin-bottom:10px;
		overflow:hidden;
		float:left;
		display:inline;
		}
		article.staff-post .thumbnail img {
			float:left;
			border:1px solid #eee;
			}




/* 404
---------------------------------------- */
#error404 {
	padding:30px 0 100px 0;
}
	.error404-num {
		font-size:250px;
		line-height:1.2em;
		text-align:center;
		color:#999;
		}
	#error404 hgroup {
		margin:0 0 2em 0;
		padding-top:50px;
		}
		#error404 hgroup h1 {
			font-size:3em;
			margin-bottom:.2em;
			}





/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */
.header-title {
	margin-bottom:2.5em;
	}
	.header-title h1 {
		margin-bottom:.1em;
		}
	.header-title .page-desc {
		font-size:.91em;
		color:#999;
		}

#gallery {
	
	}
	#gallery .portfolio {
		width:100%;
		overflow:hidden;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#gallery .portfolio li {
			float:left;
			width:264px;
			margin:0 35px 50px 0;
			position:relative;
			padding:0;
			background:none;
			text-transform:none;
			}
		#gallery .portfolio li.nomargin {
			margin-right:0;
			}
			#gallery .portfolio li a.image-wrap {
				display:block;
				padding:1px;
				border:1px solid #eee;
				overflow:hidden;
				width:260px;
				height:150px;
				position:relative;
				background:#FFF url(../images/loading.gif) 50% 50% no-repeat;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover {
				
				}
				#gallery .portfolio li a.image-wrap img {
					float:left;
					}
			
			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding:8px 0 0 2px;
				}
			#gallery .portfolio p.excerpt {
				padding:0;
				}
			
			.zoom-icon {
				display:block;
				position:absolute;
				left:1px;
				top:-152px;
				width:260px;
				height:150px;
				background:url(../images/magnify.png) 50% 50% no-repeat;
				cursor:pointer;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover .zoom-icon {
				top:1px;
				}






/* Sidebar
---------------------------------------- */
#sidebar {
	
}
	#sidebar .inner {
		padding:0 80px 0 0;
		}
		.widget {
			margin-bottom:30px;
		}
			#sidebar h2 {
				font-size:20px;
				padding:8px 0 0 0;
				}
		ul.children {
			margin:0 0 0 20px;
			}

/* Calendar */
#calendar_wrap {
	padding:0 10px 0 15px;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:6px 0;
			border:none;
			}
		#wp-calendar caption {
			font-size:16px;
			color:#000;
			font-weight:bold;
			padding:4px 0;
			margin-bottom:5px;
			}
		#wp-calendar thead th {
			padding:7px 0;
			font-size:14px;
			background:#fff;
			color:#000;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}


/* FAQ
---------------------------------------- */
.faq_list {
	
	}
	.faq_list dt {
		color:#666;
		position:relative;
		padding:0 0 5px 28px;
		font-size:15px;
		font-weight:normal;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#333;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin-bottom:2em;
		color:#b2b2b2;
		}
		.faq_list dd .marker {
			top:3px;
			}



/* Custom widgets
---------------------------------------- */

/* Popular posts */
.popular-posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular-posts li {
		overflow:hidden;
		margin-bottom:1.5em;
		padding:0;
		background:none;
		}
		.popular-posts li .post-thumb {
			float:left;
			margin-right:20px;
			width:100px;
			height:100px;
			overflow:hidden;
			}

/* Post Cycle */
.post_cycle {
	list-style-type:none;
	padding:0 0 6px 0;
	margin:0;
	}
	.post_cycle li {
		border-top:1px solid #eee;
		padding:22px 0 22px 0;
		text-transform:none;
		overflow:hidden;
		background:none;
		font-size:13px;
		color:#656565;
		}
	.post_cycle li:first-child {
		border-top:none;
		padding-top:0;
		}
		.post_cycle li h3 a {
			color:#080806;
			}
		.post_cycle li h3 a:hover {
			text-decoration:none;
			color:#ffc60f;
			}
		.post_cycle li .featured-thumbnail img {
			margin-bottom:0;
			}
		.post_cycle li .link-more {
			margin-left:30px;
			}


/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle li {
		float:left;
		width:98px;
		height:100px;
		margin:0 1px 1px 0;
		overflow:hidden;
		background:none;
		padding:0;
		}
		.folio_cycle li .thumbnail {
			overflow:hidden;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			}
		.folio_cycle li .thumbnail:hover {
			opacity:.7;
			}


/* Testimonials */
.testimonials {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.testimonials li {
		background:#fff;
		padding:1.5em;
		margin-bottom:2em;
		margin-right:5px;
		box-shadow:0 0 3px rgba(0, 0, 0, .1);
		-moz-box-shadow:0 0 3px rgba(0, 0, 0, .1);
		-webkit-box-shadow:0 0 3px rgba(0, 0, 0, .1);
		text-transform:none;
		}
		.testimonials li blockquote {
			border:none;
			background:url(../images/quotes.png) no-repeat 0 0;
			margin:0;
			padding:0;
			}
			.testimonials li blockquote p {
				margin-bottom:.5em;
				}
		.testimonials li .name-testi {
			padding:0 0 0 2.2em;
			text-align:right;
			font-weight:bold;
			color:#5d5d5d;
			}
			.testimonials li .name-testi a {
				font-weight:normal;
				color:#00c3e4;
				}
				



/* Footer
---------------------------------------- */
#footer {
	
}
	#footer .grid_12 {
		border-top:1px solid #b6b6b6;
		padding:20px 0 10px 0;
		}
	
	/* Copyright */
	.copy {
		float:left;
		font-size:1.5em;
		color:#848484;
		}
		.copy a.privacy {
			border-left:1px solid #d9d9d9;
			padding-left:18px;
			margin-left:15px;
			}
		.copy a {
			color:#848484;
			text-decoration:none;
			}
		.copy a:hover {
			color:red;
			text-decoration:none;
			}
	
	/* Phone */
	#footer dl {
		float:right;
		padding:0;
		margin:0;
		}
	#footer dl dt {
		text-transform:uppercase;
		color:#313737;
		font-size:1.65em;
		line-height:1.2em;
		font-family: 'Raleway', arial, serif;
		font-weight:normal;
		}
	#footer dl dd {
		color:#999;
		font-size:1.5em;
		padding:0;
		margin-top:5px;
		}
	
	
	
	/* Footer widget */
	#widget-footer {
		
	}
	
	/* Footer navigation */
	nav.footer {
		float:right;
	}
		nav.footer ul {
			
			}
			nav.footer ul li {
				list-style-type:none;
				float:left;
				padding-left:15px;
				}



/* Misc
---------------------------------------- */
.button {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	display:inline-block;
	padding:10px 21px;
	background:#727272;
	color:#fff;
	text-decoration:none;
	font-size:1.39em;
	font-weight:normal;
	}
.button:hover {
	background:#999 !important;
	text-decoration:none !important;
	}

.link-more {
	font-weight:bold;
	color:#5d5d5d;
	}


.no-results {
	
}

.widget-area {
	
}

.hr {
	height:1px;
	background:#eee;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 0;
	}

/* Address */
.address {
	padding:0 0 0 10px;
	}
.address dt {
	margin-bottom:1.5em;
	}
.address dd {
	margin-bottom:0;
	width:100%;
	overflow:hidden;
	}
	.address dd span {
		float:left;
		width:100px;
		}



/* Forms
---------------------------------------- */

/* Form defaults */
input, select, textarea { 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/* Comment form */
#commentform {
	
	}
	#commentform p.field {
		margin-bottom:5px;
		}
		#commentform small {
			color:#8b8b8b;
			}
	#commentform input[type=text] {
		width:250px;
		padding:4px;
		}
	#commentform textarea {
		width:460px;
		height:150px;
		padding:4px;
		overflow:auto;
		}
	#commentform #submit {
		background:#000;
		height:30px;
		line-height:30px;
		padding:0 10px;
		color:#fff;
		cursor:pointer;
		border:none;
		}
	#commentform #submit:hover {
		background:#bdbdbd;
		color:#000;
		}
	
	#commentform input[type=text]:hover,
	#commentform input[type=text]:focus,
	#commentform textarea:hover,
	#commentform textarea:focus {
		background:#f0f0f0;
		}




/* Contact form */
	.wpcf7-form p.field {
		margin-bottom:5px;
		line-height:1.8em;
		}
	.wpcf7-form p.field input {
		background:#fafafa;
		padding:5px 0 5px 6px;
		width:330px;
		border:1px solid #dbdbdb;
		border-color:#dbdbdb #eee #eee #dbdbdb;
		margin-right:10px;
		color:#111;
		font-size:12px;
		}
		.wpcf7-form p.field small {
			color:red;
			}
	.wpcf7-form textarea {
		width:480px;
		height:160px;
		background:#fafafa;
		font-size:1em;
		padding:5px 0 5px 6px;
		border:1px solid #dbdbdb;
		border-color:#dbdbdb #eee #eee #dbdbdb;
		overflow:auto;
		color:#111;
		font-size:12px;
		margin-bottom:20px;
		}
	.wpcf7-form .submit-wrap {
		margin-bottom:0;
		}
	
	.wpcf7-form .submit-wrap input {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		display:inline-block;
		padding:10px 0;
		width:135px;
		text-align:center;
		background:#727272;
		color:#fff;
		text-decoration:none;
		font-size:1.39em;
		font-weight:normal;
		cursor:pointer;
		border:none;
		}
	.wpcf7-form .submit-wrap input:hover {
		background:#999 !important;
		text-decoration:none !important;
		}
	.wpcf7-form .submit-wrap input:hover {
		background:#000;
		color:#fff;
		}
		.wpcf7-not-valid-tip {
			width:200px !important;
			position:absolute;
			left:100% !important;
			top:-5px !important;
			padding:1px 0 1px 5px !important;
			background:none !important;
			color:red !important;
			border:none !important;
			}




/* Sidebar search form */
#searchform {
	
	}
#searchform .searching {
		width:160px;
		margin-right:10px;
		}
	#searchform .submit {
		width:60px;
		cursor:pointer;
		}



/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.center { text-align:center;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */