﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="m-pre-portal.aspx.cs" Inherits="PhongCachMobile.m_pre_portal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PhongCachMobile</title>
      <link rel="stylesheet" href="m/css/All-Stylesheets.css">
</head>
<body>
   <div runat="server" visible="true" id="divApp" style="font-size:48px;background-color:#959595; position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align:center;vertical-align:middle;">
   <br />
        <div style='float:right;'><a href='/m-gia-hot'>X  &nbsp; &nbsp;</a></div>
        <br />
        <p>Cập nhật các chương trình<br />KHUYẾN MẠI mới nhất
        <br /><br />
        <a href='https://play.google.com/store/apps/details?id=phongcachmobile.com.vn.android'>Android</a> &nbsp;  &nbsp; 
        <a href='https://itunes.apple.com/us/app/m-promotion/id948962029?ls=1&mt=8'>iOS</a>
        </p>

    </div>
</body>
</html>
