﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Home.master.cs" Inherits="PhongCachMobile.admin.master.Home" %>

<%@ Register Src="uc/ucHeader.ascx" TagName="ucHeader" TagPrefix="ucHeader" %>
<%@ Register Src="uc/ucFooter.ascx" TagName="ucFooter" TagPrefix="ucFooter" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- The HTML5 Shim is required for older browsers, mainly older versions IE -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
    	<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" &nbsp;alt="" /></a>
    </div>
  <![endif]-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../../images/fav.ico"  type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/pagenavi-css.css" type="text/css" media="all" />
    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.loader.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
        // initialise plugins
        jQuery(function () {
            // main navigation init
            jQuery('ul.sf-menu').superfish({
                delay: 1000, 		// one second delay on mouseout 
                animation: { opacity: 'show', height: 'show' }, // fade-in and slide-down animation 
                speed: 'normal',  // faster animation speed 
                autoArrows: false,        // generation of arrow mark-up (for submenu) 
                dropShadows: true    // drop shadows (for submenu)
            });

            // prettyphoto init
            jQuery("a[rel^='prettyPhoto']").prettyPhoto({
                animationSpeed: 'slow',
                theme: 'facebook',
                slideshow: false,
                autoplay_slideshow: false,
                show_title: true,
                overlay_gallery: false
            });

            // box effects
            jQuery(".box").hover(function () {
                jQuery(this).find(".icon").stop().animate({ top: "28" }, { easing: "easeOutElastic", duration: 800 })
            }, function () {
                jQuery(this).find(".icon").stop().animate({ top: "0" }, { easing: "easeOutElastic", duration: 800 })
            });

        });
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="">
    <div id="main">
        <!-- this encompasses the entire Web site -->
        <ucHeader:ucHeader ID="idUCHeader" runat="server" />
        <asp:ContentPlaceHolder ID="content" runat="server">
        </asp:ContentPlaceHolder>
        <!--.container-->
        <ucFooter:ucFooter ID="idUCFooter" runat="server" />
    </div>
    <!--#main-->
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- this is used by many Wordpress features and for plugins to work proporly -->
    <!-- Show Google Analytics -->
</body>
</html>
