@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

a {
color: black;
text-decoration: none;
}

html, body {
	font-family: Tahoma, Geneva, sans-serif!important;
}
h1 {
text-transform: none;
padding: 0;
background: none;
border: none;
margin-top: -5px;
font-size: 24px;
line-height: 18px;
color: #be2603;
}

h2.subtitle, h3.subtitle, h4.subtitle
{
    margin: 0 0 -3px 0;
padding: 17px 0 0px 0;
font-size: 12px;
font-weight: bold;
color: #be2603;
text-transform: uppercase;
}
ul.bullet li {padding:7px 0 0 12px;background:url(../../images/bullet_alt.png) 0 12px no-repeat; line-height:18px;color:#696969}
ul.bullet li span {font-weight:bold; color:black;}


#page .ui-header .ui-btn {
	background: none;
	border: none;
	/*top: 9px;*/
	padding-top: 4px;
}
#page .ui-header {
	padding-top: 6px;
	padding-bottom: 6px;
}
#page .ui-header .ui-btn-inner {
	border: none;
}

.info 
{
    padding-bottom:15px;
}
.info .nameuser a
{
    color: #be2603;
    font-weight:bold;
    margin-right:2px;
}

.info .timepost
{
      color: #be2603;
}

.info .viewcount
{
}
.info .viewcount i
{
      margin-right: 4px;
}
.info .viewcount .count
{
       color: #be2603;
       font-weight:bold;
}

.news-image {
    display: block;
    text-align: center;
    margin: 0 0 14px;
}

.info .commentcount
{
}

.info .commentcount i
{
      margin-right: 4px;
}

.info .commentcount .count
{
       color: #be2603;
       font-weight:bold;
}


.page-title h2.subtitle a
{
    color:black;
} 
.page-title h2.subtitle a:hover
{
    color:#be2603;
} 
.page-title,
.category-title {padding:0; margin:0 0 10px; position:relative;}
.category-title {border:0;}
span.property {
    font: bold 12px "Arial";
    color: #be2603;
}
span#our_price_display {
display: block;
color: #be2603;
float: left;
padding: 0px 0 0 0;
font-size: 20px;
}

@media only screen and (min-width: 310px) and (max-width:500px) {
#adBottom {
left:0;
position: fixed;
text-align:center;
bottom: 0px;
width:100%;
}
}

#buy_block {margin:10px 0 0 0;border-width:1px 0 0 0;border-style:solid;}
#buy_block p {}


/* price */
#buy_block div.price {padding:10px 0 20px 0;overflow:hidden;}

#buy_block span.our_price_display {height:27px;display:block;float:left;color:Black;}
#buy_block span#our_price_display {display:block;color:#be2603;float:left; padding:0px 0 0 0;font-size:20px;}

#buy_block span.our_price_display_tax {display:block;float:left;padding:6px 0 0 5px;}


/* quantity */
#buy_block #quantity_wanted_p {float:right;padding:0 10px 0 0;}
#buy_block #quantity_wanted_p label {float:right;padding:6px 7px 0 0;text-align:right;}
#buy_block #quantity_wanted_p #quantity_wanted {width:20px;height:15px;float:right;padding:5px;text-align:center;}


/* add to cart */
#buy_block #add_to_cart {float:right;margin:0;padding:0;}
#buy_block #add_to_cart input {display:none;}


/* minimal quantity (optional) */
#buy_block #minimal_quantity_wanted_p {margin:0;padding:17px 0;border-width:1px 0 0 0;border-style:solid;}
#buy_block #minimal_quantity_wanted_p #minimal_quantity_label {margin:0 5px;}


/* other product options */
#buy_block .other_options {border-width:1px 0 0 0;border-style:solid;}


/* taxes & discounts */
#buy_block #other_prices {width:50%;float:left;padding:10px 0 0 0;}
#buy_block #discountdesc {padding:10px 0 0 0;color:#b2b2b2s;}

#buy_block #other_prices,
#buy_block #other_prices p,
#buy_block #other_prices span {font:12px "Arial";}

#buy_block #other_prices > p {width:100%;min-height:18px;margin:0;padding:13px 0 0 0; }
#buy_block #other_prices > p#old_price{color:#33A33B;}

#buy_block #old_price {text-decoration:line-through;}
#buy_block #reduction_percent {}
#buy_block .pack_price {}
#buy_block .price-ecotax {color:#229922;}

#buy_block #pQuantityAvailable {font-weight:bold;}
#buy_block #pQuantityAvailable span {font-weight:bold;color:#333;}

#buy_block #last_quantities {font-weight:bold !important;color:#ff0000;}

#buy_block #product_reference label {font-weight:bold;}


/* attributes */
#buy_block #attributes {width:50%;float:right;padding:10px 0 0 0;}
#buy_block #attributes p {margin:0;padding:10px 0 0 0;overflow:hidden;}

#buy_block span.on_sale,
#buy_block span.discount {height:18px;display:block;float:right;margin:10px 0 0 0;padding:3px 7px 0 7px;background:#be2603;color:#fff;}

#buy_block #attributes label {float:right;padding:3px 7px 0 0;text-align:right;}
#buy_block #attributes select {width:120px;height:21px;float:right;padding:1px;}


.compare {
margin: 0;
padding: 8px 0 0 0;
}
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large 
{height:27px !important;display:inline-block;padding:0 10px;background:url(../../images/bttns.png) 0 0 repeat-x;border:none;font:11px "Arial" !important;color:#fff !important;text-decoration:none !important;text-transform:uppercase;cursor:pointer;
-webkit-border-radius:2px;
border-radius:2px;
}
.account-login  input[type=text],
input[type=password],
textarea, select {padding:5px;}
.account-login .col2-set{display:inline-block;}
.account-login .new-users .buttons-set{ padding-left:0;}
.account-login .new-users .buttons-set button.button {float:left;}
.account-login .new-users {  float:left; width:320px; background:url(../../images/bg-login.gif) no-repeat left bottom #ffffff; min-height:280px;}
.account-login .new-users h2{ padding:0 0 5px 0; border-bottom:1px solid #e6e6e6; font-size:12px; text-transform:uppercase; color:#be2603;}
.account-login .new-users p{ font-size:12px; color:#7f7f7f; line-height:18px; padding:13px 0 12px 0;}
.registered-users {background:url(../../images/bg-login-2.gif) no-repeat left bottom #ffffff; min-height:280px;}
.registered-users h2{ padding:0 0 5px 0; border-bottom:1px solid #e6e6e6; font-size:12px; text-transform:uppercase; color:#be2603;}
.registered-users  p{ font-size:12px; color:#7f7f7f; line-height:18px; padding:13px 0 12px 0;}
.registered-users  p.required{ color:red}
.registered-users .buttons-set button.button{ float:none;}
.registered-users .f-left{ float:none!important; display:table; font-size:12px; font-weight:bold; color: #7f7f7f; text-decoration:none; padding-bottom:12px;}
.registered-users .f-left:hover{ color: #be2603;}
.registered-users .buttons-set {clear: both;margin:-19px 0 0 0;padding:5px 0px 0px 0px;}
.account-create form .fieldset:first-child{ margin-bottom:32px;}

.register {min-height:280px;}
.register h2{ padding:0 0 5px 0; border-bottom:1px solid #e6e6e6; font-size:12px; text-transform:uppercase; color:#be2603;}
.register p{ font-size:12px; color:#7f7f7f; line-height:18px; padding:13px 0 12px 0;}

.account-login ul.feature
{
    list-style: none;
    padding: 15px 0 12px 9px;
    margin:0px;
}
.account-login ul.feature li
{
    list-style: none;
    font-size: 12px;
    padding: 0 0 9px 26px;
    background: url(../images/marker-list.png) left 3px no-repeat;
}

.badge-custom
{
    width: 95px;
height: 58px;
position: absolute;
top: 0;
right: -5px;
z-index: 4;
}
.badge-sap-co-hang {
background: url('../../images/sap-co-hang-badge.png') left top no-repeat;
}

.badge-tam-het {
background: url('ge.../images/tam-het-badge.png') left top no-repeat;
}

.desc{ font-size:11px;min-height:85px;}
div.std {clear:both;}

.toolbar { border:1px solid #ececec; #fff; margin-bottom:10px;color:Black;}
.toolbar select {text-align:center; min-width:63px;}
.toolbar .pager { padding:4px 9px 6px 19px;}
.toolbar .sorter {}
.toolbar-bottom {}
* { margin:0; padding:0; }

.btnAddCart
{
    height: 27px !important;
display: inline-block;
padding: 0 10px;
background: url(../../images/bttns.png) 0 0 repeat-x;
border: none;
font: 11px "Arial" !important;
color: #fff !important;
text-decoration: none !important;
text-transform: uppercase;
cursor: pointer;
-webkit-border-radius: 2px;
border-radius: 2px;
float:left;
margin-right: 10px;
}

.products-grid .price-box { margin:5px 0 8px 0; width:100%;}
.products-grid .availability { line-height:21px; }
.products-grid .actions { margin:0; padding-top:7px; overflow:hidden; position:relative; padding-bottom:10px;display:inline-block}
.products-grid .actions > span{ position:absolute; left:0; bottom:-3px;}
.products-grid .desc.std strong{ color:#be2603;}
.products-grid .desc.std{ overflow:hidden; color:#b2b2b2; padding:5px 0;}
.product-box-2{background:url(../../images/tail-grid-bottom.gif) 0 0 repeat-x #fdfdfd; padding:16px 18px 0px 18px; margin:0 -18px; overflow:hidden; position:relative; }
.product-box-2 > span {  position:absolute; left:18px; bottom:-3px;}
.products-grid .ratings .amount { float:right; padding-top:4px;}
.products-grid .ratings .amount a{ text-decoration:none; color:#383737;}
.products-grid .ratings .amount a:hover{ color:#be2603;}
.products-grid .minimal-price-link { float:right; padding-top:1px; text-decoration:none;}
.products-grid .minimal-price-link span{ font-size:10px; display:inline-block; text-decoration:none;}
.products-grid .no-rating a{text-decoration:none; color:#383737; padding-top:0px; display:inline-block;}
.products-grid .no-rating a:hover{ color:#be2603;}
.products-grid .no-rating{ padding-top:8px; margin-bottom:7px}
.products-grid .add-to-links li{ width:31px; float:left;}
.products-grid .add-to-links li:first-child{ margin-right:10px;}
.products-grid button.button{ float:left; margin-right:9px; margin-bottom:8px;}

.products-grid .product-name ,
.products-list .product-name { margin:0; font-weight:bold; font-size:13px; padding-bottom:5px; }

.products-grid .product-name a,
.products-list .product-name a { font-size:12px; color:#515151; font-weight:bold; text-decoration:none; display:inline-block;}
.products-grid .product-name a:hover,
.products-list .product-name a:hover{ color:#be2603;}


	
.products-grid .add-to-links .link-wishlist,
.products-list .add-to-links .link-wishlist {background:url(../images/link-wishlist.gif) 0 0 no-repeat; width:31px; height:31px; text-indent:-9999px; display:inline-block;}
.products-grid .add-to-links .link-compare,
.products-list .add-to-links .link-compare{background:url(../images/link-compare.gif) 0 0 no-repeat; width:31px; height:31px; text-indent:-9999px; display:inline-block;}
.add-to-links .separator { display:none; }



.page-title h2 { font-size:14px; color:#272727; font-family: 'Open Sans', sans-serif; text-transform:uppercase; border:solid 1px #dcdcdc; border-left:solid 8px #be2603; border-radius:3px; padding:11px 12px 11px 12px; margin:0;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5'); /* IE6-9 */
	   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	  background: -moz-linear-gradient(top,  #ffffff,  #f5f5f5); /* firefox 3.6+ */
	  background: -o-linear-gradient(top,  #ffffff,  #f5f5f5); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #ffffff,  #f5f5f5); /* IE10+ */
	  font-weight:bold;
}
.banner_title
{
      width: 427px;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    top: 120px;
    z-index: 15;
    font-family: Arial, Helvetica, sans-serif;
    color: #191919;
    background: url(../../images/banner-bg.png) repeat 0 0;
    font-size: 11px;
    text-transform: uppercase;
    padding: 7px 15px 7px 15px;
}

.logo {
	text-align: center;
	position: absolute;
	overflow: hidden;
	top: 8%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.enter {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	overflow: hidden;
	font-size: 18px;
	color: #c63b40!important;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top:45%;
}
.enter i {
	color: #c63b40!important;
}
.enter i:hover {
	color: #fff!important;
}
.header h1 {
	font-family: 'Oswald', sans-serif!important;
	font-weight: 400!important;
	line-height: normal!important;
	padding: 0px!important;
	margin: 0px!important;
	font-size: 28px!important;
	text-decoration: none!important;
	color: #FFF!important;
}
.header a {
	line-height: normal!important;
	text-decoration: none!important;
	color: #FFF!important;
	font-weight: 400!important;
}
.header a:link {
	line-height: normal!important;
	text-decoration: none!important;
	color: #FFF!important;
	font-weight: 400!important;
}
.header a:hover {
	line-height: normal!important;
	text-decoration: none!important;
	color: #FFF!important;
	font-weight: 400!important;
}
.header a:active {
	line-height: normal!important;
	text-decoration: none!important;
	color: #FFF!important;
	font-weight: 400!important;
}
.header a i {
	font-size: 24px!important;
	font-weight: normal!important;
	vertical-align:middle!important;
	padding-top:4px;
}
/********************************************************************************  Suppersized Slider Starts */
.slider-text {
	position: absolute;
	overflow: hidden;
	bottom: 15%;
	padding-left: 12px;
	padding-right: 12px;
}
#slidecaption {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 700;
	overflow: hidden;
	color: white;
}
.slidedescription {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-top: 2px;
}
.social-icons {
	position: absolute;
	overflow: hidden;
	top: 80%;
}
.center {
	text-align: center;
}
/********************************************************************************  Suppersized Slider Ends */
/********************************************************************************  New Theme Added - Starts */
.ui-bar-f {
	border: 1px solid #000;
	background: #000;
	color: #fff;
	font-weight: 700;
}
.ui-bar-f, .ui-bar-f input, .ui-bar-f select, .ui-bar-f textarea, .ui-bar-f button {
	font-family: Tahoma, Geneva, sans-serif!important;
}
.ui-bar-f .ui-link-inherit {
	color: #fff
}
.ui-bar-f a.ui-link {
	color: #ddf0f8;
	font-weight: 700
}
.ui-bar-f a.ui-link:visited {
	color: #ddf0f8
}
.ui-bar-f a.ui-link:hover {
	color: #ddf0f8
}
.ui-bar-f a.ui-link:active {
	color: #ddf0f8
}
.ui-body-f, .ui-overlay-f {
	border: 1px solid #999;
	background: #f3f3f3;
	color: #222;
	font-weight: 400;
}
.ui-overlay-f {
	background-image: none;
	border-width: 0
}
.ui-body-f, .ui-body-f input, .ui-body-f select, .ui-body-f textarea, .ui-body-f button {
	font-family: Tahoma, Geneva, sans-serif!important;
}
.ui-body-f .ui-link-inherit {
	color: #333
}
.ui-body-f .ui-link {
	color: #fff;
	font-weight: 700
}
.ui-body-f .ui-link:visited {
	color: #fff
}
.ui-body-f .ui-link:hover {
	color: #fff
}
.ui-body-f .ui-link:active {
	color: #fff
}
.ui-btn-up-f {
	border: 1px solid #044062;
	background: #396b9e;
	font-weight: 700;
	color: #fff;
}
.ui-btn-up-f:visited, .ui-btn-up-f a.ui-link-inherit {
	color: #fff
}
.ui-btn-hover-f {
	border: 1px solid #00415e;
	background: #4b88b6;
	font-weight: 700;
	color: #fff;
}
.ui-btn-hover-f:visited, .ui-btn-hover-f:hover, .ui-btn-hover-f a.ui-link-inherit {
	color: #fff
}
.ui-btn-down-f {
	border: 1px solid #225377;
	background: #4e89c5;
	font-weight: 700;
	color: #fff;
}
.ui-btn-down-f:visited, .ui-btn-down-f:hover, .ui-btn-down-f a.ui-link-inherit {
	color: #fff
}
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
	font-family: Tahoma, Geneva, sans-serif!important;
	text-decoration: none
}
.ui-bar-g {
	border: 1px solid #424242;
	background: #e6e6e6;
	color: #424242;
	font-weight: 700;
}
.ui-bar-g, .ui-bar-g input, .ui-bar-g select, .ui-bar-g textarea, .ui-bar-g button {
	font-family: Tahoma, Geneva, sans-serif!important;
}
.ui-bar-g .ui-link-inherit {
	color: #424242
}
.ui-bar-g g.ui-link {
	color: #424242;
	font-weight: 700
}
.ui-bar-g g.ui-link:visited {
	color: #424242
}
.ui-bar-g g.ui-link:hover {
	color: #424242
}
.ui-bar-g g.ui-link:active {
	color: #424242
}
.ui-body-g, .ui-overlay-g {
	border: 1px solid #424242;
	background: #e6e6e6;
	color: #424242;
	font-weight: 400;
}
.ui-overlay-g {
	background-image: none;
	border-width: 0
}
.ui-body-g, .ui-body-g input, .ui-body-g select, .ui-body-g textarea, .ui-body-g button {
	font-family: Tahoma, Geneva, sans-serif!important;
}
.ui-body-g .ui-link-inherit {
	color: #424242
}
.ui-body-g .ui-link {
	color: #424242;
	font-weight: 400
}
.ui-body-g .ui-link:visited {
	color: #424242
}
.ui-body-g .ui-link:hover {
	color: #424242
}
.ui-body-g .ui-link:active {
	color: #424242
}
.ui-btn-up-g {
	border: 1px solid #424242;
	background: #000;
	font-weight: 700;
	color: #424242;
}
.ui-btn-up-g:visited, .ui-btn-up-a a.ui-link-inherit {
	color: #424242
}
.ui-btn-hover-g {
	border: 1px solid #000;
	background: #444;
	font-weight: 700;
	color: #424242;
	text-shadow: 0 1px 0 #111;
}
.ui-btn-hover-g:visited, .ui-btn-hover-g:hover, .ui-btn-hover-g g.ui-link-inherit {
	color: #424242
}
.ui-btn-down-a {
	border: 1px solid #000;
	background: #222;
	font-weight: 700;
	color: #424242;
	text-shadow: 0 1px 0 #111;
}
.ui-btn-down-g:visited, .ui-btn-down-g:hover, .ui-btn-down-g g.ui-link-inherit {
	color: #424242
}
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
	font-family: Tahoma, Geneva, sans-serif!important;
	text-decoration: none
}
/********************************************************************************  New Theme Added - Ends */


/*  Right Panel Social Icons */
.l-social-icons {
	padding-top: 8px;
	padding-bottom: 7px;
}
.l-social-icons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.l-social-icons ul li {
	display: inline-block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}
.r-social-icons {
	padding-top: 16px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #424242;
}
.r-social-icons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.r-social-icons ul li {
	display: inline-block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}
.r-phone {
	font-size: 16px;
	text-align: center;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #424242;
	font-family: 'Oswald', sans-serif!important;
	font-weight: 400;
	line-height: 20px;
	vertical-align: middle!important;
	padding-top: 10px;
	padding-bottom: 8px;
}
.r-phone>i {
	vertical-align: middle!important;
	padding-right: 8px;
	text-align: center!important;
}
.r-phone a {
	text-decoration: none;
}
.r-phone a:link {
	text-decoration: none;
}
.r-phone a:hover {
	text-decoration: none;
}
.r-phone a:active {
	text-decoration: none;
}


.r-tweets {
	margin: 0px;
	padding: 16px 16px 0px 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #424242;
}
.r-tweets h1 {
	font-size: 34px!important;
}
.social-like {
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 10px;
}
span.heading {
	font-size: 18px!important;
	font-weight: 400;
	padding-left: 10px;
}

.banner_title_m
{
    width:312px;
    position: absolute;
    overflow: hidden;
    z-index: 15;
    font-family: Arial, Helvetica, sans-serif;
    color: #191919;
    background: url(../../images/banner-bg.png) repeat 0 0;
     font-size: 10px;
    text-transform: uppercase;
    padding: 7px 5px 7px 5px;
}


h1.icon-heading {
	background-image: url(../images/icons/arrow-heading-big.png);
	font-size: 34px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 46px;/*margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;*/
}
#right-panel h1.icon-heading {
	background-image: url(../images/icons/arrow-heading.png);
	font-size: 26px;
	font-family: 'Oswald', sans-serif!important;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.normal {
	font-weight: 300;
}
.contact-info{
	padding-left:46px;
	line-height:24px;
}
.r-contact-info 
{
    font-size:14px;
	margin: 0px;
	padding: 26px;
	line-height:24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #424242;
}
.r-contact-info a {
	color: #a63035;
}
.r-contact-info a:link {
	color: #a63035;
}
.r-contact-info a:hover {
	color: #a63035!important;
	text-decoration: none!important;
}
.r-contact-info a:active {
	color: #a63035;
}
hr {
	margin-top: 20px;
	margin-bottom: 10px;
}
h1, h2, h3, h4 {
	font-weight: 400;
	line-height: normal!important;
}
hr {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #a63035;
	clear: both!important;
}
.banner {
	/*margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px*/
	margin-bottom:10px;
}

.topbg2
{
width: 100%;
height: 49px;
top: 649px;
left: 21px;
z-index: 20007;
background:black;
overflow:hidden;
display:inline-block;

}

.products-grid .product-image { display:block; text-align:center; margin:0 0 14px;min-height:150px;}

a.link1
{
    color:White;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration: none;
}

.topbg
{
width: 100%;
height: 49px;
top: 649px;
left: 21px;
z-index: 20007;
background-image: linear-gradient(rgb(210, 59, 25), rgb(190, 38, 3));
overflow:hidden;
display:inline-block;

}


.topbg .title, .topbg2 .title
{
height: 20px;
padding-top:5px;
padding-left: 15px;
z-index: 20023;
}

.topbg .subtitle, .topbg2 .subtitle
{
height: 25px;
padding-left: 15px;
z-index: 20024;
}


.products-grid li:hover{
	-webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.2);
}
.products-grid li {width:150px; border:1px solid #dcdcdc; margin-bottom:15px; margin-right:15px; background:white; display:inline-block }
.products-grid .item 
{
    padding:16px 18px 0px 18px; 
    position:relative;
}

/* link/span button */
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large, a.btnAddCart span, 
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {line-height:27px !important;}

.regular-price .price {
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #be2603;
}


/* Pager */
.pager { padding:4px 9px 6px 4px; margin:5px 0; text-align:center; }
.pager .amount { float:left; padding-top:2px; }
.pager .amount span{ font-weight:bold; color:#be2603;}
.pager .amount.spinner{ padding-top:13px;}
.pager .amount strong{ font-weight:normal; color:#383737; display:inline-block; padding-top:0px;}
.pager .amount strong span{ font-weight:bold; color:#be2603;}
.pager .limiter { display:inline-block; color:#000000; min-width:110px;  }
.pager .limiter select  { padding:0px;}
.pager .limiter label{color:#000000; display:inline-block; padding-top:2px; padding-right:6px;}
.pager .limiter .jqTransformSelectWrapper { width:40px!important; text-align: center; padding-right:20px!important;}
.pager .limiter .jqTransformSelectWrapper ul{ width:58px!important;}
.pager .pages { margin:3px 15px 0 15px; }
.pager .pages  strong{ font-weight:normal; color:#000;padding-right:7px;}
.pager .pages ol { display:inline;  }
.pager .pages ol span span {padding:0px 5px 0px 5px; margin-right:5px;}
.pager .pages ol span  a{ display:inline; border:1px solid #ececec;  padding:0px 5px 0px 5px;background:url(../../images/tail-pag.gif) 0 0 repeat-x #fbfbfb; color:#737373; font-size:11px; font-weight:bold; margin-right:3px; }
.pager .pages ol span  a:hover{border:1px solid #333333; background:#333333; color:#fff; cursor:pointer; }
.pager .pages ol span span.current {font-size: 11px;
font-weight: bold; border:1px solid #333333; background:#333333; color:#fff;}
.pager ol > li:first-child > a {text-decoration:none;}
.pager ol > li > a {}
.pager .sort-by { float:right; min-width:152px; }
.pager .sort-by .jqTransformSelectWrapper{ width:100px!important; }
.pager .sort-by .jqTransformSelectWrapper span{  padding-left:7px;}
.pager .sort-by > a{ display:none;}
.pager .sort-by label{ color:#000; display:inline-block; padding-top:2px; padding-right:6px; float:left;}


.welcome-text {
	padding-bottom: 2px!important;
}
.index-pic-text p {
	padding-right: 10px;
}
.footer {
	margin-top: 20px!important;
	text-align: center!important;
	padding-top: 20px!important;
	padding-bottom: 8px!important;
	border-top-width: 1px!important;
	border-top-style: solid!important;
	border-top-color: transparent!important;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clear {
	float: none;
}
.view-more-icon {
	padding-top: 8px!important;
	float: right;
}
/* ----------------------------------------------- Carousel Starts --------------------------------------*/

#our-skills .item {
	margin: 3px;
}
#our-skills .item img {
	display: block;
	width: 100%;
	height: auto;
}
#testimonials .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonials strong {
	font-size: 14px;
	font-style: italic;
	color: #dddddd;
}
#photo-gallery .item {
	margin: 3px;
}
#photo-gallery .item img {
	display: block;
	width: 100%;
	height: auto;
}
#our-team .item {
	margin: 3px;
}
#our-team h4 {
	font-size: 18px;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 0px;
	margin-top: 12px;
	padding-bottom: 0px;
}
#our-team h5 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 4px;
	padding-bottom: 4px;
	font-style: italic;
	color: #dddddd;
}
#our-team .item img {
	display: block;
	width: 100%;
	height: auto;
}
.services-icons-1 h2 {
	font-size: 30px!important;
}
.services-icons-1 div {
	padding-bottom: 10px;
	padding-right: 10px;
}
.services-icons-1 div img {
	float: left;
	padding-right: 10px;
}
#services-icons {
	padding-top: 30px;
	padding-bottom: 10px;
}
#services-icons .item {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
#services-icons h2 {
	font-size: 26px;
}
#products-1 {
}
ul.ulRecentNews
{
    list-style:none;
}
.playvbtn {
height: 0px;
display:block;
}
#products-1 .item {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
#products-1 .item h2 {
	padding-top: 4px!important;
	margin-top: 4px!important;
	padding-bottom: 0px!important;
	margin-bottom: 0px!important;
	font-size: 32px!important;
}
#products-1 .item h3 {
	padding-top: 0px!important;
	margin-top: 0px!important;
	padding-bottom: 5px!important;
	margin-bottom: 5px!important;
	font-size: 24px!important;
}
#products-2 .item {
	margin: 3px;
	text-align: center;
}
#products-2 h4 {
	font-size: 20px;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 2px;
	margin-top: 12px;
	padding-bottom: 2px;
}
#products-2 h5 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 2px;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-bottom: 4px;
}
#products-2 .item img {
	display: block;
	width: 100%;
	height: auto;
}
/* ----------------------------------------------- Carousel Ends --------------------------------------*/

/* -------------------------------------------------------------------------------------- Gallery Page Starts*/
#Gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}
.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}
.gallery:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.gallery li {
	float: left;
	width: 33.33333333%;
}
.gallery li a {
	display: block;
	margin: 3px;/*border:1px solid #3c3c3c;*/
}
.gallery li img {
	display: block;
	width: 100%;
}
#Gallery .ui-content {
	overflow: auto;
}
#Gallery1 .ui-content {
	overflow: auto;
}
#Gallery2 .ui-content {
	overflow: auto;
}
#Gallery2 .ui-content {
	overflow: auto;
}
#Gallery3 .ui-content {
	overflow: auto;
}
#Gallery4 .ui-content {
	overflow: auto;
}
#Gallery5 .ui-content {
	overflow: auto;
}
#Gallery6 .ui-content {
	overflow: auto;
}
#Gallery7 .ui-content {
	overflow: auto;
}
#Gallery8 .ui-content {
	overflow: auto;
}
#Gallery9 .ui-content {
	overflow: auto;
}
#Gallery10 .ui-content {
	overflow: auto;
}
/* For inline examples only */
#PhotoSwipeTarget {
	width: 100%;
	height: 200px;
}
#Indicators {
	text-align: center;
	margin-top: 20px;
}
#Indicators span {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 10px 0 0;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #c5c5c5;
	overflow: hidden;
}
#Indicators span.current {
	background: #EEBF02;
}
/* -------------------------------------------------------------------------------------- Gallery Page Ends*/

/* -------------------------------------------------------------------------------------- Portfolio Page Starts*/

#Portfolio {
	list-style: none;
	padding: 0;
	margin: 0;
}
.portfolio1 {
	list-style: none;
	padding: 0;
	margin: 0;
}
.portfolio1:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.portfolio1 li {
	float: left;
	width: 100%;
}
.portfolio1 li a {
	display: block;
	margin: 3px;/*border:1px solid #3c3c3c;*/
}
.portfolio1 li img {
	display: block;
	width: 100%;
}
.portfolio2 {
	list-style: none;
	padding: 0;
	margin: 0;
}
.portfolio2:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.portfolio2 li {
	float: left;
	width: 50%;
}
.portfolio2 li a {
	display: block;
	margin: 3px;/*border:1px solid #3c3c3c;*/
}
.portfolio2 li img {
	display: block;
	width: 100%;
}
.portfolio3 {
	list-style: none;
	padding: 0;
	margin: 0;
}
.portfolio3:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.portfolio3 li {
	float: left;
	width: 33.33333333%;
}
.portfolio3 li a {
	display: block;
	margin: 3px;/*border:1px solid #3c3c3c;*/
}
.portfolio3 li img {
	display: block;
	width: 100%;
}
#Portfolio .ui-content {
	overflow: auto;
}
#Portfolio1 .ui-content {
	overflow: auto;
}
#Portfolio2 .ui-content {
	overflow: auto;
}
#Portfolio2 .ui-content {
	overflow: auto;
}
#Portfolio3 .ui-content {
	overflow: auto;
}
#Portfolio4 .ui-content {
	overflow: auto;
}
#Portfolio5 .ui-content {
	overflow: auto;
}
#Portfolio6 .ui-content {
	overflow: auto;
}
#Portfolio7 .ui-content {
	overflow: auto;
}
#Portfolio8 .ui-content {
	overflow: auto;
}
#Portfolio9 .ui-content {
	overflow: auto;
}
#Portfolio10 .ui-content {
	overflow: auto;
}
/* For inline examples only */
#PhotoSwipeTarget {
	width: 100%;
	height: 200px;
}
#Indicators {
	text-align: center;
	margin-top: 20px;
}
#Indicators span {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 10px 0 0;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #c5c5c5;
	overflow: hidden;
}
#Indicators span.current {
	background: #EEBF02;
}
/* -------------------------------------------------------------------------------------- Portfolio Page Ends*/

/* -------------------------------------------------------------------------------------- Videos Page Ends*/
.videos-thumbs {
	padding-top: 10px!important;
	padding-bottom: 0px!important;
	margin: 0px!important;
}
.video-box {
	background-color: #91282c;
	border: 1px solid #6b1d20!important;
	margin-bottom: 20px!important;
	box-shadow: 0px 2px 5px 0px rgba(205, 205, 205, 0.7);
	-moz-box-shadow: 0px 2px 5px 0px rgba(205, 205, 205, 0.7);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(205, 205, 205, 0.7);
}
.video-box img {
	margin-right: 12px!important;
}
.video-box h4 {
	margin-top: 6px;
	padding-top: 6px;
	font-size: 18px;
	margin-bottom: 6px;
	padding-bottom: 6px;
}
/* -------------------------------------------------------------------------------------- Blog Starts */
#Blogmain {
}
#Blogmain hr {
	margin-top: 0px;
	margin-bottom: 12px;
}
.Blogpost {
	padding: 0px;
	margin: 0px;
}
.Blogpost .heading {
	padding: 0px;
	margin: 0px;
}
.Blogpost h2 {
	margin-top: 3px;
	font-size: 24px;
	margin-bottom: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.Blogpost .pic {
}
.Blogpost .pic:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
}
.Blogpost .meta {
	width: 100%;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a63035;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}
.Blogpost .bubble {
	background-image: url(../m/images/blog/bubble.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 50px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	color: #FFF;
}
.Blogpost a {
}
.Blogpost a:link {
}
.Blogpost a:active {
}
.Blogpost a:hover {
	text-decoration: none!important;
}
.Blogpost .shadow {
}
.Blogpost .description {
	overflow: auto;
	width: 100%;
	padding-bottom: 16px;
	margin-bottom: 12px;
	margin-top: 12px;
}
.Blogpost hr {
	overflow: auto;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #a63035;
	margin-top: 2px;
	margin-bottom: 2px;
}
#blog {
}
#blog h3 {
	margin-top: 2px;
	margin-bottom: 8px;
	padding-top: 2px;
	padding-bottom: 8px;
}
#about-author {
	width: auto;
	margin-top: 12px;
}
#about-author .pic {
	padding: 2px;
	border: 1px solid #777777;
	height: 100px;
	width: 100px;
	background-color: #777777;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 2px;
}
#about-author .description {
	width: auto;
}
#post-comments {
	clear: both;
}
#post-comments .post {
}
#post-comments .pic {
	padding: 2px;
	border: 1px solid #777777;
	height: 60px;
	width: 60px;
	background-color: #777777;
	margin-right: 10px;
	margin-bottom: 10px;
}
#post-comments .info {
	width: auto;
	margin-bottom: 3px;
}
#post-comments .description {
	width: auto;
}
#post-comments .reply1 {
	padding-left: 10px;
	padding-bottom: 1px;
}
#post-comments .reply2 {
	padding-left: 20px;
	padding-bottom: 1px;
}
#post-comments .reply3 {
	padding-left: 30px;
	padding-bottom: 1px;
}
#post-comments .reply4 {
	padding-left: 40px;
	padding-bottom: 1px;
}
#post-comments .reply5 {
	padding-left: 50px;
	padding-bottom: 1px;
}
#post-comments hr {
	overflow: auto;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #a63035;
	margin-top: 0px;
	margin-bottom: 10px;
}
.f_none {
	float: none!important;
}
.f_left {
	float: left!important;
}
.f_right {
	float: right!important;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.localnav {
	margin: 0 0 20px 0;
	overflow: hidden;
}
.localnav li {
	float: left;
}
.localnav .ui-btn-inner {
	padding: .6em 10px;
}
.formbutton {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
/* -------------------------------------------------------------------------------------- Blog Ends */
/*------------------------------------------------------------------------- Contact Starts --*/
#contact {
}
.form-element {
}
.form-element label {
}
.form-element input.text {
	padding-left: .4em;
	padding-top: 8px;
}
.form-element .textarea {
	padding-left: .4em;
	padding-top: 8px;
}
.form-element .hightlight {
	border: 2px solid #9F1319
}
.form-element #submit {
}
.loading {
	height: 28px;
	width: 28px;
	display: none;
	background-image: url(../m/images/progress.gif);
	background-repeat: no-repeat;
	background-position: 1px;
}
.done {
	display: none
}
#contact .address img {
	padding-right: 10px
}
#message_post {
	padding-top: 3px;
	padding-bottom: 3px;
}
.errorMessage {
	color: #ff0000;
	padding: 3px;
	margin: 3px;
}
.successMessage {
	color: #12d62d;
	padding: 3px;
	margin: 3px;
}
.loading {
	height: 28px;
	width: 28px;
	display: none;
	background-image: url(../m/image/progress.gif);
	background-repeat: no-repeat;
	background-position: 1px;
}
/*------------------------------------------------------------------------- Contact Ends --*/
.social-icons {
	padding-top: 18px;
	padding-bottom: 18px;
}
.social-icons ul {
	margin: 0px;
	padding: 0px;
}
.social-icons ul li {
	display: inline-block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
ul.the-icons {
	color: #fff!important;
}
ul.the-icons li {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff!important;
}
ul.fa-ul li {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*------------------------------------------------------------------------- ToTop Starts */
.scrollup {
	width: 38px;
	height: 38px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: none;
	text-indent: -9999px;
	background: url('../images/icons/to-top.png') no-repeat;
}
.scrollup:hover {
	opacity: 0.7
}
/*------------------------------------------------------------------------- ToTop ends */
