@mixin border-radius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin add-border($size, $color, $position){
  @if $position == 'all'{
    border: $size solid $color;
  } @else if $position =='right'{
    border-right: $size solid $color;
  } @else if $position =='left'{
    border-left: $size solid $color;
  } @else if $position =='top'{
    border-top: $size solid $color;
  } @else if $position =='bottom'{
    border-bottom: $size solid $color;
  }
}

@mixin add-transition($time){
  transition: all $time;
  -webkit-transition: all $time;
  -moz-transition: all $time;
}

@mixin  add-box-shadow($w1, $w2, $w3, $bgcolor){
  box-shadow: $w1 $w2 $w3 $bgcolor;
  -webkit-box-shadow: $w1 $w2 $w3 $bgcolor;
  -moz-box-shadow: $w1 $w2 $w3 $bgcolor;
}
@mixin mobile_small{
  @media (max-width: #{$mobile-small - 0px}) {
    @content;
  }
}
@mixin mobile{
  @media (max-width: #{$tablet-width - 0px}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$desktop-width - 0px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin desktop_full{
  @media (max-width: #{$desktop-full - 0px}) {
    @content;
  }
}
@mixin desktop_fullhd{
  @media (max-width: #{$desktop-fullhd - 0px}) {
    @content;
  }
}