/*Sass -- Author:Nguyen Thanh Than*/
@import '_mixins.scss';
@import '_base.scss';
@import  '../../fonts/fonts.css';

$font-stack:    arial, sans-serif;
$font-h:        "UTM HelvetIns";
$primary-color: #333;
html, body{ font:13px $font-stack; text-shadow: none !important;}
p, h1, h2, h3, h4, h5, a, a:hover, span, strong, strike, div, li{text-shadow: none !important;}
ul, ol, figure{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  outline: none;
  &:hover{
    opacity: 0.75;
  }
}
.bg-black{
  background: #353637;
}
.border-black{
  @include add-border(4px, #353637, all);
  box-sizing: border-box;
}
.bg-blue{
  background: #3498db;
  h2, .intro, p{
    color: #002b45 !important;
  }
  .btn-view   span{
    color: #002b45 !important;
  }
}
.border-blue{
  @include add-border(4px, #3598db, all);
  box-sizing: border-box;
}
.home-top.section-second{
  .border-blue {
    @include add-border(4px, #3598db, all);
  }
}
.home-top.section-second{
  .border-black {
    @include add-border(4px, #2d3e50  , all);
    h2, p, a span{
      color: #ccccce !important;
    }
    .bg-blue {
      background: #2d3e50;
    }
  }
}

.home-top.section-second{
  .border-blue {
    @include add-border(4px, #353638  , all);
    h2, p, a span{
      color: #ccccce !important;
    }
    .bg-blue {
      background: #353638;
    }
  }
}
.bg-blue-drak{
  background: #2c3e50;
}
.border-blue-drak{
  @include add-border(4px, #2c3e50, all);
  box-sizing: border-box;
}
.bg-blue-light{
  background: #2ecc71;
  h2, .intro, p, p span{
    color: #333 !important;
  }
  .btn-view{
    span{
      color: #333 !important;
    }
  }
}
.border-blue-light{
  @include add-border(4px, #2ecc71, all);
  box-sizing: border-box;
}
.bg-red{
  background: #c72703;
}
.border-red{
  @include add-border(4px, #c72703, all);
  box-sizing: border-box;
}
.ui-header{
  &.ui-header-fixed{
    width: 100%;
    position: fixed !important;
    top: -38px;
    left: 0;
  }
  .menu-bar {
    height: 37px;
    background: #f3f3f3;
    @include  add-border(1px, #e0e0e0, bottom);
    padding: 0 14px;
    box-sizing: border-box;
    a {
      font: normal 13px 'Arial';
      color: #555;
      margin: 0;
      height: auto;
      text-decoration: none;

    }
    .content-left {
      width: 90%;
      float: left;
      margin-top: 11px;
      li {
        @include  add-border(1px, #717171, left);
        height: auto;
        display: inline-block;
        padding: 0 13px;
        &:hover {
          background: none;
        }
        &:first-child {
          padding-left: 0px;
          border: none;
        }
      }

    }
    .content-right {
      width: 10%;
      float: right;
      text-align: right;
      margin-top: 11px;
      li {
        font: normal 13px 'Arial';
        height: auto;
        border: none;
        vertical-align: top;
        float: none;

        a {
          border: none;
          padding: 0 3px;
        }
        .fa {
          color: #555;
          font-size: 18px;
          padding: 0;
          margin: -2px 10px 0px 5px;
          vertical-align: top;
        }
        &:hover {
          background: none;
        }
      }
      &.logged-in {
        li {
          &:before {
            content: '';
          }
          .dropdown {
            width: 26px;
            text-align: center;
            float: right;
            position: relative;
            .fa {
              margin-top: 0px;
              color: #555;
            }
            .dropdown-menu {
              width: 98px;
              height: 80px;
              box-sizing: border-box;
              min-width: 0;
              border-radius: 0;
              right: -1px;
              top: 26px;
              left: auto;
              position: absolute;
              padding-top: 8px;
              li {
                width: 100%;
                a {
                  font: bold 12px arial, sans-serif;
                  text-decoration: none;
                  color: #000;
                  text-align: center;
                  width: 100%;
                  box-sizing: border-box;
                  padding: 0px 0px;
                  &:hover {
                    background: none;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
  .menu-main{
    width: 100%;
    height: 66px;
    background: #fff;
    @include add-border(1px, #000, bottom);
    position: relative;
    &.TopMenu{
      position: fixed;
      top: 0;
      left: 0;
    }
    .logo{
      width: 284px;
      height: 66px;
      text-align: center;
      float: left;
      display: inline-block;
      a{
        width: 257px;
        height: 40px;
        background: url('../../images/logo.jpg') no-repeat;
        display: inline-block;
        text-indent: -999em;
        margin: 16px 0 0 0px;
      }
    }
    .nav{
      width: 177px;
      height: 100%;
      background: #c72803;
      float: right;
      text-align: center;
      padding: 0px 0 0;
      box-sizing: border-box;
      li{
        display: inline-block;
        height: 66px;
        cursor: pointer;
        float: left;
        width: 88px;
        box-sizing: border-box;
        padding: 18px 0;
        a{
          @include add-border(1px, #d0816e, right);
          padding: 18px 28px;
          margin-right: -8px;
        }
        .fa{
          color: #fff;
          &.fa-search{
            font-size: 24px;
          }
          &.fa-bars{
            font-size: 30px;
          }
        }
        &:last-child{
          padding: 18px 0px;
          a{border: none; margin-right: 0px;}

        }
        &:hover{
          background: rgba(0, 0, 0, 1);
        }
        #nav-menu{
          top: 67px;
          position: absolute;
          width: 177px;
          box-shadow: none;
          background: rgba(0,0,0,0.9);
          height: 395px;
          padding: 0px;
          z-index: 999999;
          padding-top: 16px;
          .ui-panel-inner{
            padding: 0px;
            margin-top: -15px;
          }
          ul{
            li{
              width: 100%;
              margin: 0;
              padding: 0;
              display: block;
              float: none;
              height: auto;
              padding: 16px 0;

              a{
                width: 100%;
                display: inline-block;
                font: bold 12px $font-stack;
                text-transform: uppercase;
                text-align: center;
                margin: 0;
                padding: 0;
                text-shadow: none;
                text-decoration: none;
                color: #999;
              }
              &:hover{
                background: #020000;
                a{
                  color: #fff;
                }
              }
              &.active{
                background: #fff;
                a{
                  color: #000;
                }
              }
            }
          }
        }
        #form-search{
          position: absolute;
          top: 67px;
          width: 100%;
          background: rgba(0, 0, 0, 0.9);
          height: 80px;
          z-index: 99999;
          form{
            margin-top: 12px;
            position: relative;
          }
          input{
            height: 35px;
            background: #fff;
          }
          button{
            background: none;
            position: absolute;
            top:-5px;
            right: 1px;
            border: none;
            box-shadow: none;
            .fa{
              color: #555;
              font-size: 18px;
              text-shadow: none;
            }
          }
        }
      }
    }

  }
}
.footer{
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .footer-top{
    width: 100%;
    background: url("../../images/bg-footer.jpg") repeat;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    text-align: left;
    h3{
      font:18px $font-h;
      color: #fff;
      text-transform: uppercase;
      margin: 22px 0px 18px 0px;
      span{
        font: 14px $font-stack;
      }
    }
    .col-3{
      width: 100%;
      float: left;
      ul{
        li{
          text-decoration: none;
          font: 13px $font-stack;
          color: #fff;
          padding-bottom: 17px;
          a{
            text-decoration: none;
            font: 13px $font-stack;
            color: #fff;
          }
          &:last-child{
            padding-bottom: 0px;
          }
          .fa{
            margin-right: 12px;
          }
          .text-left{
            float: left;
          }
          .text-right{
            float: left;
            margin-left: 14px;
            line-height: 20px;
            span{
              min-width: 70px;
              display: inline-block;
              color: #ccc;
            }
          }
        }
        &.promotion{
          width: 85%;
          a{
            text-transform: uppercase;

          }
        }
      }
      .content-facebook{
        padding-top: 28px;
      }
    }
  }
  .footer-bottom{
    background: #1c1c1c;
    padding: 0px;
    .content-left{
      text-align: center;
      width: 100%;
      float: left;
      padding-top: 20px;
      height: 55px;
      li{
        font: 11px $font-stack;
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        color: #555;
        a{
          color: #999;
          text-decoration: none;
        }
      }
    }
    .content-right{
      width: 100%;
      float: none;
      text-align: center;
      margin-top: 15px;
      li{
        display: inline-block;
        font: 13px $font-stack;
        color: #999;
        margin: 0px;
        width: 100%;
        .munber{
          color: #ccc;
        }
        .button{
          background: #de2824;
          font: 15px $font-h !important;
          text-transform: uppercase;
          display: inline-block;
          width: 100%;
          height: 54px  !important;
          text-align: center;
          color: #d9d9d9;
          text-decoration: none;
          line-height: 60px  !important;
          padding-left: 0;
        }
        &:last-child{
          margin-top: 20px;
        }
      }
    }
  }
}
.slide-home,.slide-banner, .slide-show{
  position: relative;
  .slick-dots{
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    li{
      display: inline-block;
      button{
        width: 12px;
        height: 12px;
        @include add-border(1px, #000, all);
        @include  border-radius(100px);
        background: #fff;
        color: #fff;
        margin: 0 5px;
        &:active, &:focus{
          outline: none;
        }
      }
      &.slick-active{
        button{
          background: #000;
          color: #000;
          @include add-border(1px, #fff, all);
        }
      }
    }
  }
}
.home-top{
  h2{
    font: bold 24px $font-stack;
    margin: 0;
    color: #ccc;
    span{
      font-weight: normal;
    }
  }
  .specify{
    width: 100%;
    float: left;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
  .list-product{
    width: 100%;
    float: left;
    li{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      .container-img{
        width: 100%;
        float: left;
        text-align: center;
        display: table;
        padding: 20px 0px;
        .btn-view{
          display: inline-block;
          text-decoration: none;
          margin-top: 15px;
          border: 1px ;
          span{
            font: 13px arial,sans-serif;
            color: #ccc;
            width: 133px;
            height: 33px;
            position: relative;
            margin: 0 auto;
            border: 1px solid #ccc;
            display: block;
            text-align: center;
            line-height: 35px;
            background: #353637;
          }
          &:hover{
            span {
              background: #C72803;
              color: #fff !important;
            }
          }
        }
        .tb-middle{
          display: table-cell;
          vertical-align: middle;
        }
        img{
          max-width: 100%;
        }
      }
      figcaption{
        width: 100%;
        float: right;
        box-sizing: border-box;
        padding: 13px 17px 20px 17px;
        position: relative;
        .price{
          font: 26px $font-h;
          color: #fff;
          margin-right: 5px;
        }
        .price-regular{
          font: 18px $font-stack;
          color: #fff;
        }
        .price-free{
          font: normal 18px $font-stack;
          color: #fff;
          margin-top: 10px;
          display: inline-block;
        }
        .intro, p{
          font: 13px $font-stack;
          color: #ccc;
          margin: 5px 0px 0px;
          line-height: 22px;
        }
        .group{
          margin-top: 10px;
          float: left;
          span{
            background: url("../../images/sprite.png") no-repeat;
            width: 34px;
            height: 34px;
            display: inline-block;
            margin-right: 3px;
            &.hot{
              background-position: -41px 0px;
            }
          }

        }
        .btn-view{
          float: right;
          display: inline-block;
          text-decoration: none;
          margin-top: 15px;
          span{
            font:13px $font-stack;
            color: #ccc;
            width: 133px;
            height: 33px;
            position: relative;
            margin: 0 auto;
            @include add-border(1px, #ccc, all);
            display: block;
            text-align: center;
            line-height: 35px;
          }
        }
      }
      &.left-text{
        .container-img{
          width: 100%;
          float: right;
          text-align: center;
          padding: 20px 0px;
        }
        figcaption{
          width: 100%;
          float: left;
        }
      }
    }

  }
  &.section-second{
    .list-product{
      width: 100%;
      li{
        width: 100%;
        float: left;
        &:first-child{
          .container-img{
            width: 100%;
            padding: 20px 0px;
          }
          figcaption{
            width: 100%;
          }
        }
        &.left-text:first-child{
          .container-img{
            width: 100%;
            padding: 20px 0px;
          }
          figcaption{
            width: 100%;
          }
        }
      }
    }
  }
}
.ui-content{
    padding: 0;

}
.slide-banner{
  margin-bottom: 0px;
  .items{
    img{
      width: 100%;
    }
  }
  .slick-next:before,
  .slick-prev:before{
    font-size: 80px;
  }
  .slick-next:before{
    content: "\f138";
  }
  .slick-prev:before{
    content: "\f137";
  }
  .slick-next{
    width: 70px;
    margin-top: -80px;
    right: 15px;
  }
  .slick-prev{
    width: 70px;
    margin-top: -80px;
    left: 15px;
  }

}
.subpage{
  .content{
    .content-center{
      width: 96%;
      margin: 0 auto;
    }
  }
}
.breadcrumb{
  background: transparent url("../../images/bg-bread.png") repeat-x bottom;
  height: auto;
  padding: 12px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  .content-center{
    width: 98%;
    margin: 0 auto;
  }
  &.logo-list{
    height: auto;
    .content-center{
      padding: 0 25px;
      ol{
        li{
          width: 15%;
          display: inline-block;
          box-sizing: border-box;
          vertical-align: top;
          margin-bottom: 7px;
          img{
            max-width: 100%;
          }
          &:nth-child(1),
          &:nth-child(7),
          &:last-child{
            img{
              max-width: 60%;
            }
          }
          &:nth-child(6){
            border: none;

          }
          &:nth-child(6){
            img{
              max-width: 80%;
            }
          }

        }
      }
    }
    li{
      @include add-border(2px, #e7e7e7, right);
      padding: 0 11px;
      &:last-child{
        padding-right: 0px;
        border: none;
        vertical-align: top;
        img{
          max-width: 60%;
        }
      }
    }
  }
  ol{
    text-align: left;

    li{
      display: inline;
      font: 12px  $font-stack;
      color: #333;

      a{
        font: 12px $font-stack;
        color: #333;
        text-decoration: none;
      }
      .fa{
        font-size: 14px;
        margin: 0 3px 0 8px;

      }
    }

  }

}
.product-hot{
  background: url(../../images/bg-hot.jpg);
  margin-top: -5px;
  padding: 25px 0px 10px 0;
  ul{
    margin: 20px 0 0;
    display: inline-block;
    li{
      width: 24.5%;
      margin-bottom: 25px;

    }
    .img-box{
      background: #fff;
      min-height: 260px;
      padding: 0 40px;
      box-sizing: border-box;
      margin-bottom: 15px;
      img{
        max-width: 100%;
      }
    }
  }

}
.product-list{
  h2{
    font: 20px "UTM HelvetIns";
    color: #555;
    border-left: 3px solid #c72803;
    border-bottom: 1px solid #ccc;
    padding: 9px 7px;
    max-width: 100%;
    margin-left: 26px;
    text-transform: uppercase;
    span{
      color: #555;
      font: normal 14px $font-stack;
      text-transform: none;
      &.sologan{
        float: right;
        color: #c72803;
        margin-top: 12px;
        span{
          color: #c72803;
        }
        .fa{
          margin-right: 10px;
          color: #000;
        }
      }
    }
  }
  .read-more{
    font:18px $font-stack;
    color: #333;
    width: 413px;
    height: 65px;
    @include  add-border(1px, #c72803, all);
    margin: 0 auto;
    display: block;
    text-decoration: none;
    @include  border-radius(6px);
    text-transform: uppercase;
    text-align: center;
    line-height: 69px;
    margin-bottom: 30px;
    &:hover{
      background:#c72803;
      color: #fff;
      span{
        color: #fff;
      }
    }
    .number{
      color: #c72803;
    }
  }
  ul{
    text-align: left;
    margin-bottom: 50px;
    li{
      display: inline-block;
      width: 48%;
      box-sizing: border-box;
      margin-right: 0px;
      padding: 0 10px;
      text-align: center;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      &:nth-child(2n){
        margin-right: 0;
      }
      &:hover{

      }
      a{
        &.read-more{
          display: none;
        }
      }
      .img-box{
        position: relative;
        width: 100%;
        display: inline-block;
        margin-bottom: 7px;
        .group{
          margin-top: 10px;
          position: absolute;
          bottom: 2px;
          right: 2px;
          span{
            background: url("../../images/sprite.png") no-repeat;
            width: 34px;
            height: 34px;
            display: inline-block;
            margin-right: 3px;
            display: block;
            &.hot{
              background-position: -41px 0px;
            }
          }

        }
      }

      figcaption{
        text-align: left;
        h3{
          margin-bottom: 7px;
          a{
            color: #555;
            font: bold 16px $font-stack;
            text-decoration: none;
            span{
              font-weight: normal;
            }
          }
        }
        .price{
          color: #c72803;
          font: normal 18px $font-stack;
        }
        .price-regular{
          color: #555;
          font: normal 16px $font-stack;
        }
        .intro{
          color: #555;
          font: normal 13px $font-stack;
          line-height: 20px;
          margin-top: 7px;
        }
      }
      &:last-child{
        padding-right: 10px;
      }
    }
  }
}

.content-information{
  height: auto;
  margin-top: -6px;
  background: #000;
  background-position:top center !important;
  .content-detail{
    height: auto;
  }
  .img{
    width: 100%;
    padding: 65px 40px 0px;
    box-sizing: border-box;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .content-text{
    width: 100%;
    padding: 65px 0px 0px 0px;
    box-sizing: border-box;
    h1{
      font: 22px $font-stack;
      color: #fff;
      margin: 0px;
    }
    .price{
      color: #ffff00;
      font: 26px $font-h;
    }
    .price-regular{
      color: #fff;
      font: 20px $font-stack;
      margin-left: 5px;
    }
    .group{
      display: inline-block;
      margin: 15px 0px 0 15px;
      vertical-align: top;
      span{
        background: url("../../images/sprite.png") no-repeat;
        width: 34px;
        height: 34px;
        display: inline-block;
        margin-right: 3px;
        &.hot{
          background-position: -41px 0px;
        }
      }
    }
    .description{
      width: 98%;
      background: rgba(51,0,0, 0.85);
      @include border-radius(4px);
      box-sizing: border-box;
      color: #f6d3c4;
      font: 14px $font-stack;
      padding: 20px 12px 10px 12px;
      margin-top: 20px;
      .ralated{
        color: #fff;
        p{
          color: #fff;
        }
      }
      a{
        color: #ffff00 !important;
      }
      p, span{
        margin: 0 0 7px;
        line-height: 21px;
        color: #f6d3c4 !important;
        font-size: 14px;

      }
      h4{
        margin: 20px 0px 10px;
      }
    }
    .social{
      margin-top: 20px;
    }
  }

}
.list-details{
  padding-top: 10px;
  .product-list{
    h2{
      margin-top: 20px;
    }
  }
  h2{
    font: 20px $font-h;
    color: #555;
    @include add-border(3px, #c72803, left);
    @include add-border(1px, #ccc, bottom);
    padding: 9px 7px;
    max-width: 279px;
    margin-left: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .slide-show{
    margin-left: 0px;
    margin-top: 10px;
    .items.slick-slide{
      margin-right: 0px;
      background: rgba(163, 168, 174, 0.75);
      &.slick-active{
        opacity: 1;
      }
      img{
        max-width: 100%;
      }
    }
    .slick-next, .slick-prev{
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 55%;
      display: block;
      margin-top: 0px;
      right: 20%;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      width: 48px;
    }
    .slick-prev{
      top: 45%;
    }
    .slick-next:before{
      content: "\f0a9";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }
    .slick-prev:before{
      content: "\f0a8";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }
  }
  .slide-text{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    p{
      font: 13px $font-stack;
      color: #000;
      line-height: 21px;
      text-align: center;
    }
  }
}
.technology{
  h2{
    margin-top: 15px;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    tr{
      td{
        @include  add-border(1px, #ccc, all);
        padding: 12px;
        &:first-child{
          text-align: center;
          text-transform: uppercase;
        }
        p{
          margin: 0;
          line-height: 21px;
        }
      }

    }
  }
  .read-more{
    width: 400px;
    height: 40px;
    text-align: center;
    @include  add-border(1px, #c72803, all);
    @include  border-radius(6px);
    display: inline-block;
    font: 15px $font-stack;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    line-height: 42px;
    margin:  22px auto;
    display: block;
    &:hover{
      background:#c72803;
      color: #fff;
      span{
        color: #fff;
      }
    }
    &.close{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}
.technology-full{
  max-height: 0px;
  transition: max-height 0.5s;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  &.open{
    height: auto;
    max-height: 2000px;
  }

}
.content-text{
  margin-bottom: 40px;
  p{
    color: #000;
    font: 13px $font-stack;
    line-height: 21px;
    text-align: justify;
    &.center{
      text-align: center;
    }
  }
  img{
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
  }
  h4{
    text-transform: uppercase;
  }
}
.videos{
  .content-video{
    margin-left: 60px;
    margin-bottom: 40px;
    iframe{
      width: 100%;
      max-width: 100% !important;
    }
  }

}
.adv-box{
  width: 100%;
  background: #fff;
  @include  add-border(1px, #ccc, all);
  padding: 9px;
  box-sizing: border-box;
  margin-bottom: 35px;
  a{
    margin-right: 0px;
    max-width: 100%;
    display: block;
    img{
      width: 100%;
    }
    &:last-child{
      margin-right: 0;
      margin-top: 10px;
    }
  }

}
.filter{
  text-align: left;
  height: auto;
  @include  add-border(1px, #ccc, bottom);
  vertical-align: middle;
  padding-top: 5px;
  margin-bottom: 30px;
  div{
    display: block;
    margin:15px;
    .dropdown{
      >a{
        span{
          display: block;
        }
      }
    }
    ul{
      border-radius: 0;
      margin-top: 5px;
      li{
        width: 100%;
        padding: 0;
        text-align: left;
        margin-bottom: 10px;
        a{
          font-size: 13px;
          background: none;
          padding-left: 25px;
        }
        &.active{
          background: none;
          a{
            background: none;
            color: #000;
            font-weight: bold;
          }
          &:before{
            display: inline-block;
            font: normal normal normal 11px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f00c";
            position: absolute;
            top: 4px;
            left: 5px;
          }
          &:hover{
            a{
              background: #ccc;
              border-radius: 0;
            }
          }
        }
        &:hover{
          box-shadow: none;
          background: #ccc;
        }
      }
    }
    &.label{
      color: #999;
      font: 14px $font-stack;
    }
    &.promotion{
      height: 30px;
      color: #fff;
      font: 14px $font-stack;
      text-transform: uppercase;
      background: #3498db;
      @include border-radius(20px);
      padding: 3px 7px 3px 3px;
      display: inline-block;
      margin-top: -2px;
      vertical-align: middle;
      cursor: pointer;
      .fa{
        font-size: 28px;
      }
      span{
        line-height: 31px;
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;
      }
      &.active{
        .fa-circle:before{
          content: "\f10c";
        }
      }
    }
    &.sort{

      a{
        display: inline-block;
        padding-top: 0px;
      }
    }
    a{
      color: #333;
      font: 14px $font-stack;
      text-decoration: none;
      .fa{
        color: #000;
        font-size: 12px;
        margin-left: 8px;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
  }
}
.page-new{
  margin: 30px 15px;
  .content-main{
    width: 100%;
    img{
      max-width: 100%;
    }
  }
  .read-more{
    font: 18px arial,sans-serif;
    color: #333;
    width: 413px;
    height: 65px;
    border: 1px solid #c72803;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    line-height: 69px;
    margin: 0px auto 0px;
    &:hover{
      background:#c72803;
      color: #fff;
      span{
        color: #fff;
      }
    }
  }
  h1{
    font: normal 14px $font-h;
    margin: 0 0 10px;

  }
  p{
    font: 12px $font-stack;
    line-height: 26px;
    margin-bottom: 25px;
    color: #555;
    &.center{
      text-align: center;
    }

  }
  .info-by{
    font: 12px $font-stack;
    color: #555;
    margin-bottom: 10px;
    display: inline-block;
  }
  ul#newsList{
    text-align: left;
    li{
      width: 48%;
      padding-right: 10px;
      box-sizing: border-box;
      margin-bottom: 20px;
      display: inline-block;
      overflow: hidden;
      &:nth-child(2n){
        padding-right: 0px;
        padding-left: 10px;
      }
      h2{
        color: #555;
        font: 14px $font-h;
        margin: 0;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #555;
        }
      }
      img{
        //@include  add-border(1px, #d1d1d1, all);
        width: auto;
        height: 150px;
        margin: 0 auto;
        max-width: inherit;
      }
    }
  }
}
.fittings{
  .menu{
    background: #e7e7e7;
    width: 100%;
    height: auto;
    @include add-border(1px, #c2c2c2, all);
    padding: 11px 15px;
    box-sizing: border-box;
    margin-top: 0px;
    h2{
      padding: 0;
      margin: 0;
      font: 18px $font-h;
      text-transform: uppercase;
      color: #c72803;
      display: inline-block;
    }
    ul{
      text-align: right;
      width: 80%;
      float: right;
      padding-top: 5px;
      li{
        display: inline-block;
        padding: 0 10px 0 7px;
        margin-top: 5px;
        @include  add-border(1px, #000, right);
        &:last-child{

        }
        a{
          color: #000;
          font: normal $font-stack;
          font-size: 12px;
          text-decoration: none;
          font-weight: normal;
        }
      }
    }
  }
  .list-fittins{
    margin-top: 0px;
    @include  add-border(1px, #c2c2c2, left);
    .slick-dots{
      text-align: center;
      li{
        height: 18px;
        width: 18px;
        border: none;
        float: none;
        &:first-child{
          height: 18px;
          width: 18px;
          border: none;
          float: none;
          margin-top: 18px;
        }
      }
    }
    ul{
      width: 100%;
      text-align: left;
      .box-img{
        text-align: center;
        height: 250px;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      li{
        display: inline-block;
        width: 50%;
        float: left;
        vertical-align: middle;
        box-sizing: border-box;
        @include  add-border(1px, #c2c2c2, right);
        @include  add-border(1px, #c2c2c2, bottom);
        height: 425px;
        padding: 13px;
        box-sizing: border-box;
        &:first-child{
          width: 100%;
          border: none;
          padding: 0;
          height: auto;
          @include  add-border(1px, #c2c2c2, right);
          @include  add-border(1px, #c2c2c2, bottom);
          img{
            width: 100%;
            margin-bottom: -3px;

          }
        }
        h2{
          margin: 10px 0;
          a{
            font: bold 14px $font-stack;
            text-decoration: none;
            color: #555;
          }
        }
        .price{
          color: #c72803;
          font: 18px $font-stack;
          .price-regular{
            font: normal 16px $font-stack;
            color: #555;
          }
        }
        .intro{
          font: normal 12px $font-stack;
          color: #555;
          line-height: 20px;
          margin: 7px 0 0;
        }
      }
    }
  }
  &:last-child{
    margin-bottom: 40px;
  }
}
.page-satic{
  h2{
    max-width: 270px;
  }
  .content-banner{
    margin-bottom: 30px;
    background: #000 url("../../images/banner-satic.jpg") no-repeat top center;
    h2{
      margin: 27px 0 30px 27px;
    }
    .content-center{

      min-height: 326px;
      p{
        color: #fff;
        line-height: 20px;
        margin-top: 18px;
        text-align: justify;
      }
    }
  }
  .notice{
    margin-bottom: 30px;
    h5{
      font: bold 13px $font-stack;
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
    }
  }
  .content-unlock{
    margin-top: 20px;
    p{
      line-height: 25px;
      margin-bottom: 40px;

    }
  }
}
.product-other{
  h2{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .list-game{
    text-align: left;
    @include add-border(1px, #c2c2c2, top);
    @include add-border(1px, #c2c2c2, left);
    li{
      width: 50%;
      display: inline-block;
      float: left;
      padding: 23px 10px;
      @include add-border(1px, #c2c2c2, bottom);
      @include add-border(1px, #c2c2c2, right);
      margin-bottom: 0;
      .box-img{
        width: 100%;
        text-align: center;
        img{
          width: 200px;
        }
      }
      figcaption{
        width: 100%;
        h2{
          border: none;
          color: #c72803;
          font: bold 13px $font-stack;
          padding: 0;
          margin: 0;
        }
        p{
          font-size: 12px;
        }
        .information{
          margin-top: 20px;
          p{
            line-height: 21px;
          }
        }
        .download{
          width: 148px;
          height: 38px;
          margin: 0 auto;
          background: #c72803;
          @include  border-radius(6px);
          display: block;
          font: 15px normal $font-stack;
          text-align: center;
          color: #fff;
          text-decoration: none;
          line-height: 38px;
          margin-top: 10px;
        }
      }
      &:hover{
        box-shadow: none;
        opacity: 1;
      }
    }

  }
  ul{
    li{
      margin-bottom: 25px;
      float: none;
      vertical-align: top;
      .img-box{
        margin-bottom: 15px;
        img{
          max-width: 100%;
        }
      }
    }
  }

}
.logged{
  width: 30px;
  height: 20px;
  float: right;
  vertical-align: top;
  margin: -10px 0 0 -13px;
  padding: 13px 2px;
  img{
    width: 100%;
  }
  .dropdown-menu{
    left: auto;
    right: 0;
    @include  border-radius(0);
    background: rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    width: 98px;
    height: 80px;
    box-sizing: border-box;
    min-width: 0;
    li{
      a{
        font: bold 12px $font-stack;
        text-decoration: none;
        color: #fff;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0px;
        &:hover{
          background: none;
        }
      }
    }
  }
  &.open{
    background: #000;
  }
}
.menu-other{
  float: right;
  margin-top: 6px;
  .fa{
    color: #000;
    font-size: 20px;
  }
  ul{
    right: 0px;
    left: auto;
    border-radius: 0;
    width: auto !important;
    li{
      width: 100%;
      text-align: right;
      border: 0 !important;
      box-sizing: border-box;
      a{
        border: none;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        padding: 3px 0px;
      }
    }
  }
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
#page .ui-header{
  padding: 0;
}
#page .ui-header {
  form {
    .ui-btn {
      background: none;
      border: none;
      top: -11px;
      padding-top: 4px;
      position: absolute;
      right: 0px;
    }

  }
}
.ui-btn-text .fa-search{
  color: #000 !important;
}
.ui-panel-content-wrap{
  min-height: 0;
  position: relative;
  z-index:10;
}
.section-sale{
  display: none;
}
.list-details{
  padding: 0 7px;
}
.article-details{
  .content-text{
    max-height: 0;
    overflow: hidden;
    &.open {
      max-height: 2500000px;
    }
  }
  img{
    max-width: 100% !important;
    height: auto !important;
    margin: 30px auto 30px !important;
  }
  div, span{
    line-height: 24px;
    width: 100% !important;
    max-width: 100% !important;

  }
  .read-more{
    width: 85%;
    height: 40px;
    text-align: center;
    @include  add-border(1px, #c72803, all);
    @include  border-radius(6px);
    display: inline-block;
    font: 15px $font-stack;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    line-height: 42px;
    margin:  22px auto;
    display: block;
    &:hover{
      background:#c72803;
      color: #fff;
      span{
        color: #fff;
      }
    }
    &.close{
      display: none;
      &.active{
        display: block;
      }
    }
  }

}
div.product-list{
  ul{
    li{
      img{
        max-width: 100%;
      }
    }
  }
}
#faqs{
  div{
    img{
      max-width: 100%;
      height: auto !important;
    }
  }
}
.product-other{
  .filter{
    border: none;
  }
}
.block-title {
  font: 18px "UTM HelvetIns";
  color: #555;
  border-left: 3px solid #c72803;
  border-bottom: 1px solid #ccc;
  padding: 9px 7px;
  max-width: 90%;
  margin-left: 13px;
  text-transform: uppercase;
  background: none;
  margin-top: 16px;
}
.block-content{
  padding: 20px 20px 16px 20px !important;
}
.ui-panel-animate.ui-panel-content-wrap{
  -webkit-transform: none !important;
}
.category-title{
  padding: 10px;
}
.pager .limiter{
  width: 100%;
}
.pager .limiter label {
  color: #000000;
  display: inline-block;
  padding-top: 16px;
  padding-right: 6px;
  float: left;
  width: 100px;
  text-align: right;
}
.pager .ui-select .ui-btn{
  border-radius: 0;
  box-shadow: none;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
  display: none;
}
.ui-select .ui-btn-icon-right .ui-icon{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background: none;
}
.ui-select .ui-btn-icon-right .ui-icon:before{
  content: "\f0dd";
}
.pager .amount {
  float: left;
  padding-top: 2px;
  margin-bottom: 5px;
}
.pager .pages {
  margin: 10px 15px 0 15px;
}
.ui-select {
  margin-top: 10px;
}
.products-grid li {
  width: 100%;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  margin-right: 15px;
  background: white;
  display: inline-block;
  box-sizing: border-box;
}
.slick-slide img{
  max-width: 100%;
  width: 100%;
}
form label{
  font-family: arial,sans-serif;
  font-size: 14px;
}
.page-detail {
  a{
    color: #000 !important;
  }
  .product-list {
    margin-bottom: 20px;
  }
  p{
    color: #000 !important;
    margin-bottom: 20px;
    line-height: 21px !important;
  }
}
@media (max-width: 520px){
  .slide-banner{
    //height: 200px;
    .items{
      //height: 200px;
      img{
        width: 100%;
      }
    }
  }
  .product-list{
    ul{
      width: 100%;
      margin-bottom: 0px;
      li{
        width: 100%;
        float: none;
        .img-box{
          img{
            max-width: 100%;
            width: auto;
          }
        }
      }
    }
    .read-more{
      width: 95%;
      margin-top: 10px;
    }
  }
  .videos{
    .content-video{
      margin-left: 0;
    }
    iframe{
      width: 100%;
      max-width: 100% !important;
    }

  }
  .technology{
    .read-more{
      width: 100%;
    }
  }
  .page-new{
    .read-more{
      width: 100%;
    }
    ul{
      li{
        width: 100%;
        padding-right: 0px;
      }
    }
  }
  .fittings{
    padding: 10px;
    .list-fittins{
      ul{
        li{
          width: 100%;
        }
      }
    }
  }
  .fittings{
    .menu{
      ul{
        width: 100%;
        li{
          &:last-child{

          }
        }
      }
    }
  }
  .table{
    overflow-x: auto;
    margin-bottom: 30px;

  }
  .product-other{
    .list-game{
      li{
        width: 100%;
        figcaption{
          margin-top: 10px;
        }
      }
    }
  }
  .filter{
    div{
      &.promotion{
        width: 85%;
      }
    }
  }
  .page-new{
    ul#newsList{
      li{
        width: 100%;
        padding: 0px !important;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 480px){
  .ui-header{
    .menu-bar {
      padding: 0 10px;
      .content-left{
        li{
          padding: 0 3px;
          a{font-size: 10px;
            line-height: 15px;
            vertical-align: top;}
        }
      }
    }
    .menu-main{
      .logo{
        width: 160px;
        margin-left: 10px;
        a{
          width: 160px;
          background-size: 100%;
        }

      }
      .nav{
        width: 120px;
        li{
          width: 60px;
          a{
            padding: 18px 15px;
          }
        }
      }
    }
  }
  .footer {
    border-top-color: transparent !important;
    .footer-top{
      padding: 0 10px 24px 10px;
      text-align: left;
      .col-3 {
        ul {
          li {
            line-height: 22px;
            .fa{
              float: left;
              margin-bottom: 15px;
            }
            .text-left{
              float: none;
            }
            .text-right{
              float: none;
            }
          }
        }
      }
    }
    .footer-bottom {
      .content-left{
        margin-bottom: 10px;
        li{
          &:last-child{
            margin-top: 10px;
          }
        }
      }
    }
  }
  .breadcrumb{
    ol{
      li{
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width: 420px){
  .breadcrumb{
    &.logo-list{
      .content-center {
        padding-left: 5px;
       ol {
         li {
            text-align: center;
           //width: 40%;
           padding: 0 5px;
           &:nth-child(2n){
             //border: none;
           }
         }

       }
      }
    }
  }
}

