/*Sass -- Author:Nguyen Thanh Than*/
@import url(../../fonts/fonts.css);
.slick-next, .slick-prev { font-size: 0; line-height: 0; position: absolute; top: 55%; display: block; margin-top: 0px; right: 20%; padding: 0; cursor: pointer; color: transparent; border: none; outline: none; background: transparent; width: 48px; display: none !important; }

.slick-prev:before { content: "\f0a8"; font: normal normal normal 14px/1 FontAwesome; font-size: 48px; line-height: 1; color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-next:before { content: "\f0a9"; font: normal normal normal 14px/1 FontAwesome; font-size: 48px; line-height: 1; color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.dropup, .dropdown { position: relative; }

.dropdown-toggle:focus { outline: 0; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; font-size: 14px; text-align: left; background-color: #ffffff; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-background-clip: padding-box; background-clip: padding-box; }

.dropdown-menu.pull-right { right: 0; left: auto; }

.dropdown-menu .divider { height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5; }

.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333333; white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: #ffffff; text-decoration: none; outline: 0; background-color: #337ab7; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { color: #777777; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed; }

.open > .dropdown-menu { display: block; }

.open > a { outline: 0; }

.dropdown-menu-right { left: auto; right: 0; }

.dropdown-menu-left { left: 0; right: auto; }

.dropdown-header { display: block; padding: 3px 20px; font-size: 12px; line-height: 1.42857143; color: #777777; white-space: nowrap; }

.dropdown-backdrop { position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 990; }

.font13 { font-size: 13px !important; }

.color-red { color: #c72803; }

.icon-hethang, .icon-sapco { position: absolute; top: 0; left: 0px; z-index: 10; }

.over-product .group span { -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(100%); filter: gray; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.table table, table { width: 100% !important; margin: 30px 0; border-collapse: collapse; }
.table table thead td, table thead td { background: #cc3333; color: #fff; font: normal 16px 'Arial'; }
.table table thead td:first-child, table thead td:first-child { text-align: center; }
.table table td, table td { text-align: center; padding: 17px 10px; border: 1px solid #c6cad3; font: normal 14px 'Arial'; }
.table table td:first-child, table td:first-child { text-align: left; padding-left: 25px; min-width: 65px; }
.table table td:nth-child(2), table td:nth-child(2) { min-width: 80px; }

.typed-cursor { opacity: 1; font-weight: 100; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; -ms-animation: blink 0.7s infinite; -o-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-ms-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-o-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
.ui-panel-dismiss-open.ui-panel-dismiss-position-right { right: 0; top: 104px; }

.ui-panel-dismiss-open.ui-panel-dismiss-position-left { left: 0; top: 180px; position: fixed; }

.ui-overlay-a { background: #fff; }

.ui-page-theme-a .ui-bar-inherit { border: none; }

.ui-mobile .ui-page { background: #fff; }

html, body { font: 13px arial, sans-serif; text-shadow: none !important; }

p, h1, h2, h3, h4, h5, a, a:hover, span, strong, strike, div, li { text-shadow: none !important; }

ul, ol, figure { list-style: none; margin: 0; padding: 0; }

a { outline: none; }
a:hover { opacity: 0.75; }

.bg-black { background: #353637; }

.border-black { border: 4px solid #353637; box-sizing: border-box; }

.bg-blue { background: #3498db; }
.bg-blue h2, .bg-blue .intro, .bg-blue p { color: #002b45 !important; }
.bg-blue .btn-view span { color: #002b45 !important; }

.border-blue { border: 4px solid #3598db; box-sizing: border-box; }

.home-top.section-second .border-blue { border: 4px solid #3598db; }

.home-top.section-second .border-black { border: 4px solid #2d3e50; }
.home-top.section-second .border-black h2, .home-top.section-second .border-black p, .home-top.section-second .border-black a span { color: #ccccce !important; }
.home-top.section-second .border-black .bg-blue { background: #2d3e50; }

.home-top.section-second .border-blue { border: 4px solid #353638; }
.home-top.section-second .border-blue h2, .home-top.section-second .border-blue p, .home-top.section-second .border-blue a span { color: #ccccce !important; }
.home-top.section-second .border-blue .bg-blue { background: #353638; }

.bg-blue-drak { background: #2c3e50; }

.border-blue-drak { border: 4px solid #2c3e50; box-sizing: border-box; }

.bg-blue-light { background: #2ecc71; }
.bg-blue-light h2, .bg-blue-light .intro, .bg-blue-light p, .bg-blue-light p span { color: #333 !important; }
.bg-blue-light .btn-view span { color: #333 !important; }

.border-blue-light { border: 4px solid #2ecc71; box-sizing: border-box; }

.bg-red { background: #c72703; }

.border-red { border: 4px solid #c72703; box-sizing: border-box; }

.ui-header.ui-header-fixed { width: 100%; position: fixed !important; top: -38px; left: 0; }
.ui-header .menu-bar { height: 37px; background: #f3f3f3; border-bottom: 1px solid #e0e0e0; padding: 0 14px; box-sizing: border-box; }
.ui-header .menu-bar a { font: normal 13px 'Arial'; color: #555; margin: 0; height: auto; text-decoration: none; }
.ui-header .menu-bar .content-left { width: 90%; float: left; margin-top: 11px; }
.ui-header .menu-bar .content-left li { border-left: 1px solid #717171; height: auto; display: inline-block; padding: 0 13px; }
.ui-header .menu-bar .content-left li:hover { background: none; }
.ui-header .menu-bar .content-left li:first-child { padding-left: 0px; border: none; }
.ui-header .menu-bar .content-right { width: 10%; float: right; text-align: right; margin-top: 11px; }
.ui-header .menu-bar .content-right li { font: normal 13px 'Arial'; height: auto; border: none; vertical-align: top; float: none; }
.ui-header .menu-bar .content-right li a { border: none; padding: 0 3px; }
.ui-header .menu-bar .content-right li .fa { color: #555; font-size: 18px; padding: 0; margin: -2px 10px 0px 5px; vertical-align: top; }
.ui-header .menu-bar .content-right li:hover { background: none; }
.ui-header .menu-bar .content-right.logged-in li:before { content: ''; }
.ui-header .menu-bar .content-right.logged-in li .dropdown { width: 26px; text-align: center; float: right; position: relative; }
.ui-header .menu-bar .content-right.logged-in li .dropdown .fa { margin-top: 0px; color: #555; }
.ui-header .menu-bar .content-right.logged-in li .dropdown .dropdown-menu { width: 98px; height: 80px; box-sizing: border-box; min-width: 0; border-radius: 0; right: -1px; top: 26px; left: auto; position: absolute; padding-top: 8px; }
.ui-header .menu-bar .content-right.logged-in li .dropdown .dropdown-menu li { width: 100%; }
.ui-header .menu-bar .content-right.logged-in li .dropdown .dropdown-menu li a { font: bold 12px arial, sans-serif; text-decoration: none; color: #000; text-align: center; width: 100%; box-sizing: border-box; padding: 0px 0px; }
.ui-header .menu-bar .content-right.logged-in li .dropdown .dropdown-menu li a:hover { background: none; }
.ui-header .menu-main { width: 100%; height: 66px; background: #fff; border-bottom: 1px solid #000; position: relative; }
.ui-header .menu-main.TopMenu { position: fixed; top: 0; left: 0; }
.ui-header .menu-main .logo { width: 284px; height: 66px; text-align: center; float: left; display: inline-block; }
.ui-header .menu-main .logo a { width: 257px; height: 40px; background: url("../../images/logo.jpg") no-repeat; display: inline-block; text-indent: -999em; margin: 16px 0 0 0px; }
.ui-header .menu-main .nav { width: 177px; height: 100%; background: #c72803; float: right; text-align: center; padding: 0px 0 0; box-sizing: border-box; }
.ui-header .menu-main .nav li { display: inline-block; height: 66px; cursor: pointer; float: left; width: 88px; box-sizing: border-box; padding: 18px 0; }
.ui-header .menu-main .nav li a { border-right: 1px solid #d0816e; padding: 18px 28px; margin-right: -8px; }
.ui-header .menu-main .nav li .fa { color: #fff; }
.ui-header .menu-main .nav li .fa.fa-search { font-size: 24px; }
.ui-header .menu-main .nav li .fa.fa-bars { font-size: 30px; }
.ui-header .menu-main .nav li:last-child { padding: 18px 0px; }
.ui-header .menu-main .nav li:last-child a { border: none; margin-right: 0px; }
.ui-header .menu-main .nav li:hover { background: black; }
.ui-header .menu-main .nav li #nav-menu { top: 67px; position: absolute; width: 177px; box-shadow: none; background: rgba(0, 0, 0, 0.9); height: 395px; padding: 0px; z-index: 999999; padding-top: 16px; }
.ui-header .menu-main .nav li #nav-menu .ui-panel-inner { padding: 0px; margin-top: -15px; }
.ui-header .menu-main .nav li #nav-menu ul li { width: 100%; margin: 0; padding: 0; display: block; float: none; height: auto; padding: 16px 0; }
.ui-header .menu-main .nav li #nav-menu ul li a { width: 100%; display: inline-block; font: bold 12px arial, sans-serif; text-transform: uppercase; text-align: center; margin: 0; padding: 0; text-shadow: none; text-decoration: none; color: #999; }
.ui-header .menu-main .nav li #nav-menu ul li:hover { background: #020000; }
.ui-header .menu-main .nav li #nav-menu ul li:hover a { color: #fff; }
.ui-header .menu-main .nav li #nav-menu ul li.active { background: #fff; }
.ui-header .menu-main .nav li #nav-menu ul li.active a { color: #000; }
.ui-header .menu-main .nav li #form-search { position: absolute; top: 67px; width: 100%; background: rgba(0, 0, 0, 0.9); height: 80px; z-index: 99999; }
.ui-header .menu-main .nav li #form-search form { margin-top: 12px; position: relative; }
.ui-header .menu-main .nav li #form-search input { height: 35px; background: #fff; }
.ui-header .menu-main .nav li #form-search button { background: none; position: absolute; top: -5px; right: 1px; border: none; box-shadow: none; }
.ui-header .menu-main .nav li #form-search button .fa { color: #555; font-size: 18px; text-shadow: none; }

.footer { margin-top: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; }
.footer .footer-top { width: 100%; background: url("../../images/bg-footer.jpg") repeat; padding: 0 24px 24px 24px; box-sizing: border-box; text-align: left; }
.footer .footer-top h3 { font: 18px "UTM HelvetIns"; color: #fff; text-transform: uppercase; margin: 22px 0px 18px 0px; }
.footer .footer-top h3 span { font: 14px arial, sans-serif; }
.footer .footer-top .col-3 { width: 100%; float: left; }
.footer .footer-top .col-3 ul li { text-decoration: none; font: 13px arial, sans-serif; color: #fff; padding-bottom: 17px; }
.footer .footer-top .col-3 ul li a { text-decoration: none; font: 13px arial, sans-serif; color: #fff; }
.footer .footer-top .col-3 ul li:last-child { padding-bottom: 0px; }
.footer .footer-top .col-3 ul li .fa { margin-right: 12px; }
.footer .footer-top .col-3 ul li .text-left { float: left; }
.footer .footer-top .col-3 ul li .text-right { float: left; margin-left: 14px; line-height: 20px; }
.footer .footer-top .col-3 ul li .text-right span { min-width: 70px; display: inline-block; color: #ccc; }
.footer .footer-top .col-3 ul.promotion { width: 85%; }
.footer .footer-top .col-3 ul.promotion a { text-transform: uppercase; }
.footer .footer-top .col-3 .content-facebook { padding-top: 28px; }
.footer .footer-bottom { background: #1c1c1c; padding: 0px; }
.footer .footer-bottom .content-left { text-align: center; width: 100%; float: left; padding-top: 20px; height: 55px; }
.footer .footer-bottom .content-left li { font: 11px arial, sans-serif; display: inline-block; margin-right: 16px; vertical-align: middle; color: #555; }
.footer .footer-bottom .content-left li a { color: #999; text-decoration: none; }
.footer .footer-bottom .content-right { width: 100%; float: none; text-align: center; margin-top: 15px; }
.footer .footer-bottom .content-right li { display: inline-block; font: 13px arial, sans-serif; color: #999; margin: 0px; width: 100%; }
.footer .footer-bottom .content-right li .munber { color: #ccc; }
.footer .footer-bottom .content-right li .button { background: #de2824; font: 15px "UTM HelvetIns" !important; text-transform: uppercase; display: inline-block; width: 100%; height: 54px  !important; text-align: center; color: #d9d9d9; text-decoration: none; line-height: 60px  !important; padding-left: 0; }
.footer .footer-bottom .content-right li:last-child { margin-top: 20px; }

.slide-home, .slide-banner, .slide-show { position: relative; }
.slide-home .slick-dots, .slide-banner .slick-dots, .slide-show .slick-dots { text-align: center; position: absolute; bottom: 5px; left: 0px; width: 100%; }
.slide-home .slick-dots li, .slide-banner .slick-dots li, .slide-show .slick-dots li { display: inline-block; }
.slide-home .slick-dots li button, .slide-banner .slick-dots li button, .slide-show .slick-dots li button { width: 12px; height: 12px; border: 1px solid #000; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; background: #fff; color: #fff; margin: 0 5px; }
.slide-home .slick-dots li button:active, .slide-home .slick-dots li button:focus, .slide-banner .slick-dots li button:active, .slide-banner .slick-dots li button:focus, .slide-show .slick-dots li button:active, .slide-show .slick-dots li button:focus { outline: none; }
.slide-home .slick-dots li.slick-active button, .slide-banner .slick-dots li.slick-active button, .slide-show .slick-dots li.slick-active button { background: #000; color: #000; border: 1px solid #fff; }

.home-top h2 { font: bold 24px arial, sans-serif; margin: 0; color: #ccc; }
.home-top h2 span { font-weight: normal; }
.home-top .specify { width: 100%; float: left; }
.home-top .specify img { width: 100%; vertical-align: bottom; }
.home-top .list-product { width: 100%; float: left; }
.home-top .list-product li { width: 100%; display: inline-block; vertical-align: top; }
.home-top .list-product li .container-img { width: 100%; float: left; text-align: center; display: table; padding: 20px 0px; }
.home-top .list-product li .container-img .btn-view { display: inline-block; text-decoration: none; margin-top: 15px; border: 1px; }
.home-top .list-product li .container-img .btn-view span { font: 13px arial,sans-serif; color: #ccc; width: 133px; height: 33px; position: relative; margin: 0 auto; border: 1px solid #ccc; display: block; text-align: center; line-height: 35px; background: #353637; }
.home-top .list-product li .container-img .btn-view:hover span { background: #C72803; color: #fff !important; }
.home-top .list-product li .container-img .tb-middle { display: table-cell; vertical-align: middle; }
.home-top .list-product li .container-img img { max-width: 100%; }
.home-top .list-product li figcaption { width: 100%; float: right; box-sizing: border-box; padding: 13px 17px 20px 17px; position: relative; }
.home-top .list-product li figcaption .price { font: 26px "UTM HelvetIns"; color: #fff; margin-right: 5px; }
.home-top .list-product li figcaption .price-regular { font: 18px arial, sans-serif; color: #fff; }
.home-top .list-product li figcaption .price-free { font: normal 18px arial, sans-serif; color: #fff; margin-top: 10px; display: inline-block; }
.home-top .list-product li figcaption .intro, .home-top .list-product li figcaption p { font: 13px arial, sans-serif; color: #ccc; margin: 5px 0px 0px; line-height: 22px; }
.home-top .list-product li figcaption .group { margin-top: 10px; float: left; }
.home-top .list-product li figcaption .group span { background: url("../../images/sprite.png") no-repeat; width: 34px; height: 34px; display: inline-block; margin-right: 3px; }
.home-top .list-product li figcaption .group span.hot { background-position: -41px 0px; }
.home-top .list-product li figcaption .btn-view { float: right; display: inline-block; text-decoration: none; margin-top: 15px; }
.home-top .list-product li figcaption .btn-view span { font: 13px arial, sans-serif; color: #ccc; width: 133px; height: 33px; position: relative; margin: 0 auto; border: 1px solid #ccc; display: block; text-align: center; line-height: 35px; }
.home-top .list-product li.left-text .container-img { width: 100%; float: right; text-align: center; padding: 20px 0px; }
.home-top .list-product li.left-text figcaption { width: 100%; float: left; }
.home-top.section-second .list-product { width: 100%; }
.home-top.section-second .list-product li { width: 100%; float: left; }
.home-top.section-second .list-product li:first-child .container-img { width: 100%; padding: 20px 0px; }
.home-top.section-second .list-product li:first-child figcaption { width: 100%; }
.home-top.section-second .list-product li.left-text:first-child .container-img { width: 100%; padding: 20px 0px; }
.home-top.section-second .list-product li.left-text:first-child figcaption { width: 100%; }

.ui-content { padding: 0; }

.slide-banner { margin-bottom: 0px; }
.slide-banner .items img { width: 100%; }
.slide-banner .slick-next:before, .slide-banner .slick-prev:before { font-size: 80px; }
.slide-banner .slick-next:before { content: "\f138"; }
.slide-banner .slick-prev:before { content: "\f137"; }
.slide-banner .slick-next { width: 70px; margin-top: -80px; right: 15px; }
.slide-banner .slick-prev { width: 70px; margin-top: -80px; left: 15px; }

.subpage .content .content-center { width: 96%; margin: 0 auto; }

.breadcrumb { background: transparent url("../../images/bg-bread.png") repeat-x bottom; height: auto; padding: 12px 0; box-sizing: border-box; position: relative; z-index: 2; }
.breadcrumb .content-center { width: 98%; margin: 0 auto; }
.breadcrumb.logo-list { height: auto; }
.breadcrumb.logo-list .content-center { padding: 0 25px; }
.breadcrumb.logo-list .content-center ol li { width: 15%; display: inline-block; box-sizing: border-box; vertical-align: top; margin-bottom: 7px; }
.breadcrumb.logo-list .content-center ol li img { max-width: 100%; }
.breadcrumb.logo-list .content-center ol li:nth-child(1) img, .breadcrumb.logo-list .content-center ol li:nth-child(7) img, .breadcrumb.logo-list .content-center ol li:last-child img { max-width: 60%; }
.breadcrumb.logo-list .content-center ol li:nth-child(6) { border: none; }
.breadcrumb.logo-list .content-center ol li:nth-child(6) img { max-width: 80%; }
.breadcrumb.logo-list li { border-right: 2px solid #e7e7e7; padding: 0 11px; }
.breadcrumb.logo-list li:last-child { padding-right: 0px; border: none; vertical-align: top; }
.breadcrumb.logo-list li:last-child img { max-width: 60%; }
.breadcrumb ol { text-align: left; }
.breadcrumb ol li { display: inline; font: 12px arial, sans-serif; color: #333; }
.breadcrumb ol li a { font: 12px arial, sans-serif; color: #333; text-decoration: none; }
.breadcrumb ol li .fa { font-size: 14px; margin: 0 3px 0 8px; }

.product-hot { background: url(../../images/bg-hot.jpg); margin-top: -5px; padding: 25px 0px 10px 0; }
.product-hot ul { margin: 20px 0 0; display: inline-block; }
.product-hot ul li { width: 24.5%; margin-bottom: 25px; }
.product-hot ul .img-box { background: #fff; min-height: 260px; padding: 0 40px; box-sizing: border-box; margin-bottom: 15px; }
.product-hot ul .img-box img { max-width: 100%; }

.product-list h2 { font: 20px "UTM HelvetIns"; color: #555; border-left: 3px solid #c72803; border-bottom: 1px solid #ccc; padding: 9px 7px; max-width: 100%; margin-left: 26px; text-transform: uppercase; }
.product-list h2 span { color: #555; font: normal 14px arial, sans-serif; text-transform: none; }
.product-list h2 span.sologan { float: right; color: #c72803; margin-top: 12px; }
.product-list h2 span.sologan span { color: #c72803; }
.product-list h2 span.sologan .fa { margin-right: 10px; color: #000; }
.product-list .read-more { font: 18px arial, sans-serif; color: #333; width: 413px; height: 65px; border: 1px solid #c72803; margin: 0 auto; display: block; text-decoration: none; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; text-transform: uppercase; text-align: center; line-height: 69px; margin-bottom: 30px; }
.product-list .read-more:hover { background: #c72803; color: #fff; }
.product-list .read-more:hover span { color: #fff; }
.product-list .read-more .number { color: #c72803; }
.product-list ul { text-align: left; margin-bottom: 50px; }
.product-list ul li { display: inline-block; width: 48%; box-sizing: border-box; margin-right: 0px; padding: 0 10px; text-align: center; vertical-align: top; position: relative; overflow: hidden; margin-bottom: 20px; }
.product-list ul li:nth-child(2n) { margin-right: 0; }
.product-list ul li a.read-more { display: none; }
.product-list ul li .img-box { position: relative; width: 100%; display: inline-block; margin-bottom: 7px; }
.product-list ul li .img-box .group { margin-top: 10px; position: absolute; bottom: 2px; right: 2px; }
.product-list ul li .img-box .group span { background: url("../../images/sprite.png") no-repeat; width: 34px; height: 34px; display: inline-block; margin-right: 3px; display: block; }
.product-list ul li .img-box .group span.hot { background-position: -41px 0px; }
.product-list ul li figcaption { text-align: left; }
.product-list ul li figcaption h3 { margin-bottom: 7px; }
.product-list ul li figcaption h3 a { color: #555; font: bold 16px arial, sans-serif; text-decoration: none; }
.product-list ul li figcaption h3 a span { font-weight: normal; }
.product-list ul li figcaption .price { color: #c72803; font: normal 18px arial, sans-serif; }
.product-list ul li figcaption .price-regular { color: #555; font: normal 16px arial, sans-serif; }
.product-list ul li figcaption .intro { color: #555; font: normal 13px arial, sans-serif; line-height: 20px; margin-top: 7px; }
.product-list ul li:last-child { padding-right: 10px; }

.content-information { height: auto; margin-top: -6px; background: #000; background-position: top center !important; }
.content-information .content-detail { height: auto; }
.content-information .img { width: 100%; padding: 65px 40px 0px; box-sizing: border-box; text-align: center; }
.content-information .img img { max-width: 100%; }
.content-information .content-text { width: 100%; padding: 65px 0px 0px 0px; box-sizing: border-box; }
.content-information .content-text h1 { font: 22px arial, sans-serif; color: #fff; margin: 0px; }
.content-information .content-text .price { color: #ffff00; font: 26px "UTM HelvetIns"; }
.content-information .content-text .price-regular { color: #fff; font: 20px arial, sans-serif; margin-left: 5px; }
.content-information .content-text .group { display: inline-block; margin: 15px 0px 0 15px; vertical-align: top; }
.content-information .content-text .group span { background: url("../../images/sprite.png") no-repeat; width: 34px; height: 34px; display: inline-block; margin-right: 3px; }
.content-information .content-text .group span.hot { background-position: -41px 0px; }
.content-information .content-text .description { width: 98%; background: rgba(51, 0, 0, 0.85); border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; box-sizing: border-box; color: #f6d3c4; font: 14px arial, sans-serif; padding: 20px 12px 10px 12px; margin-top: 20px; }
.content-information .content-text .description .ralated { color: #fff; }
.content-information .content-text .description .ralated p { color: #fff; }
.content-information .content-text .description a { color: #ffff00 !important; }
.content-information .content-text .description p, .content-information .content-text .description span { margin: 0 0 7px; line-height: 21px; color: #f6d3c4 !important; font-size: 14px; }
.content-information .content-text .description h4 { margin: 20px 0px 10px; }
.content-information .content-text .social { margin-top: 20px; }

.list-details { padding-top: 10px; }
.list-details .product-list h2 { margin-top: 20px; }
.list-details h2 { font: 20px "UTM HelvetIns"; color: #555; border-left: 3px solid #c72803; border-bottom: 1px solid #ccc; padding: 9px 7px; max-width: 279px; margin-left: 26px; text-transform: uppercase; margin-bottom: 20px; margin-top: 20px; }
.list-details .slide-show { margin-left: 0px; margin-top: 10px; }
.list-details .slide-show .items.slick-slide { margin-right: 0px; background: rgba(163, 168, 174, 0.75); }
.list-details .slide-show .items.slick-slide.slick-active { opacity: 1; }
.list-details .slide-show .items.slick-slide img { max-width: 100%; }
.list-details .slide-show .slick-next, .list-details .slide-show .slick-prev { font-size: 0; line-height: 0; position: absolute; top: 55%; display: block; margin-top: 0px; right: 20%; padding: 0; cursor: pointer; color: transparent; border: none; outline: none; background: transparent; width: 48px; }
.list-details .slide-show .slick-prev { top: 45%; }
.list-details .slide-show .slick-next:before { content: "\f0a9"; font: normal normal normal 14px/1 FontAwesome; font-size: 48px; line-height: 1; color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.list-details .slide-show .slick-prev:before { content: "\f0a8"; font: normal normal normal 14px/1 FontAwesome; font-size: 48px; line-height: 1; color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.list-details .slide-text { max-width: 800px; margin: 0 auto; padding: 0 20px; text-align: center; }
.list-details .slide-text p { font: 13px arial, sans-serif; color: #000; line-height: 21px; text-align: center; }

.technology h2 { margin-top: 15px; }
.technology table { width: 100%; border-collapse: collapse; }
.technology table tr td { border: 1px solid #ccc; padding: 12px; }
.technology table tr td:first-child { text-align: center; text-transform: uppercase; }
.technology table tr td p { margin: 0; line-height: 21px; }
.technology .read-more { width: 400px; height: 40px; text-align: center; border: 1px solid #c72803; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; display: inline-block; font: 15px arial, sans-serif; text-decoration: none; text-transform: uppercase; color: #333; line-height: 42px; margin: 22px auto; display: block; }
.technology .read-more:hover { background: #c72803; color: #fff; }
.technology .read-more:hover span { color: #fff; }
.technology .read-more.close { display: none; }
.technology .read-more.close.active { display: block; }

.technology-full { max-height: 0px; transition: max-height 0.5s; height: 0; overflow: hidden; margin-top: 20px; }
.technology-full.open { height: auto; max-height: 2000px; }

.content-text { margin-bottom: 40px; }
.content-text p { color: #000; font: 13px arial, sans-serif; line-height: 21px; text-align: justify; }
.content-text p.center { text-align: center; }
.content-text img { margin: 0 auto; display: inline-block; max-width: 100%; }
.content-text h4 { text-transform: uppercase; }

.videos .content-video { margin-left: 60px; margin-bottom: 40px; }
.videos .content-video iframe { width: 100%; max-width: 100% !important; }

.adv-box { width: 100%; background: #fff; border: 1px solid #ccc; padding: 9px; box-sizing: border-box; margin-bottom: 35px; }
.adv-box a { margin-right: 0px; max-width: 100%; display: block; }
.adv-box a img { width: 100%; }
.adv-box a:last-child { margin-right: 0; margin-top: 10px; }

.filter { text-align: left; height: auto; border-bottom: 1px solid #ccc; vertical-align: middle; padding-top: 5px; margin-bottom: 30px; }
.filter div { display: block; margin: 15px; }
.filter div .dropdown > a span { display: block; }
.filter div ul { border-radius: 0; margin-top: 5px; }
.filter div ul li { width: 100%; padding: 0; text-align: left; margin-bottom: 10px; }
.filter div ul li a { font-size: 13px; background: none; padding-left: 25px; }
.filter div ul li.active { background: none; }
.filter div ul li.active a { background: none; color: #000; font-weight: bold; }
.filter div ul li.active:before { display: inline-block; font: normal normal normal 11px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); content: "\f00c"; position: absolute; top: 4px; left: 5px; }
.filter div ul li.active:hover a { background: #ccc; border-radius: 0; }
.filter div ul li:hover { box-shadow: none; background: #ccc; }
.filter div.label { color: #999; font: 14px arial, sans-serif; }
.filter div.promotion { height: 30px; color: #fff; font: 14px arial, sans-serif; text-transform: uppercase; background: #3498db; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; padding: 3px 7px 3px 3px; display: inline-block; margin-top: -2px; vertical-align: middle; cursor: pointer; }
.filter div.promotion .fa { font-size: 28px; }
.filter div.promotion span { line-height: 31px; display: inline-block; vertical-align: top; padding-right: 5px; }
.filter div.promotion.active .fa-circle:before { content: "\f10c"; }
.filter div.sort a { display: inline-block; padding-top: 0px; }
.filter div a { color: #333; font: 14px arial, sans-serif; text-decoration: none; }
.filter div a .fa { color: #000; font-size: 12px; margin-left: 8px; position: absolute; right: 0px; top: 0px; }

.page-new { margin: 30px 15px; }
.page-new .content-main { width: 100%; }
.page-new .content-main img { max-width: 100%; }
.page-new .read-more { font: 18px arial,sans-serif; color: #333; width: 413px; height: 65px; border: 1px solid #c72803; margin: 0 auto; display: block; text-decoration: none; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; text-transform: uppercase; text-align: center; line-height: 69px; margin: 0px auto 0px; }
.page-new .read-more:hover { background: #c72803; color: #fff; }
.page-new .read-more:hover span { color: #fff; }
.page-new h1 { font: normal 14px "UTM HelvetIns"; margin: 0 0 10px; }
.page-new p { font: 12px arial, sans-serif; line-height: 26px; margin-bottom: 25px; color: #555; }
.page-new p.center { text-align: center; }
.page-new .info-by { font: 12px arial, sans-serif; color: #555; margin-bottom: 10px; display: inline-block; }
.page-new ul#newsList { text-align: left; }
.page-new ul#newsList li { width: 48%; padding-right: 10px; box-sizing: border-box; margin-bottom: 20px; display: inline-block; overflow: hidden; }
.page-new ul#newsList li:nth-child(2n) { padding-right: 0px; padding-left: 10px; }
.page-new ul#newsList li h2 { color: #555; font: 14px "UTM HelvetIns"; margin: 0; margin-bottom: 10px; }
.page-new ul#newsList li h2 a { text-decoration: none; color: #555; }
.page-new ul#newsList li img { width: auto; height: 150px; margin: 0 auto; max-width: inherit; }

.fittings .menu { background: #e7e7e7; width: 100%; height: auto; border: 1px solid #c2c2c2; padding: 11px 15px; box-sizing: border-box; margin-top: 0px; }
.fittings .menu h2 { padding: 0; margin: 0; font: 18px "UTM HelvetIns"; text-transform: uppercase; color: #c72803; display: inline-block; }
.fittings .menu ul { text-align: right; width: 80%; float: right; padding-top: 5px; }
.fittings .menu ul li { display: inline-block; padding: 0 10px 0 7px; margin-top: 5px; border-right: 1px solid #000; }
.fittings .menu ul li a { color: #000; font: normal arial, sans-serif; font-size: 12px; text-decoration: none; font-weight: normal; }
.fittings .list-fittins { margin-top: 0px; border-left: 1px solid #c2c2c2; }
.fittings .list-fittins .slick-dots { text-align: center; }
.fittings .list-fittins .slick-dots li { height: 18px; width: 18px; border: none; float: none; }
.fittings .list-fittins .slick-dots li:first-child { height: 18px; width: 18px; border: none; float: none; margin-top: 18px; }
.fittings .list-fittins ul { width: 100%; text-align: left; }
.fittings .list-fittins ul .box-img { text-align: center; height: 250px; }
.fittings .list-fittins ul .box-img img { max-width: 100%; max-height: 100%; }
.fittings .list-fittins ul li { display: inline-block; width: 50%; float: left; vertical-align: middle; box-sizing: border-box; border-right: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; height: 425px; padding: 13px; box-sizing: border-box; }
.fittings .list-fittins ul li:first-child { width: 100%; border: none; padding: 0; height: auto; border-right: 1px solid #c2c2c2; border-bottom: 1px solid #c2c2c2; }
.fittings .list-fittins ul li:first-child img { width: 100%; margin-bottom: -3px; }
.fittings .list-fittins ul li h2 { margin: 10px 0; }
.fittings .list-fittins ul li h2 a { font: bold 14px arial, sans-serif; text-decoration: none; color: #555; }
.fittings .list-fittins ul li .price { color: #c72803; font: 18px arial, sans-serif; }
.fittings .list-fittins ul li .price .price-regular { font: normal 16px arial, sans-serif; color: #555; }
.fittings .list-fittins ul li .intro { font: normal 12px arial, sans-serif; color: #555; line-height: 20px; margin: 7px 0 0; }
.fittings:last-child { margin-bottom: 40px; }

.page-satic h2 { max-width: 270px; }
.page-satic .content-banner { margin-bottom: 30px; background: #000 url("../../images/banner-satic.jpg") no-repeat top center; }
.page-satic .content-banner h2 { margin: 27px 0 30px 27px; }
.page-satic .content-banner .content-center { min-height: 326px; }
.page-satic .content-banner .content-center p { color: #fff; line-height: 20px; margin-top: 18px; text-align: justify; }
.page-satic .notice { margin-bottom: 30px; }
.page-satic .notice h5 { font: bold 13px arial, sans-serif; margin-bottom: 10px; }
.page-satic .notice p { font-size: 12px; line-height: 20px; }
.page-satic .content-unlock { margin-top: 20px; }
.page-satic .content-unlock p { line-height: 25px; margin-bottom: 40px; }

.product-other h2 { margin-top: 15px; margin-bottom: 15px; }
.product-other .list-game { text-align: left; border-top: 1px solid #c2c2c2; border-left: 1px solid #c2c2c2; }
.product-other .list-game li { width: 50%; display: inline-block; float: left; padding: 23px 10px; border-bottom: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2; margin-bottom: 0; }
.product-other .list-game li .box-img { width: 100%; text-align: center; }
.product-other .list-game li .box-img img { width: 200px; }
.product-other .list-game li figcaption { width: 100%; }
.product-other .list-game li figcaption h2 { border: none; color: #c72803; font: bold 13px arial, sans-serif; padding: 0; margin: 0; }
.product-other .list-game li figcaption p { font-size: 12px; }
.product-other .list-game li figcaption .information { margin-top: 20px; }
.product-other .list-game li figcaption .information p { line-height: 21px; }
.product-other .list-game li figcaption .download { width: 148px; height: 38px; margin: 0 auto; background: #c72803; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; display: block; font: 15px normal arial, sans-serif; text-align: center; color: #fff; text-decoration: none; line-height: 38px; margin-top: 10px; }
.product-other .list-game li:hover { box-shadow: none; opacity: 1; }
.product-other ul li { margin-bottom: 25px; float: none; vertical-align: top; }
.product-other ul li .img-box { margin-bottom: 15px; }
.product-other ul li .img-box img { max-width: 100%; }

.logged { width: 30px; height: 20px; float: right; vertical-align: top; margin: -10px 0 0 -13px; padding: 13px 2px; }
.logged img { width: 100%; }
.logged .dropdown-menu { left: auto; right: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; background: rgba(0, 0, 0, 0.9); margin-top: 0px; width: 98px; height: 80px; box-sizing: border-box; min-width: 0; }
.logged .dropdown-menu li a { font: bold 12px arial, sans-serif; text-decoration: none; color: #fff; text-align: center; width: 100%; box-sizing: border-box; padding: 10px 0px; }
.logged .dropdown-menu li a:hover { background: none; }
.logged.open { background: #000; }

.menu-other { float: right; margin-top: 6px; }
.menu-other .fa { color: #000; font-size: 20px; }
.menu-other ul { right: 0px; left: auto; border-radius: 0; width: auto !important; }
.menu-other ul li { width: 100%; text-align: right; border: 0 !important; box-sizing: border-box; }
.menu-other ul li a { border: none; width: 100%; text-align: right; box-sizing: border-box; padding: 3px 0px; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

#page .ui-header { padding: 0; }

#page .ui-header form .ui-btn { background: none; border: none; top: -11px; padding-top: 4px; position: absolute; right: 0px; }

.ui-btn-text .fa-search { color: #000 !important; }

.ui-panel-content-wrap { min-height: 0; position: relative; z-index: 10; }

.section-sale { display: none; }

.list-details { padding: 0 7px; }

.article-details .content-text { max-height: 0; overflow: hidden; }
.article-details .content-text.open { max-height: 2500000px; }
.article-details img { max-width: 100% !important; height: auto !important; margin: 30px auto 30px !important; }
.article-details div, .article-details span { line-height: 24px; width: 100% !important; max-width: 100% !important; }
.article-details .read-more { width: 85%; height: 40px; text-align: center; border: 1px solid #c72803; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; display: inline-block; font: 15px arial, sans-serif; text-decoration: none; text-transform: uppercase; color: #333; line-height: 42px; margin: 22px auto; display: block; }
.article-details .read-more:hover { background: #c72803; color: #fff; }
.article-details .read-more:hover span { color: #fff; }
.article-details .read-more.close { display: none; }
.article-details .read-more.close.active { display: block; }

div.product-list ul li img { max-width: 100%; }

#faqs div img { max-width: 100%; height: auto !important; }

.product-other .filter { border: none; }

.block-title { font: 18px "UTM HelvetIns"; color: #555; border-left: 3px solid #c72803; border-bottom: 1px solid #ccc; padding: 9px 7px; max-width: 90%; margin-left: 13px; text-transform: uppercase; background: none; margin-top: 16px; }

.block-content { padding: 20px 20px 16px 20px !important; }

.ui-panel-animate.ui-panel-content-wrap { -webkit-transform: none !important; }

.category-title { padding: 10px; }

.pager .limiter { width: 100%; }

.pager .limiter label { color: #000000; display: inline-block; padding-top: 16px; padding-right: 6px; float: left; width: 100px; text-align: right; }

.pager .ui-select .ui-btn { border-radius: 0; box-shadow: none; }

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after { display: none; }

.ui-select .ui-btn-icon-right .ui-icon { font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); background: none; }

.ui-select .ui-btn-icon-right .ui-icon:before { content: "\f0dd"; }

.pager .amount { float: left; padding-top: 2px; margin-bottom: 5px; }

.pager .pages { margin: 10px 15px 0 15px; }

.ui-select { margin-top: 10px; }

.products-grid li { width: 100%; border: 1px solid #dcdcdc; margin-bottom: 15px; margin-right: 15px; background: white; display: inline-block; box-sizing: border-box; }

.slick-slide img { max-width: 100%; width: 100%; }

form label { font-family: arial,sans-serif; font-size: 14px; }

.page-detail a { color: #000 !important; }
.page-detail .product-list { margin-bottom: 20px; }
.page-detail p { color: #000 !important; margin-bottom: 20px; line-height: 21px !important; }

@media (max-width: 520px) { .slide-banner .items img { width: 100%; }
  .product-list ul { width: 100%; margin-bottom: 0px; }
  .product-list ul li { width: 100%; float: none; }
  .product-list ul li .img-box img { max-width: 100%; width: auto; }
  .product-list .read-more { width: 95%; margin-top: 10px; }
  .videos .content-video { margin-left: 0; }
  .videos iframe { width: 100%; max-width: 100% !important; }
  .technology .read-more { width: 100%; }
  .page-new .read-more { width: 100%; }
  .page-new ul li { width: 100%; padding-right: 0px; }
  .fittings { padding: 10px; }
  .fittings .list-fittins ul li { width: 100%; }
  .fittings .menu ul { width: 100%; }
  .table { overflow-x: auto; margin-bottom: 30px; }
  .product-other .list-game li { width: 100%; }
  .product-other .list-game li figcaption { margin-top: 10px; }
  .filter div.promotion { width: 85%; }
  .page-new ul#newsList li { width: 100%; padding: 0px !important; }
  .page-new ul#newsList li img { width: 100%; height: auto; } }
@media (max-width: 480px) { .ui-header .menu-bar { padding: 0 10px; }
  .ui-header .menu-bar .content-left li { padding: 0 3px; }
  .ui-header .menu-bar .content-left li a { font-size: 10px; line-height: 15px; vertical-align: top; }
  .ui-header .menu-main .logo { width: 160px; margin-left: 10px; }
  .ui-header .menu-main .logo a { width: 160px; background-size: 100%; }
  .ui-header .menu-main .nav { width: 120px; }
  .ui-header .menu-main .nav li { width: 60px; }
  .ui-header .menu-main .nav li a { padding: 18px 15px; }
  .footer { border-top-color: transparent !important; }
  .footer .footer-top { padding: 0 10px 24px 10px; text-align: left; }
  .footer .footer-top .col-3 ul li { line-height: 22px; }
  .footer .footer-top .col-3 ul li .fa { float: left; margin-bottom: 15px; }
  .footer .footer-top .col-3 ul li .text-left { float: none; }
  .footer .footer-top .col-3 ul li .text-right { float: none; }
  .footer .footer-bottom .content-left { margin-bottom: 10px; }
  .footer .footer-bottom .content-left li:last-child { margin-top: 10px; }
  .breadcrumb ol li { margin-bottom: 5px; } }
@media (max-width: 420px) { .breadcrumb.logo-list .content-center { padding-left: 5px; }
  .breadcrumb.logo-list .content-center ol li { text-align: center; padding: 0 5px; } }

/*# sourceMappingURL=main.css.map */
