﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="mucFooter.ascx.cs" Inherits="PhongCachMobile.master.uc.mucFooter" %>
<div class="footer" style="line-height:18px;"><a href='m-chat-luong-hang-hoa' title="Chất lượng hàng hóa" ><span style='color:#be2603;font-weight:bold'>Chất lượng hàng hóa</span></a> - 
<a href='m-quy-dinh-bao-hanh' title="Quy định bảo hành" ><span style='color:#be2603;font-weight:bold'>Quy định bảo hành</span></a><br />
 © 
    <asp:Literal ID="litYear" runat="server"></asp:Literal>. Bản quyền thuộc về <span style='color:#be2603;font-weight:bold'>PhongCachMobile</span></div>
