﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="mucHeader.ascx.cs" Inherits="PhongCachMobile.master.uc.mucHeader" %>
<div data-role="header" data-theme="f" class="header">
                <h1><a href="m-gia-hot" rel="external"><img style="padding-top: 5px;" src="images/logo.png" alt=""/></a></h1>
                <a href="#left-panel" data-shadow="false" ><i class="fa fa-indent fa-2x"></i></a>
                <a href="#right-panel" data-shadow="false" ><i class="fa fa-bars fa-2x"></i></a>
            </div>