/*
* Styles for tm3DCircleCarousel plugin
*/
.splashHolder {
  position: relative;
  /* controls and info */
}
.splashHolder .splash {
  list-style: none;
  position: absolute;
  height: 500px;
  top: 0;
  left: 50%;
  padding: 0px 0px 0px 0px;
}
.splashHolder .splash li {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-left: -390px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  /*.transform-origin(center center);*/
  /*.preserve-3d();       */
  pointer-events: none;
}
.splashHolder .splash li a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  pointer-events: auto;
}
.splashHolder .splash li a img {
  position: relative;
}
.splashHolder .splash li.scale100 {
  -webkit-transform: rotateY(0deg) scale(1, 1);
  -ms-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
  z-index: 95 !important;
}
.splashHolder .splash li.scale90 {
  z-index: 90 !important;
 
}

.splashHolder .splash li.scale80 {
 
}

.splashHolder .splash li.scale90 > a {
  -webkit-transform: rotateY(0deg) scale(0.9, 0.9);
  -ms-transform: rotateY(0deg) scale(0.9, 0.9);
  transform: rotateY(0deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale90.rightSide > a {
 -webkit-transform: rotateY(0deg) scale(0.9, 0.9);
  -ms-transform: rotateY(0deg) scale(0.9, 0.9);
  transform: rotateY(0deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale80 > a {
  -webkit-transform: rotateY(0deg) scale(0.8, 0.8);
  -ms-transform: rotateY(0deg) scale(0.8, 0.8);
  transform: rotateY(0deg) scale(0.8, 0.8);
}
.splashHolder .splash li.scale80.rightSide > a {
   -webkit-transform: rotateY(0deg) scale(0.8, 0.8);
  -ms-transform: rotateY(0deg) scale(0.8, 0.8);
  transform: rotateY(0deg) scale(0.8, 0.8);
}
.splashHolder .splash li.scale70 > a {
  -webkit-transform: rotateY(-15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(-15deg) scale(0.9, 0.9);
  transform: rotateY(-15deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale70.rightSide > a {
  -webkit-transform: rotateY(15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(15deg) scale(0.9, 0.9);
  transform: rotateY(15deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale60 > a {
  -webkit-transform: rotateY(15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(15deg) scale(0.9, 0.9);
  transform: rotateY(15deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale60.rightSide > a {
  -webkit-transform: rotateY(-15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(-15deg) scale(0.9, 0.9);
  transform: rotateY(-15deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale50 > a {
  -webkit-transform: rotateY(-15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(-15deg) scale(0.9, 0.9);
  transform: rotateY(-15deg) scale(0.9, 0.9);
}
.splashHolder .splash li.scale50.rightSide > a {
  -webkit-transform: rotateY(15deg) scale(0.9, 0.9);
  -ms-transform: rotateY(15deg) scale(0.9, 0.9);
  transform: rotateY(15deg) scale(0.9, 0.9);
}
.splashHolder .prevButton,
.splashHolder .nextButton {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 192px;
  width: 39px;
  height: 39px;
  border-radius: 20px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
.splashHolder .prevButton > span,
.splashHolder .nextButton > span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.splashHolder .prevButton:hover,
.splashHolder .nextButton:hover {
  background-color: #ff3708;
}
.splashHolder .prevButton {
  margin-left: -293px;
}
.splashHolder .prevButton > span {
  background: url(../images/arrow_L.png) center no-repeat;
}
.splashHolder .nextButton {
  margin-left: 223px;
}
.splashHolder .nextButton > span {
  background: url(../images/arrow_R.png) center no-repeat;
}
/*Core variables and mixins*/
/* 3d mixins */
.flipX {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.flipY {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.flipXY {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
/* end 3d mixins */
