<%@ Page Title="" Language="C#" MasterPageFile="~/master/Home.Master" AutoEventWireup="true"
    CodeBehind="home.aspx.cs" Inherits="PhongCachMobile.home" %>

<!-- <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trang chủ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -- >

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>-->
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <header class="header clearfix">
                <div class="logo"><a href="/" class="logo">PhongCachMobile</a></div>
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#">GIÁ HOT</a></li>
                        <li><a href="#">ĐIỆN THOẠI</a><i class="fa fa-sort-desc"></i></li>
                        <li><a href="#">MÁY TÍNH BẢNG</a></li>
                        <li><a href="#">PHỤ KIỆN</a></li>
                        <li><a href="#">MÁY CŨ</a></li>
                        <li class="line-2"><a href="#">ỨNG DỤNG<br />- GAME</a></li>
                        <li class="line-2"><a href="#">SỮA CHỮA<br />- CÀI ĐẶT</a></li>
                    </ul>
                </nav>
                <div class="account">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                    <a href="#"><i class="fa fa-user"></i></a>
                </div>
            </header>
            <div class="content">
                <section class="home-top clearfix">
                    <div class="specify">
                        <img src="img/home/lazada.jpg" alt="#">
                    </div>
                    <ul class="list-product">
                        <li>
                            <figure class="clearfix">
                                <div class="container-img">
                                    <div class="tb-middle"><img src="img/home/iphone.jpg" alt="iPhone 6 16GB"></div>
                                </div>
                                <figcaption class="bg-black">
                                    <h2>IPHONE 6 16GB</h2>
                                    <span class="price">18.500.000đ</span><span class="price-regular">(<strike>19.900.000đ</strike>)</span>
                                    <p class="intro">Bản quốc tế, máy mới brandnew 100% fullbox - nguyên seal.</p>
                                    <div class="group">
                                        <span class="gift"></span>
                                        <span class="hot"></span>
                                    </div>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="left-text">
                            <figure>
                                <div class="container-img">
                                    <img src="img/home/sony.jpg" alt="Sony Xperia Z3
                                        compact (công ty)">
                                </div>
                                <figcaption class="bg-blue">
                                    <h2>Sony Xperia Z3
                                        compact <span>(công ty)</span></h2>
                                    <span class="price">18.500.000đ</span><span class="price-regular">(<strike>19.900.000đ</strike>)</span>
                                    <p class="intro">Bản quốc tế, máy mới brandnew 100% fullbox - nguyên seal.</p>
                                    <div class="group">
                                        <span class="gift"></span>
                                        <span class="hot"></span>
                                    </div>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </section>
                <section class="home-top section-second clearfix">
                    <ul class="list-product">
                        <li>
                            <figure class="clearfix">
                                <div class="container-img">
                                    <div class="tb-middle"><img src="img/home/asus.jpg" alt="iPhone 6 16GB"></div>
                                </div>
                                <figcaption class="bg-blue-drak">
                                    <h2>ASUS Fonepad 7 16GB (ME372CG)</h2>
                                    <span class="price">9.500.000đ</span>
                                    <p class="intro">Bản quốc tế, máy mới brandnew 100%,
                                        fullbox - nguyên seal.</p>
                                    <div class="group">
                                        <span class="gift"></span>
                                        <span class="hot"></span>
                                    </div>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <div class="container-img">
                                    <div class="tb-middle"><img src="img/home/sony.jpg" alt="Sony Xperia Z3
                                        compact (công ty)"></div>
                                </div>
                                <figcaption class="bg-black">
                                    <h2>Sony Xperia Z3
                                        compact <span>(công ty)</span></h2>
                                    <span class="price">18.500.000đ</span><span class="price-regular">(<strike>19.900.000đ</strike>)</span>
                                    <p class="intro">Bản quốc tế, máy mới brandnew 100% fullbox - nguyên seal.</p>
                                    <div class="group">
                                        <span class="hot"></span>
                                    </div>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class="list-product">
                        <li class="left-text">
                            <figure class="clearfix">
                                <div class="container-img">
                                    <div class="tb-middle"><img src="img/home/game.jpg" alt="iPhone 6 16GB"></div>
                                </div>
                                <figcaption class="bg-blue-light">
                                    <h2>FIELDRUNNERS 2t</h2>
                                    <span class="price">Miễn phí</span>
                                    <p class="intro">Lối chơi của Fieldrunners 2 vẫn giữ được nét riêng của series Fieldrunners. Trong game, bạn sẽ phải xây dựng, nâng cấp hệ thống phòng ngự, tháp canh, vũ khí, binh lính,…để đảm bảo lãnh thổ không bị xâm phạm.</p>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="left-text">
                            <figure>
                                <div class="container-img">
                                    <div class="tb-middle"><img src="img/home/htc.jpg" alt="Sony Xperia Z3
                                        compact (công ty)"></div>
                                </div>
                                <figcaption class="bg-red">
                                    <h2>HTC ONE M8</h2>
                                    <span class="price">8.550.000đ</span><br />
                                    <span class="price-regular">(Máy mới: 12.000.000đ)</span>
                                    <p class="intro">Máy công ty, mới 99%. Màu đen.<br />
                                        Phụ kiện: Sạc, cáp.<br />
                                        Còn bảo hành: Cty, 16 tháng.</p>
                                    <a href="#" class="btn-view"><span>Xem chi tiết</span></a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </section>
            </div>


            <footer class="footer">
                <div class="footer-top clearfix">
                    <div class="col-3">
                        <h3>TIN KHUYẾN MÃI</h3>
                        <ul class="promotion">
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">SMARTPHONE - BAO XÀI LÊN ĐẾN 20 NGÀY</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">TỔNG HỢP KHUYẾN MẠI ĐÓN TẾT ẤT MÙI 2015.</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">BẢO DƯỠNG MIỄN PHÍ KỲ IV/2014</a></li>
                        </ul>

                        <h3>HỆ THỐNG PHONGCACHMOBILE</h3>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right"></i>58 Trần Quang Khải, P. Tân Định, Quận 1, Tp. HCM.</li>
                            <li><i class="fa fa-chevron-circle-right"></i>697 Lê Hồng Phong, Phường 10, Quận 10, Tp. HCM.</li>
                            <li><i class="fa fa-chevron-circle-right"></i>35A Xô Viết Nghệ Tĩnh, P. An Cư, Q. Ninh Kiều, Tp. Cần Thơ.</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>TIN THỊ TRƯỜNG</h3>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">10 thủ thuật giúp dùng iPhone hiệu quả</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">Những hình ảnh mới về điện thoại xếp hình Project Ara</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i><a href="#">Asus ra Zenfone 2 với RAM 4 GB, giá từ 4 triệu đồng</a></li>
                        </ul>

                        <h3>HỖ TRỢ  <span>(09:00 - 21:00)</span></h3>
                        <ul>
                            <li class="clearfix"><span class="text-left"><i class="fa fa-chevron-circle-right"></i>[Tp. HCM]</span>  	<span class="text-right"><span>Bán hàng</span>	: (08) 3526 8254 - 3526 8255<br />
                                <span>Kỹ thuật</span>	: (08) 3526 8255. Ext 103 - 104</span> </li>
                            <li  class="clearfix"><span class="text-left"><i class="fa fa-chevron-circle-right"></i>[Cần Thơ]</span>	<span class="text-right"><span>Bán hàng</span>	: (071) 0381 9477 - 03819478<br />
                                <span>Kỹ thuật</span>	: (071) 0381 9476</span></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="content-facebook">
                            <img src="img/fb.jpg">
                        </div>
                    </div>
                </div>
                <div class="footer-bottom clearfix">
                    <ul class="content-left">
                        <li><a href="#"><img src="img/mastercard.jpg" alt="Master Card"></a></li>
                        <li><a href="#"><img src="img/visa.jpg" alt="Visa"></a></li>
                        <li>© Copyright 2015 by <a href="#">PhongCachMobile.com.vn</a></li>
                    </ul>
                    <ul class="content-right">
                        <li>Đang online: <span class="munber">155</span>   |   Lượt truy cập: <span class="munber">15.051.982</span></li>
                        <li><a href="#" class="button">LIÊN HỆ</a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    <script type="text/javascript">
        $(document).ready( function(){
            var h_box = $('.home-top .specify').height()/2;
            $('.home-top figcaption').css({'height': h_box + 'px'});
            $('.home-top .tb-middle').css({'height': h_box + 'px'});
            $(window).resize( function(){
                h_box = $('.home-top .specify').height()/2;
                $('.home-top figcaption').css({'height': h_box + 'px'});
                $('.home-top .tb-middle').css({'height': h_box + 'px'});
            });
        });
    </script>
    </body>
</html>
