﻿
#minic_slider {
	position:relative;
	z-index:1;
	width:795px;
	margin:0 10px 0px 0;
	float:left;
	font-size:0
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden
}
.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	max-width:none
}
.nivo-main-image {
	display:block !important;
	position:relative !important;
	width:100% !important
}
.nivoSlider a.nivo-imageLink {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	background:white;
	filter:alpha(opacity=0);
	opacity:0
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden
}
.nivo-box img {
	display:block
}
.nivo-caption {
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding:5px 10px;
	opacity:0.8;
	overflow:hidden;
	-moz-opacity:0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.nivo-caption p {
	padding:5px;
	margin:0
}
.nivo-caption a {
	display:inline !important
}
.nivo-html-caption {
	display:none
}
.nivo-directionNav a {
	position:absolute;
	bottom:10px;
	z-index:9;
	cursor:pointer
}
.nivo-prevNav {
	left:0
}
.nivo-nextNav {
	right:0
}
.nivo-controlNav {
	text-align:center;
	padding:15px 0
}
.nivo-controlNav a {
	cursor:pointer
}
.nivo-controlNav a.active {
	font-weight:bold
}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(http://livedemo00.template-help.com/prestashop_46150/themes/theme778/css/modules/minicslider/views/js/plugins/nivo-slider/loading.gif) no-repeat 50% 50%;
	margin:0 auto;
	margin-top:5px
}
.theme-default .nivoSlider img {
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.theme-default .nivoSlider a {
	display:block;
	border:0
}
.theme-default .nivo-controlNav {
	text-align:center;
	padding:20px 0
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(http://livedemo00.template-help.com/prestashop_46150/themes/theme778/css/modules/minicslider/views/js/plugins/nivo-slider/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin:0 2px
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px
}
.theme-default .nivo-directionNav a {
	display:block;
	width:52px;
	height:52px;
	background:url(http://livedemo00.template-help.com/prestashop_46150/themes/theme778/css/modules/minicslider/views/js/plugins/nivo-slider/arrows.png) no-repeat left top;
	text-indent:-9999px;
	border:0
}
.theme-default a.nivo-nextNav {
	background-position:right top;
	right:10px
}
.theme-default .nivo-directionNav a:hover {
	background-position:left bottom
}
.theme-default a.nivo-nextNav:hover {
	background-position:right bottom
}
.theme-default a.nivo-prevNav {
	left:auto;
	right:62px
}
.theme-default .nivo-caption {
	font-family:Helvetica, Arial, sans-serif
}
.theme-default .nivo-caption a {
	color:#fff;
	border-bottom:1px dotted #fff
}
.theme-default .nivo-caption a:hover {
	color:#fff
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width:100%
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width:auto;
	height:auto;
	background:none;
	margin-bottom:5px
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a:hover, .theme-default .nivo-controlNav.nivo-thumbs-enabled a.active {
	webkit-box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.8);
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.8)
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display:block;
	width:120px;
	height:auto
}
body.instant_search #minic_slider {
	display:none
}
@media only screen and (max-width:1199px) {
#minic_slider {
margin-right:9px
}
}
@media only screen and (max-width:979px) {
#minic_slider {
width:100%;
float:none
}
}
@media only screen and (max-width:767px) {
#minic_slider {
width:100%
}
}
#customcontent_top {
	padding:5px 0;
	overflow:hidden
}
#customcontent_top li 
{
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding-bottom:10px;
	float:left;
	clear:left
}
#customcontent_top li:last-child {
	padding-bottom:0
}
#customcontent_top li .contentDiv {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
#customcontent_top li .con_indent {
	padding:5px 25px
}
#customcontent_top h2 {
	font-family: 'Arial';
	font-weight:normal;
	font-size:27px;
	line-height:53px;
	text-transform:uppercase;
	color:#FFF
}
#customcontent_top h2 b {
	font-weight:bold;
	font-size:32px;
	color:white;
	display:block;
	margin-top:-23px;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear
}
#customcontent_top li:hover h2 b {
	padding-left:20px;
	color:red;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear
}
#customcontent_top li .con_indent > span {
	padding:13px 0 0;
	display:block
}
#customcontent_top li span {
	font-family:'Open Sans', sans-serif;
	font-size:27px;
	color:#FFF;
	text-transform:uppercase
}
#customcontent_top li span b {
	display:block;
	font-weight:600;
	font-size:37px;
	margin-top:0px
}
#customcontent_top li span b span {
	display:block;
	font-size:19px;
	font-weight:normal;
	margin:0px
}
#customcontent_top li span .priceBox {
	font-weight:600;
	margin:0px;
	font-size:63px;
	display:block;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear
}
#customcontent_top li:hover span .priceBox, #customcontent_top li:hover span .priceBox span {
	color:#ec5d16;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear
}
#customcontent_top li span .priceBox span {
	font-size:36px;
	position:relative;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear
}
#customcontent_top li span .priceBox span:after {
	content:'%';
	position:absolute;
	left:2px;
	top:-15px;
	font-size:20px
}
body.instant_search #customcontent_top {
	display:none
}
@media only screen and (max-width:979px) {
#customcontent_top li {
clear:none
}
}
@media only screen and (min-width:980px) and (max-width:1199px) {
#customcontent_top li {
padding-bottom:10px
}
#customcontent_top h2 {
font-size:30px;
line-height:60px
}
#customcontent_top h2 b {
font-size:34px;
margin-top:-16px
}
#customcontent_top li:hover h2 b {
padding-left:10px
}
#customcontent_top li a img {

}
#customcontent_top li .con_indent > span {
padding:15px 0 0
}
#customcontent_top li span {
font-size:20px
}
#customcontent_top li span b {
font-size:32px;
margin-top:8px
}
#customcontent_top li span b span {
font-size:16px;
margin:8px 0
}
#customcontent_top li span .priceBox {
margin:20px 0 0;
font-size:50px
}
#customcontent_top li span .priceBox span {
font-size:30px
}
#customcontent_top li span .priceBox span:after {
font-size:14px;
left:4px;
top:-7px
}
}
@media only screen and (min-width:768px) and (max-width:979px) {
#customcontent_top {
padding:0 0 30px
}
#customcontent_top li {
width:360px;
padding:0;
margin-right:4px;
float:left
}
#customcontent_top li:last-child {
margin:0
}
}
@media only screen and (min-width:400px) and (max-width:767px) {
#customcontent_top {
padding:0 0 30px;
text-align:center
}
#customcontent_top ul {
font-size:0
}
#customcontent_top li {
width:49%;
padding:0;
margin:0 2px;
float:none;
display:inline-block;
text-align:left
}
#customcontent_top li:last-child {
margin:0 2px
}
}
@media only screen and (min-width:400px) and (max-width:420px) {
#customcontent_top li {
width:49%;
padding:0;
margin:0 1px;
float:none;
display:inline-block;
text-align:left
}
#customcontent_top li:last-child {
margin:0 1px
}
}
@media only screen and (min-width:570px) and (max-width:739px) {
#customcontent_top h2 {
font-size:50px;
line-height:60px
}
#customcontent_top h2 b {
font-size:34px;
margin-top:-16px
}
#customcontent_top li:hover h2 b {
padding-left:10px
}
#customcontent_top li .con_indent > span {
padding:15px 0 0
}
#customcontent_top li span {
font-size:20px
}
#customcontent_top li span b {
font-size:32px;
margin-top:8px
}
#customcontent_top li span b span {
font-size:16px;
margin:8px 0
}
#customcontent_top li span .priceBox {
margin:20px 0 0;
font-size:50px
}
#customcontent_top li span .priceBox span {
font-size:30px
}
#customcontent_top li span .priceBox span:after {
font-size:14px;
left:4px;
top:-7px
}
}
@media only screen and (min-width:400px) and (max-width:569px) {
#customcontent_top h2 {
font-size:40px;
line-height:50px
}
#customcontent_top h2 b {
font-size:30px;
margin-top:-16px
}
#customcontent_top li:hover h2 b {
padding-left:10px
}
#customcontent_top li .con_indent > span {
padding:5px 0 0
}
#customcontent_top li span {
font-size:15px
}
#customcontent_top li span b {
font-size:24px;
margin-top:0
}
#customcontent_top li span b span {
font-size:12px;
margin:3px 0
}
#customcontent_top li span .priceBox {
margin:6px 0 0;
font-size:30px
}
#customcontent_top li span .priceBox span {
font-size:13px
}
#customcontent_top li span .priceBox span:after {
font-size:10px;
left:1px;
top:-11px
}
}
@media only screen and (max-width:399px) {
#customcontent_top {
padding-top:0
}
#customcontent_top ul li {
width:100%
}
#customcontent_top h2 {
font-size:50px;
line-height:60px
}
#customcontent_top h2 b {
font-size:34px;
margin-top:-16px
}
#customcontent_top li:hover h2 b {
padding-left:10px
}
#customcontent_top li .con_indent > span {
padding:15px 0 0
}
#customcontent_top li span {
font-size:20px
}
#customcontent_top li span b {
font-size:32px;
margin-top:8px
}
#customcontent_top li span b span {
font-size:16px;
margin:8px 0
}
#customcontent_top li span .priceBox {
margin:20px 0 0;
font-size:50px
}
#customcontent_top li span .priceBox span {
font-size:30px
}
#customcontent_top li span .priceBox span:after {
font-size:14px;
left:4px;
top:-7px
}
}
.customcontent_fieldset.deleteItem {
	background:#F2DEDE;
	border-color:#EED3D7
}
.customcontent_fieldset {
	margin-bottom:20px
}
.customcontent_fieldset label {
	width:120px
}
.customcontent_fieldset .left-col {
	float:left;
	margin-right:20px;
	width:510px
}
.customcontent_fieldset .field {
	margin-bottom:6px
}
.customcontent_fieldset .html {
	position:relative
}
.customcontent_fieldset .html .displayed_flag {
	float:right
}
.customcontent_fieldset .html .language_flags {
	position:absolute;
	top:0;
	right:20px
}
.customcontent_fieldset .deleteItem {
	overflow:hidden;
	margin-bottom:12px;
	padding-bottom:6px;
	border-bottom:1px solid #ccc
}
.customcontent_fieldset .deleteItem input {
	float:left;
	margin-right:6px
}
.customcontent_fieldset .deleteItem label {
	width:auto;
	float:none;
	display:inline
}
.submit-wrapper {
	margin:20px 0
}
#customcontent_home {
	margin-bottom:0
}
#customcontent_home li img {
	vertical-align:top
}
#customcontent_home li {
	float:left;
	margin-left:20px
}
#customcontent_home li:first-child {
	margin-left:0
}
.customcontent_top2_wrap {
	background:#f9f9f9;
	display:block;
	left:50%;
	margin:0 0 0 -5000px;
	padding:0;
	position:relative;
	width:10000px
}
#customcontent_top2 {
	padding:10px 0 0
}
#customcontent_top2 li {
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	margin-bottom:20px;
	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear;
	float:left;
}
#customcontent_top2 li:hover {
	-webkit-box-shadow:-3px 5px 21px 0 black;
	box-shadow:-3px 5px 21px 0 black;
	-webkit-transition:all 0.35s linear;
	-moz-transition:all 0.35s linear;
	-o-transition:all 0.35s linear;
	transition:all 0.35s linear
}
#customcontent_top2 li .contentDiv {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
#customcontent_top2 li .con_indent {
	padding:118px 20px 0 29px
}
#customcontent_top2 h2 {
	font-family:'Open Sans', sans-serif;
	font-weight:normal;
	font-size:28px;
	line-height:32px;
	text-transform:none;
	color:white;
	
}
#customcontent_top2 h2:hover 
{
    color:red;
    padding-left:20px;
	-webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}


#customcontent_top2 p {
	font-size:13px;
	line-height:18px;
	color:white;
}
body.instant_search #customcontent_top2 {
	display:none
}
@media only screen and (min-width:980px) and (max-width:1199px) {
#customcontent_top2 li .con_indent {
}
#customcontent_top2 h2 {
font-size:25px;
line-height:30px
}
#customcontent_top2 p {
font-size:12px
}
}
@media only screen and (min-width:768px) and (max-width:979px) {
#customcontent_top2 li .con_indent {
padding:37px 40px 0 15px
}
#customcontent_top2 h2 {
font-size:20px;
line-height:26px
}
#customcontent_top2 p {
font-size:12px
}
}
@media only screen and (max-width:767px) {
.customcontent_top2_wrap {
background:#f9f9f9;
display:block;
left:auto;
margin:0;
padding:0 50px;
position:relative;
width:auto;
margin:0 -50px
}
.customcontent_top2_wrap .container {
margin:0;
text-align:center
}
#customcontent_top2 {
padding:20px 0 0
}
#customcontent_top2 li {
width:30%;
display:inline-block;
margin:0 5px 20px;
text-align:left
}
#customcontent_top2 li .con_indent {
padding:25px 15px 0 15px
}
#customcontent_top2 h2 {
font-size:16px;
line-height:20px
}
#customcontent_top2 p {
font-size:11px
}
}
@media only screen and (max-width:640px) {
#customcontent_top2 li {
width:45%;
margin:0 10px 20px
}
#customcontent_top2 li .con_indent {
padding:25px 15px 0 25px;
padding-top:20%
}
#customcontent_top2 h2 {
font-size:16px;
line-height:20px
}
#customcontent_top2 p {
font-size:11px
}
}
@media only screen and (max-width:460px) {
#customcontent_top2 li {
margin:0 5px 20px;

}
#customcontent_top2 li .con_indent {
padding-left:8%;
padding-top:28%
}
#customcontent_top2 h2 {
font-size:20px;
line-height:26px
}
#customcontent_top2 p {
display:none
}
}
.customcontent_fieldset.deleteItem {
	background:#F2DEDE;
	border-color:#EED3D7
}
.customcontent_fieldset {
	margin-bottom:20px
}
.customcontent_fieldset label {
	width:120px
}
.customcontent_fieldset .left-col {
	float:left;
	margin-right:20px;
	width:510px
}
.customcontent_fieldset .field {
	margin-bottom:6px
}
.customcontent_fieldset .html {
	position:relative
}
.customcontent_fieldset .html .displayed_flag {
	float:right
}
.customcontent_fieldset .html .language_flags {
	position:absolute;
	top:0;
	right:20px
}
.customcontent_fieldset .deleteItem {
	overflow:hidden;
	margin-bottom:12px;
	padding-bottom:6px;
	border-bottom:1px solid #ccc
}
.customcontent_fieldset .deleteItem input {
	float:left;
	margin-right:6px
}
.customcontent_fieldset .deleteItem label {
	width:auto;
	float:none;
	display:inline
}
.submit-wrapper {
	margin:20px 0
}
#customcontent_home {
	margin-bottom:0
}
#customcontent_home li img {
	vertical-align:top
}
#customcontent_home li {
	float:left;
	margin-left:20px
}
#customcontent_home li:first-child {
	margin-left:0
}

.span4 {
    width: 340px;
}

.lastmrg {
    margin-right:0px;
}

.itemmrg {
    margin-right:20px;
}


