.ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*
 * Retina backgrounds
 * This is important. Especially because these images are coming from the CDN.
 * Generate images at 1x and 2x sizes. Pass in the width and height of the 1x
 * image. The mixin will double it for you. I encourage you to download
 * ImageAlpha and convert png24s to png8s to more than 1/2 the size.
 *
 * File naming conventions:
 * Your images will break if you do not name them conventionally. Two images
 * must exist. File name, target resolution, png type. Use the following format:
 *
 * 1x resolution images: file-name@1x-8.png
 * 2x resolution images: file-name@2x-8.png
 *
 * @param @c    - Background color.
 * @param @file - File path RELATIVE to the root /images directory.
 *    ex. .retina-bg(@file: "home/uber-app/file-name")
 * @param @ext  - File extension with leading dot.
 * @param @xo   - X axis offset.
 * @param @yo   - Y axis offset.
 * @param @w    - Width of image at 0.5x resolution.
 * @param @h    - Height of image at 0.5x resolution.
 */
.pattern-bg-lite {
  background: #ffffff url('../images/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-lite {
    background: #ffffff url('../images/pattern-grid@2x.jpg') repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-lite {
    background-size: 18px 18px;
  }
}
.pattern-bg-dark {
  background: #202024 url('../images/pattern-grid-dark@1x.gif') repeat left top;
  background-size: 18px 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-dark {
    background: #202024 url('../images/pattern-grid-dark@2x.gif') repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-dark {
    background-size: 18px 18px;
  }
}
.transition-off {
  webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-backface-visibility: hidden;
}
/* HOMEPAGE */
.hero .hero-slide {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.hero .hero-slide.active {
  display: block;
}
.hero .hero-slide > div {
  position: relative;
  z-index: 2;
}
.hero .hero-slide .headline {
  top: 55%;
}
.request-and-ride {
  min-height: 520px;
  padding: 60px 0;
  position: relative;
  background: #ffffff url('../images/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
  text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride {
    background: #ffffff url('../images/pattern-grid@2x.jpg') repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride {
    background-size: 18px 18px;
  }
}
.request-and-ride.gallery-open .story {
  display: none;
}
.request-and-ride.gallery-open .modal-gallery {
  display: block;
}
.request-and-ride .story {
  padding: 50px 0px;
}
.request-and-ride .story li > div {
  background: transparent url('../images/feature-box-bgs-web-sprite@1x-8.png') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .story li > div {
    background: transparent url('../images/feature-box-bgs-web-sprite@2x-8.png') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .story li > div {
    background-size: 1004px 596px;
  }
}
.request-and-ride article.fr-FR-story li > div {
  background: transparent url('../images/feature-box-bgs-web-sprite@1x.jpg') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.fr-FR-story li > div {
    background: transparent url('../images/feature-box-bgs-web-sprite@2x.jpg') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.fr-FR-story li > div {
    background-size: 1004px 596px;
  }
}
.request-and-ride article.it-IT-story li > div {
  background: transparent url('../images/feature-box-bgs-web-sprite@1x.jpg') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.it-IT-story li > div {
    background: transparent url('../images/feature-box-bgs-web-sprite@2x.jpg') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.it-IT-story li > div {
    background-size: 1004px 596px;
  }
}
.request-and-ride article.nl-NL-story li > div {
  background: transparent url('../images/feature-box-bgs-web-sprite@1x.jpg') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.nl-NL-story li > div {
    background: transparent url('../images/feature-box-bgs-web-sprite@2x.jpg') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride article.nl-NL-story li > div {
    background-size: 1004px 596px;
  }
}
.request-and-ride .story .tap-to-ride > div {
  background-position: 40px 0px;
}
.request-and-ride .story .reliable-pickup > div {
  background-position: -332px 0px;
}
.request-and-ride .story .clear-pricing > div {
  background-position: -706px 0px;
}
.request-and-ride .story .cashless-convenient > div {
  background-position: 40px -310px;
}
.request-and-ride .story .feedback-matters > div {
  background-position: -350px -310px;
}
.request-and-ride .story .split-fare > div {
  background-position: -720px -310px;
}
.request-and-ride .modal-gallery {
  display: none;
  position: relative;
}
.request-and-ride .modal-gallery .close-modal {
  position: absolute;
  top: -34px;
  right: 8px;
  font-size: 20px;
  font-weight: bold;
}
.request-and-ride .modal-gallery .modal-container {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  background-color: #080810;
  background: #202024 url('../images/pattern-grid-dark@1x.gif') repeat left top;
  background-size: 18px 18px;
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container {
    background: #202024 url('../images/pattern-grid-dark@2x.gif') repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container {
    background-size: 18px 18px;
  }
}
.request-and-ride .modal-gallery .modal-container .btn {
  width: 40%;
  height: 452px;
  margin-top: -226px;
  padding: 215px 20px 0 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 2;
  font-size: 22px;
  color: #c70404;
  text-align: right;
}
.request-and-ride .modal-gallery .modal-container .btn.last {
  padding: 215px 0 0 20px;
  left: 0px;
  text-align: left;
}
.request-and-ride .modal-gallery .modal-container ul {
  list-style: none outside none;
}
.request-and-ride .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image {
  background: transparent url('../images/features-phones-web-sprite@1x-8.png') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-web-sprite@2x-8.png') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image {
    background-size: 1040px 1354px;
  }
}
.request-and-ride .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image {
  background: transparent url('../images/features-phones-web-sprite@1x-8.png') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-web-sprite@2x-8.png') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image {
    background-size: 1040px 1354px;
  }
}
.request-and-ride .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image {
  background: transparent url('../images/features-phones-web-sprite@1x-8.png') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-web-sprite@2x-8.png') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image {
    background-size: 1040px 1354px;
  }
}
.request-and-ride .modal-gallery .modal-container .modal-slide {
  display: none;
  padding: 75px;
  position: relative;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.active {
  display: block;
}
.request-and-ride .modal-gallery .modal-container .modal-slide .copy {
  position: relative;
  text-align: left;
}
.request-and-ride .modal-gallery .modal-container .modal-slide .stick {
  width: 225px;
  height: 32px;
  position: relative;
  background: transparent url('../images/sprite@1x-8.png') no-repeat -145px top;
  z-index: 1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    background: transparent url('../images/sprite@2x-8.png') no-repeat -145px top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    background-size: 690px 264px;
  }
}
.request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
  position: absolute;
  z-index: 2;
  background: transparent url('../images/features-phones-web-sprite@1x-8.png') no-repeat left top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/features-phones-web-sprite@2x-8.png') no-repeat left top;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background-size: 1040px 1354px;
  }
}
.request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .copy {
  padding: 110px 0px 0px 340px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .stick {
  top: 220px;
  left: 128px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image {
  width: 270px;
  height: 660px;
  top: -32px;
  left: 85px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .copy {
  padding: 110px 380px 0px 35px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .stick {
  top: 220px;
  left: 448px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image {
  width: 270px;
  height: 660px;
  background-position: -320px top;
  top: -32px;
  right: 85px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .copy {
  padding: 100px 0px 0px 510px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .stick {
  top: 210px;
  left: 305px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image {
  width: 415px;
  height: 660px;
  background-position: -610px -15px;
  top: -32px;
  left: 75px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .copy {
  padding: 110px 450px 0px 40px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .stick {
  top: 150px;
  left: 335px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image {
  width: 330px;
  height: 660px;
  background-position: 0px -672px;
  top: -32px;
  right: 85px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .copy {
  padding: 110px 0px 0px 340px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .stick {
  top: 220px;
  left: 128px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image {
  width: 260px;
  height: 660px;
  background-position: -330px -677px;
  top: -32px;
  left: 85px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .copy {
  padding: 110px 450px 0px 0px;
}
.request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .stick {
  top: 218px;
  left: 362px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .feature-image {
  width: 440px;
  height: 660px;
  background-position: -598px -682px;
  top: -32px;
  right: 55px;
}
/* Vehicle slider -- See global-elements.less */
.around-the-world {
  min-height: 805px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: #080810 url('../images/map-web@1x.gif') no-repeat center 200px;
  background-size: 1024px 510px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .around-the-world {
    background: #080810 url('../images/map-web@2x.gif') no-repeat center 200px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .around-the-world {
    background-size: 1024px 510px;
  }
}
.around-the-world .map-title {
  padding-top: 30px;
}
.around-the-world form {
  padding: 180px 0 12px;
  text-align: center;
}
.around-the-world form .city-search {
  display: inline-block;
}
.around-the-world form .city-search input {
  width: 300px;
}
.around-the-world .cities-link {
  font-size: 14px;
}
@media screen and (min-width: 1000px) and (max-width: 1440px) {
  .hero .controller {
    top: 92%;
  }
  .hero .hero-slide .headline {
    top: 58%;
  }
  .hero .hero-slide .headline h1 {
    font-size: 75px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .hero .hero-slide .headline {
    top: 50%;
  }
  .hero .hero-slide .headline h1 {
    line-height: 75px;
  }
  .request-and-ride .story {
    padding: 50px 100px;
  }
  .request-and-ride .modal-gallery .modal-container {
    height: 300px;
  }
  .request-and-ride .modal-gallery .modal-container .btn {
    height: 300px;
    margin-top: -150px;
    padding-top: 135px;
  }
  .request-and-ride .modal-gallery .modal-container .btn.last {
    padding-top: 135px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide {
    padding: 10px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .copy {
    padding: 48px 70px 65px 30px;
    top: -28px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3 {
    font-size: 27px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .copy p {
    font-size: 12px;
    line-height: 22px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    display: none;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/features-phones-tablet-sprite@1x-8.png') no-repeat left top;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .copy {
    padding: 112px 55px 0px 215px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image {
    width: 128px;
    height: 335px;
    top: -18px;
    left: 48px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .copy {
    padding: 83px 205px 0px 70px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image {
    width: 129px;
    height: 338px;
    background-position: -162px top;
    top: -20px;
    right: 50px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .copy {
    padding: 115px 80px 0px 288px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image {
    width: 212px;
    height: 333px;
    background-position: -300px -6px;
    top: -17px;
    left: 38px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .copy {
    padding: 102px 240px 0px 62px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image {
    width: 163px;
    height: 336px;
    background-position: 0px -336px;
    top: -16px;
    right: 38px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .copy {
    padding: 100px 55px 0px 228px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image {
    width: 122px;
    height: 332px;
    background-position: -173px -336px;
    top: -16px;
    left: 70px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .copy {
    padding: 95px 345px 0px 70px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .feature-image {
    width: 220px;
    height: 335px;
    background-position: -297px -338px;
    top: -20px;
    right: 80px;
  }
  .around-the-world {
    background-position: center 165px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/features-phones-tablet-sprite@2x-8.png') no-repeat left top;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background-size: 520px 676px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .hero .hero-slide .headline {
    top: 70%;
  }
}
@media screen and (min-width: 500px) and (max-width: 780px) {
  .request-and-ride .story {
    padding: 50px 0px;
  }
}
@media screen and (max-width: 500px) {
  .request-and-ride {
    padding: 25px 0;
  }
  .request-and-ride .grid-locked {
    padding: 0px 5px;
  }
  .request-and-ride .story {
    padding: 20px 0px;
  }
  .request-and-ride .story li .headline {
    font-size: 15px;
  }
  .request-and-ride .modal-gallery .close-modal {
    padding: 21px;
    top: 0px;
    right: 2px;
    z-index: 9;
    font-size: 14px;
  }
  .request-and-ride .modal-gallery .modal-container {
    width: 100%;
    height: 468px;
    margin-top: 25px;
    padding-top: 55px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .request-and-ride .modal-gallery .modal-container .btn {
    height: auto;
    margin: 0;
    width: 52px;
    padding: 22px;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: bold;
  }
  .request-and-ride .modal-gallery .modal-container .btn.next {
    left: 50px;
  }
  .request-and-ride .modal-gallery .modal-container .btn.last {
    padding: 22px 20px;
  }
  .request-and-ride .modal-gallery .modal-container ul {
    border-top: 1px solid #666;
  }
  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@1x.jpg') no-repeat left top;
  }
  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@1x.jpg') no-repeat left top;
  }
  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@1x.jpg') no-repeat left top;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide {
    padding: 0;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .copy {
    padding: 15px 18px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3 {
    padding-bottom: 5px;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    width: 277px;
    height: 164px;
    margin: 0 0 20px -139px;
    position: relative;
    top: 17px;
    left: 50%;
    background: transparent url('../images/home-features-phones-mobile@1x.jpg') no-repeat left top;
  }
  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    display: none;
  }
  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.reliable-pickup .feature-image {
    background-position: -278px 0px;
  }
  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.clear-pricing .feature-image {
    background-position: -559px 0px;
  }
  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.cashless-convenient .feature-image {
    background-position: 0 -168px;
  }
  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.feedback-matters .feature-image {
    background-position: -278px -168px;
  }
  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.split-fare .feature-image {
    background-position: -559px -168px;
  }
  .around-the-world {
    min-height: 620px;
    background: #000000 url('../images/map-mobile@1x.gif') no-repeat center -70px;
  }
  .around-the-world form {
    padding-top: 90px;
  }
  .around-the-world form .city-search input,
  .around-the-world form .city-search .city-list {
    width: 265px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@2x.jpg') no-repeat left top;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@2x.jpg') no-repeat left top;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/features-phones-mobile@2x.jpg') no-repeat left top;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/home-features-phones-mobile@2x.jpg') no-repeat left top;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .around-the-world {
    background: #000000 url('../images/map-mobile@2x.gif') no-repeat center -70px;
  }
}
@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .around-the-world {
    background-size: 320px 610px;
  }
}
