/*Sass -- Author:Nguyen Thanh Than*/
@import '_mixins.scss';
@import '_base.scss';
@import  '../fonts/fonts.css';

$font-stack:    arial, sans-serif;
$font-h:        "UTM HelvetIns";
$primary-color: #333;

html, body{ font:12px $font-stack;}
.container{
  min-width: 1335px;
}
ul, ol, figure{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  outline: none;
  &:hover{
    opacity: 0.75;
  }
}
.input{
  @include add-border(1px, #e1e1e1, all);
  @include border-radius(4px);
  height: 35px;
  box-sizing: border-box;
  background: #fff;
}
.bg-black{
  background: #353637;
}
.bg-blue{
  background: #3498db;
  h2, .intro{
    color: #002b45 !important;
  }
  .btn-view   span{
    color: #002b45 !important;
  }
}
.bg-blue-drak{
  background: #2c3e50;
}
.bg-blue-light{
  background: #2ecc71;
  h2, .intro{
    color: #333 !important;
  }
  .btn-view{
    span{
      color: #333 !important;
    }
  }
}
.bg-red{
  background: #de2824;
}
.header{
  @include add-border(1px, #000, bottom);
  background: #c72803;
  height: 66px;
  .logo{
    width: 290px;
    height: 66px;
    background: #fff;
    text-align: center;
    float: left;
    display: inline-block;
    a{
      width: 257px;
      height: 40px;
      background: url('../img/logo.jpg') no-repeat;
      display: inline-block;
      text-indent: -999em;
      margin: 16px 0 0 15px;
    }
  }
  nav{
    float: left;
    width: 50%;
    ul{
      text-align: left;
      margin-top: 14px;
      li{
        display: inline-block;
        vertical-align: middle;
        @include add-border(1px, #d0816e, right);
        height: 40px;
        line-height: 1;
        padding: 0 10px;
        text-align: center;
        a{
          font: 15px $font-h;
          color: #d9d9d9;
          text-decoration: none;
          margin-top: 8px;
          display: inline-block;
        }
        &.line-2{
          a{
            margin-top: -8px;
            display: inline-block;
            line-height: 27px;
          }
        }
        .fa{
          display: inline-block;
          padding: 12px 0px 0px 10px;
          vertical-align: top;
          font-size: 13px;
          color: #d9d9d9;
        }
        &:last-child{
          border: none;
        }
      }
    }

  }
  .account{
    float: right;
    text-align: right;
    padding: 0 21px 0px 0px;
    margin:16px 0px 0px;
    form{
      display: inline-block;
      position: relative;
      @include add-border(1px, #d0816e, right);
      margin: 0 13px;
      padding: 0 15px;
      input[type="text"]{
        @extend .input;
        width: 267px;
        padding: 0 10px;
      }
      button{
        position: absolute;
        top: 7px;
        right: 21px;
        background: none;
        border: none;
        font-size: 18px;
        padding: 0;
      }
    }
    a{
      display: inline-block;
      .fa{
        font-size: 36px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: -11px;
      }
    }
  }
}
.home-top{
  h2{
    font: bold 24px $font-stack;
    margin: 0;
    color: #ccc;
    span{
      font-weight: normal;
    }
  }
  .specify{
    width: 50%;
    float: left;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
  .list-product{
    width: 50%;
    float: left;
    li{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      .container-img{
        width: 45%;
        float: left;
        text-align: center;
        display: table;
        .tb-middle{
          display: table-cell;
          vertical-align: middle;
        }
      }
      figcaption{
        width: 55%;
        float: right;
        box-sizing: border-box;
        padding: 13px 17px 80px 17px;
        position: relative;
        .price{
          font: 26px $font-h;
          color: #fff;
        }
        .price-regular{
          font: 18px $font-stack;
          color: #fff;
          margin-left: 5px;
        }
        .intro{
          font: 13px $font-stack;
          color: #ccc;
          margin: 5px 0px 0px;
          line-height: 22px;
        }
        .group{
          margin-top: 10px;
          span{
            background: url("../img/sprite.png") no-repeat;
            width: 34px;
            height: 34px;
            display: inline-block;
            margin-right: 3px;
            &.hot{
              background-position: -41px 0px;
            }
          }

        }
        .btn-view{
          width: 100%;
          position: absolute;
          bottom: 16px;
          left: 0;
          display: inline-block;
          text-decoration: none;
          span{
            font:13px $font-stack;
            color: #ccc;
            width: 133px;
            height: 33px;
            position: relative;
            margin: 0 auto;
            @include add-border(1px, #ccc, all);
            display: block;
            text-align: center;
            line-height: 35px;
          }
        }
      }
      &.left-text{
        .container-img{
          width: 55%;
          float: right;
          text-align: center;
        }
        figcaption{
          width: 45%;
          float: left;
        }
      }
    }

  }
  &.section-second{
    .list-product{
      width: 100%;
      li{
        width: 50%;
        float: left;
        &:first-child{
          .container-img{
            width: 55%;
          }
          figcaption{
            width: 45%;
          }
        }
        &.left-text:first-child{
          .container-img{
            width: 45%;
          }
          figcaption{
            width: 55%;
          }
        }
      }
    }
  }
}

.footer{
  .footer-top{
    width: 100%;
    background: url("../img/bg-footer.jpg") repeat;
    padding: 0 24px 13px 24px;
    box-sizing: border-box;
    h3{
      font:18px $font-h;
      color: #fff;
      text-transform: uppercase;
      margin: 22px 0px 18px 24px;
      span{
        font: 14px $font-stack;
      }
    }
    .col-3{
      width: 33.33%;
      float: left;
      ul{
        li{
          text-decoration: none;
          font: 13px $font-stack;
          color: #fff;
          padding-bottom: 17px;
          a{
            text-decoration: none;
            font: 13px $font-stack;
            color: #fff;
          }
          &:last-child{
            padding-bottom: 0px;
          }
          .fa{
            margin-right: 12px;
          }
          .text-left{
            float: left;
          }
          .text-right{
            float: left;
            margin-left: 14px;
            line-height: 20px;
            span{
              min-width: 70px;
              display: inline-block;
              color: #ccc;
            }
          }
        }
        &.promotion{
          a{
            text-transform: uppercase;

          }
        }
      }
      .content-facebook{
        padding-top: 28px;
      }
    }
  }
  .footer-bottom{
    background: #1c1c1c;
    padding: 0px 0px 0px 20px;
    .content-left{
      text-align: left;
      width: 50%;
      float: left;
      padding-top: 10px;
      li{
        font: 11px $font-stack;
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        color: #555;
        a{
          color: #999;
          text-decoration: none;
        }
      }
    }
    .content-right{
      width: 50%;
      float: right;
      text-align: right;
      li{
        display: inline-block;
        font: 13px $font-stack;
        color: #999;
        margin-left: 27px;
        .munber{
          color: #ccc;
        }
        .button{
          background: #de2824;
          font: 15px $font-h;
          text-transform: uppercase;
          display: inline-block;
          width: 209px;
          height: 54px;
          text-align: center;
          color: #d9d9d9;
          text-decoration: none;
          line-height: 60px;
        }
      }
    }
  }
}

