/*Sass -- Author:Nguyen Thanh Than*/
@import url(../fonts/fonts.css);
.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 55%;
  display: block;
  margin-top: 0px;
  right: 20%;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  width: 48px; }

.slick-prev:before {
  content: "\f0a8";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 48px;
  line-height: 1;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-next:before {
  content: "\f0a9";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 48px;
  line-height: 1;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.font13 {
  font-size: 13px !important; }

.color-red {
  color: #c72803 !important; }

.icon-hethang,
.icon-sapco {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10; }

.over-product .group span {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.table table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }
  .table table thead td {
    background: #cc3333;
    color: #fff;
    font: normal 16px 'Arial'; }
    .table table thead td:first-child {
      text-align: center; }
  .table table td {
    text-align: center;
    padding: 17px;
    border: 1px solid #c6cad3;
    font: normal 14px 'Arial';
    color: #555; }
    .table table td:first-child {
      text-align: left;
      padding-left: 25px; }

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html, body {
  font: 13px arial, sans-serif; }

.container {
  min-width: 1335px; }

#wrapper3 {
  background: #fff; }
  #wrapper3.subpage {
    min-width: 1196px !important; }

.content-center {
  max-width: 1195px;
  margin: 0 auto; }

ul, ol, figure {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  outline: none; }
  a:hover {
    opacity: 0.75; }

.input, .header .account form input[type="text"] {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 35px;
  box-sizing: border-box;
  background: #fff; }

.bg-black {
  background: #353637; }

.bg-blue {
  background: #3498db; }
  .bg-blue h2, .bg-blue .intro {
    color: #002b45 !important; }
  .bg-blue .btn-view span {
    color: #002b45 !important; }

.bg-blue-drak {
  background: #2c3e50; }

.bg-blue-light {
  background: #2ecc71; }
  .bg-blue-light h2, .bg-blue-light .intro {
    color: #333 !important; }
  .bg-blue-light .btn-view span {
    color: #333 !important; }
  .bg-blue-light p, .bg-blue-light div, .bg-blue-light span {
    color: #333 !important; }
  .bg-blue-light span.price {
    color: #fff !important; }

.bg-red {
  background: #de2824; }
  .bg-red div.intro {
    font: 13px arial, sans-serif !important;
    color: #ccc;
    margin: 5px 0px 0px;
    line-height: 22px; }
    .bg-red div.intro div {
      color: #ccc !important; }
      .bg-red div.intro div span {
        font-size: 13px !important; }
  .bg-red a:hover span {
    background: #fff !important;
    color: #ccc !important; }

.header {
  border-bottom: 1px solid #000;
  background: #c72803;
  height: 66px; }
  .header .logo {
    width: 290px;
    height: 66px;
    background: #fff;
    text-align: center;
    float: left;
    display: inline-block; }
    .header .logo a {
      width: 257px;
      height: 40px;
      background: url("../images/logo.jpg") no-repeat;
      display: inline-block;
      text-indent: -999em;
      margin: 16px 0 0 15px; }
  .header nav {
    float: left;
    width: 52%;
    min-width: 790px; }
    .header nav ul {
      text-align: left;
      margin-top: 0px;
      position: relative; }
      .header nav ul li {
        display: inline-block;
        vertical-align: middle;
        height: 61px;
        line-height: 1;
        text-align: center;
        float: left;
        padding-top: 5px; }
        .header nav ul li:last-child:hover, .header nav ul li:last-child.active {
          position: relative; }
        .header nav ul li:nth-child(4) .sub-menu {
          height: 230px; }
        .header nav ul li a {
          font: 15px "UTM HelvetIns";
          color: #d9d9d9;
          text-decoration: none;
          margin-top: 8px;
          display: inline-block;
          border-right: 1px solid #d0816e;
          padding: 0 10px;
          height: 44px;
          line-height: 40px; }
        .header nav ul li.line-2 a {
          margin-top: 8px;
          display: inline-block;
          line-height: 22px;
          position: relative;
          padding-right: 30px; }
          .header nav ul li.line-2 a .fa {
            position: absolute;
            top: 5px;
            right: 12px; }
        .header nav ul li:last-child.line-2 a {
          padding-right: 15px; }
        .header nav ul li .fa {
          display: inline-block;
          padding: 12px 0px 0px 10px;
          vertical-align: top;
          font-size: 13px;
          color: #d9d9d9; }
        .header nav ul li:last-child a {
          border: none; }
        .header nav ul li.active, .header nav ul li:hover {
          background: #000;
          margin-left: -1px;
          position: static;
          z-index: 9999; }
          .header nav ul li.active a, .header nav ul li:hover a {
            border-color: transparent;
            margin-left: 1px; }
        .header nav ul li:hover .sub-menu {
          display: block; }
        .header nav ul li .sub-menu {
          position: absolute;
          top: 66px;
          left: 0;
          background: rgba(0, 0, 0, 0.9);
          height: 210px;
          width: 775px;
          display: none;
          z-index: 10; }
          .header nav ul li .sub-menu.list-5-items {
            width: 810px !important; }
            .header nav ul li .sub-menu.list-5-items li.items-product figure {
              height: 190px; }
          .header nav ul li .sub-menu.one-product {
            height: 227px; }
            .header nav ul li .sub-menu.one-product li {
              width: 23%; }
              .header nav ul li .sub-menu.one-product li:first-child {
                width: 23%; }
              .header nav ul li .sub-menu.one-product li:nth-child(2) {
                width: 23%; }
              .header nav ul li .sub-menu.one-product li.first {
                width: 28%; }
                .header nav ul li .sub-menu.one-product li.first figure {
                  height: 200px; }
          .header nav ul li .sub-menu.game-product {
            width: 832px !important; }
            .header nav ul li .sub-menu.game-product .items-product {
              text-align: center; }
              .header nav ul li .sub-menu.game-product .items-product .read-more {
                width: 90px;
                left: 14px;
                padding: 0 20px; }
              .header nav ul li .sub-menu.game-product .items-product figure {
                border: none; }
                .header nav ul li .sub-menu.game-product .items-product figure h2 {
                  color: #353637;
                  margin-top: 10px; }
              .header nav ul li .sub-menu.game-product .items-product.first .read-more {
                left: 32px; }
          .header nav ul li .sub-menu li {
            text-align: left;
            line-height: 0px; }
            .header nav ul li .sub-menu li a {
              border: none;
              font: normal 13px "UTM HelvetIns";
              text-transform: none;
              height: 30px;
              text-align: left;
              margin: 1px 0 0 9px;
              line-height: 27px;
              min-width: 30px;
              display: block; }
            .header nav ul li .sub-menu li:hover a {
              background: none; }
              .header nav ul li .sub-menu li:hover a:hover {
                background: #b42403;
                opacity: 1; }
            .header nav ul li .sub-menu li.items-product {
              height: auto;
              margin: 10px 10px;
              position: relative;
              overflow: hidden; }
              .header nav ul li .sub-menu li.items-product.first {
                border-left: 1px solid #666; }
                .header nav ul li .sub-menu li.items-product.first .notice {
                  left: 20px; }
                .header nav ul li .sub-menu li.items-product.first figure {
                  margin-left: 17px; }
                .header nav ul li .sub-menu li.items-product.first .read-more {
                  left: 20px; }
              .header nav ul li .sub-menu li.items-product .notice {
                width: 30px;
                height: 20px;
                background: #f1c40f;
                color: #000;
                font: normal 11px arial, sans-serif;
                position: absolute;
                left: 3px;
                top: 3px;
                text-align: center;
                line-height: 20px;
                z-index: 10; }
              .header nav ul li .sub-menu li.items-product .read-more {
                font: normal 13px arial, sans-serif;
                color: #ccc;
                height: 30px;
                width: 133px;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                border: 1px solid #ccc;
                position: absolute;
                bottom: -40px;
                left: 4px;
                transition: 0.5s all; }
                .header nav ul li .sub-menu li.items-product .read-more:hover {
                  background: #C72803 !important;
                  color: #fff !important; }
              .header nav ul li .sub-menu li.items-product:hover figure {
                opacity: 0.55; }
              .header nav ul li .sub-menu li.items-product:hover .read-more {
                bottom: 50%;
                margin-top: 30px; }
                .header nav ul li .sub-menu li.items-product:hover .read-more:hover {
                  background: none; }
              .header nav ul li .sub-menu li.items-product figure {
                height: 180px;
                width: 180px;
                background: #fff;
                margin: -4px 0px 0px;
                float: left;
                padding: 7px;
                box-sizing: border-box;
                position: relative; }
                .header nav ul li .sub-menu li.items-product figure .box-img {
                  width: 100%;
                  text-align: center;
                  height: 125px; }
                  .header nav ul li .sub-menu li.items-product figure .box-img img {
                    max-height: 125px; }
                .header nav ul li .sub-menu li.items-product figure figcaption {
                  padding: 0 5px;
                  box-sizing: border-box; }
                  .header nav ul li .sub-menu li.items-product figure figcaption h2 {
                    font: normal 12px arial, sans-serif;
                    color: #000;
                    margin: 0 0 5px;
                    text-align: left; }
                  .header nav ul li .sub-menu li.items-product figure figcaption .price {
                    font: normal 18px arial, sans-serif;
                    color: #cc3300; }
  .header .account {
    float: right;
    text-align: right;
    padding: 0 21px 0px 0px;
    margin: 16px 0px 0px;
    width: 18%; }
    .header .account .logged img {
      max-width: 100%;
      width: 40px;
      height: 40px; }
    .header .account form {
      display: inline-block;
      position: relative;
      border-right: 1px solid #d0816e;
      margin: 0 13px 0 0;
      padding: 0 11px 0 0; }
      .header .account form input[type="text"] {
        width: 100%;
        padding: 0 10px; }
      .header .account form button {
        position: absolute;
        top: 7px;
        right: 21px;
        background: none;
        border: none;
        font-size: 18px;
        padding: 0; }
    .header .account a {
      display: inline-block; }
      .header .account a .fa {
        font-size: 36px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: -2px; }

.home-top h2 {
  font: bold 24px arial, sans-serif;
  margin: 0;
  color: #ccc; }
  .home-top h2 span {
    font-weight: normal; }
.home-top .specify {
  width: 50%;
  float: left; }
  .home-top .specify img {
    width: 100%;
    vertical-align: bottom; }
.home-top .list-product {
  width: 50%;
  float: left; }
  .home-top .list-product li {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
    .home-top .list-product li figure {
      width: 100%; }
    .home-top .list-product li .container-img {
      width: 45%;
      float: left;
      text-align: center;
      display: block;
      position: relative; }
      .home-top .list-product li .container-img .btn-view {
        width: 100%;
        position: absolute;
        bottom: 16px;
        left: 0;
        display: inline-block;
        text-decoration: none; }
        .home-top .list-product li .container-img .btn-view span {
          font: 13px arial,sans-serif;
          color: #ccc;
          width: 133px;
          height: 33px;
          position: relative;
          margin: 0 auto;
          border: 1px solid #ccc;
          display: block;
          text-align: center;
          line-height: 35px;
          background: #353637; }
        .home-top .list-product li .container-img .btn-view:hover span {
          background: #C72803;
          color: #fff !important; }
      .home-top .list-product li .container-img img {
        max-width: 100%;
        max-height: 100%; }
      .home-top .list-product li .container-img .tb-middle {
        display: block;
        vertical-align: middle;
        height: 308px; }
        .home-top .list-product li .container-img .tb-middle img {
          max-width: 308px;
          max-height: 100%; }
    .home-top .list-product li figcaption {
      width: 55%;
      float: right;
      box-sizing: border-box;
      padding: 13px 17px 80px 17px;
      position: relative;
      z-index: 99; }
      .home-top .list-product li figcaption.bg-red .btn-view:hover span {
        color: #000 !important; }
      .home-top .list-product li figcaption .price {
        font: 26px "UTM HelvetIns";
        color: #fff;
        margin-right: 5px; }
      .home-top .list-product li figcaption .price-regular {
        font: 18px arial, sans-serif;
        color: #fff; }
      .home-top .list-product li figcaption .price-free {
        font: normal 18px arial, sans-serif;
        color: #fff;
        margin-top: 10px;
        display: inline-block; }
      .home-top .list-product li figcaption p {
        font: 13px arial, sans-serif;
        color: #ccc;
        margin: 5px 0px 0px;
        line-height: 22px; }
        .home-top .list-product li figcaption p span {
          font-size: 13px !important; }
      .home-top .list-product li figcaption .group {
        margin-top: 10px; }
        .home-top .list-product li figcaption .group span {
          background: url("../images/sprite.png") no-repeat;
          width: 34px;
          height: 34px;
          display: inline-block;
          margin-right: 3px; }
          .home-top .list-product li figcaption .group span.hot {
            background-position: -41px 0px; }
      .home-top .list-product li figcaption .btn-view {
        width: 100%;
        position: absolute;
        bottom: 16px;
        left: 0;
        display: inline-block;
        text-decoration: none; }
        .home-top .list-product li figcaption .btn-view:hover span {
          background: #C72803;
          color: #fff !important; }
        .home-top .list-product li figcaption .btn-view span {
          font: 13px arial, sans-serif;
          color: #ccc;
          width: 133px;
          height: 33px;
          position: relative;
          margin: 0 auto;
          border: 1px solid #ccc;
          display: block;
          text-align: center;
          line-height: 35px; }
    .home-top .list-product li.left-text .container-img {
      width: 55%;
      float: right;
      text-align: center; }
      .home-top .list-product li.left-text .container-img div {
        height: 308px; }
    .home-top .list-product li.left-text figcaption {
      width: 45%;
      float: left;
      height: 308px; }
.home-top.section-second .list-product {
  width: 100%; }
  .home-top.section-second .list-product li {
    width: 50%;
    float: left; }
    .home-top.section-second .list-product li:first-child .container-img {
      width: 55%; }
    .home-top.section-second .list-product li:first-child figcaption {
      width: 45%; }
    .home-top.section-second .list-product li.left-text:first-child .container-img {
      width: 45%; }
    .home-top.section-second .list-product li.left-text:first-child figcaption {
      width: 55%; }

.footer a:hover {
  color: #C72803 !important; }
.footer .footer-top {
  width: 100%;
  background: url("../images/bg-footer.jpg") repeat;
  padding: 0 24px 13px 45px;
  box-sizing: border-box; }
  .footer .footer-top h3 {
    font: 18px "UTM HelvetIns";
    color: #fff;
    text-transform: uppercase;
    margin: 22px 0px 18px 24px; }
    .footer .footer-top h3 span {
      font: 14px arial, sans-serif; }
  .footer .footer-top .col-3 {
    width: 35%;
    float: left; }
    .footer .footer-top .col-3:last-child {
      width: 30%;
      padding-right: 35px;
      text-align: right;
      box-sizing: border-box; }
    .footer .footer-top .col-3 ul li {
      text-decoration: none;
      font: 13px arial, sans-serif;
      color: #fff;
      padding-bottom: 17px; }
      .footer .footer-top .col-3 ul li a {
        text-decoration: none;
        font: 13px arial, sans-serif;
        color: #fff; }
      .footer .footer-top .col-3 ul li:last-child {
        padding-bottom: 0px; }
      .footer .footer-top .col-3 ul li .fa {
        margin-right: 12px; }
      .footer .footer-top .col-3 ul li .text-left {
        float: left; }
      .footer .footer-top .col-3 ul li .text-right {
        float: left;
        margin-left: 14px;
        line-height: 20px; }
        .footer .footer-top .col-3 ul li .text-right span {
          min-width: 70px;
          display: inline-block;
          color: #ccc; }
    .footer .footer-top .col-3 ul.promotion a {
      text-transform: uppercase; }
    .footer .footer-top .col-3 .content-facebook {
      padding-top: 28px; }
.footer .footer-bottom {
  background: #1c1c1c;
  padding: 0px 0px 0px 45px;
  margin-top: 0px;
  overflow: hidden; }
  .footer .footer-bottom .content-left {
    text-align: left;
    width: 50%;
    float: left;
    padding-top: 11px; }
    .footer .footer-bottom .content-left li {
      font: 11px arial, sans-serif;
      display: inline-block;
      margin-right: 16px;
      vertical-align: middle;
      color: #555; }
      .footer .footer-bottom .content-left li a {
        color: #999;
        text-decoration: none; }
  .footer .footer-bottom .content-right {
    width: 50%;
    float: right;
    text-align: right; }
    .footer .footer-bottom .content-right li {
      display: inline-block;
      font: 13px arial, sans-serif;
      color: #999;
      margin-left: 27px;
      vertical-align: middle; }
      .footer .footer-bottom .content-right li .munber {
        color: #ccc; }
      .footer .footer-bottom .content-right li .button {
        background: #de2824;
        font: 15px "UTM HelvetIns";
        text-transform: uppercase;
        display: inline-block;
        width: 209px;
        height: 54px;
        text-align: center;
        color: #d9d9d9;
        text-decoration: none;
        line-height: 60px;
        border-radius: 0; }
        .footer .footer-bottom .content-right li .button:hover {
          color: #fff !important; }
      .footer .footer-bottom .content-right li:first-child {
        padding-top: 7px; }

.subpage .header .account {
  width: 270px; }
.subpage .footer .footer-bottom {
  margin-top: 5px; }
.subpage .content-main {
  width: 70%;
  float: left; }
.subpage .aside-right {
  width: 30%;
  float: right;
  max-width: 270px; }
.subpage .header {
  background: none;
  height: auto; }
  .subpage .header form button {
    top: 9px;
    right: 12px; }
  .subpage .header .nav-top {
    width: 100%;
    background: #f3f3f3;
    height: 37px;
    border-bottom: 1px solid #e0e0e0; }
    .subpage .header .nav-top li:hover {
      margin-left: 0; }
      .subpage .header .nav-top li:hover a {
        border-color: #555; }
    .subpage .header .nav-top a {
      font: normal 13px 'Arial';
      color: #555;
      margin: 0;
      height: auto; }
      .subpage .header .nav-top a:hover {
        color: #C72803 !important;
        opacity: 1; }
    .subpage .header .nav-top .content-left {
      width: 50%;
      float: left;
      margin-top: 6px; }
      .subpage .header .nav-top .content-left li {
        border-color: #555;
        height: auto; }
        .subpage .header .nav-top .content-left li:hover {
          background: none; }
        .subpage .header .nav-top .content-left li:first-child {
          padding-left: 0px; }
          .subpage .header .nav-top .content-left li:first-child a {
            padding-left: 0; }
    .subpage .header .nav-top .content-right {
      width: 50%;
      float: right;
      text-align: right;
      margin-top: 6px; }
      .subpage .header .nav-top .content-right li {
        font: normal 13px 'Arial';
        height: auto;
        border: none;
        vertical-align: top;
        float: none; }
        .subpage .header .nav-top .content-right li a {
          border: none;
          padding: 0 3px; }
        .subpage .header .nav-top .content-right li .fa {
          color: #555;
          font-size: 18px;
          padding: 0;
          margin: -2px 10px 0px 5px;
          vertical-align: top; }
        .subpage .header .nav-top .content-right li:last-child:before {
          content: "/";
          display: inline-block;
          padding-right: 10px; }
        .subpage .header .nav-top .content-right li:hover {
          background: none; }
      .subpage .header .nav-top .content-right.logged-in li:before {
        content: ''; }
      .subpage .header .nav-top .content-right.logged-in li .dropdown {
        width: 26px;
        text-align: center;
        float: right;
        position: relative; }
        .subpage .header .nav-top .content-right.logged-in li .dropdown .fa {
          margin-top: -5px; }
        .subpage .header .nav-top .content-right.logged-in li .dropdown .dropdown-menu {
          width: 98px;
          height: 80px;
          box-sizing: border-box;
          min-width: 0;
          border-radius: 0;
          right: -1px;
          top: 26px;
          left: auto;
          position: absolute;
          padding-top: 8px; }
          .subpage .header .nav-top .content-right.logged-in li .dropdown .dropdown-menu li {
            width: 100%; }
            .subpage .header .nav-top .content-right.logged-in li .dropdown .dropdown-menu li a {
              font: bold 12px arial,sans-serif;
              text-decoration: none;
              color: #000;
              text-align: center;
              width: 100%;
              box-sizing: border-box;
              padding: 0px 0px; }
              .subpage .header .nav-top .content-right.logged-in li .dropdown .dropdown-menu li a:hover {
                background: none; }
  .subpage .header .logo-adv {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 5px 0px;
    box-sizing: border-box;
    vertical-align: top; }
    .subpage .header .logo-adv .logo a {
      margin: 30px 0 0 3px; }
    .subpage .header .logo-adv .adv {
      width: 70%;
      float: right;
      vertical-align: top;
      text-align: right; }
  .subpage .header .menu-bar {
    background: #c72803;
    height: 56px;
    transition: all 0.5s; }
    .subpage .header .menu-bar.fixTop {
      position: fixed;
      top: 0;
      width: 100%;
      min-width: 1230px;
      transition: all 0.5s; }
      .subpage .header .menu-bar.fixTop.fixRight {
        right: 0;
        transition: all 0.5s; }
    .subpage .header .menu-bar nav {
      width: 920px;
      height: 56px; }
      .subpage .header .menu-bar nav ul {
        height: 56px;
        margin-top: 1px; }
        .subpage .header .menu-bar nav ul li {
          height: 55px;
          border: none;
          padding: 0px;
          float: left; }
          .subpage .header .menu-bar nav ul li:first-child a {
            padding-left: 10px; }
          .subpage .header .menu-bar nav ul li:last-child a {
            padding-right: 10px !important; }
          .subpage .header .menu-bar nav ul li br {
            display: none; }
          .subpage .header .menu-bar nav ul li a {
            margin: 16px 0px 0px;
            border-right: 1px solid #d0816e;
            padding: 0 9px;
            height: auto;
            line-height: 22px; }
          .subpage .header .menu-bar nav ul li:nth-child(7) .sub-menu {
            width: 810px; }
          .subpage .header .menu-bar nav ul li:nth-child(3) .sub-menu {
            width: 778px; }
          .subpage .header .menu-bar nav ul li .sub-menu {
            padding-left: 5px;
            height: 210px;
            top: 54px;
            left: 0px;
            width: 768px; }
            .subpage .header .menu-bar nav ul li .sub-menu.one-product {
              height: 239px; }
            .subpage .header .menu-bar nav ul li .sub-menu li.items-product:hover {
              margin: 10px 10px;
              padding-left: 0; }
            .subpage .header .menu-bar nav ul li .sub-menu li:hover {
              margin: 0px 0px;
              padding-left: 0; }
            .subpage .header .menu-bar nav ul li .sub-menu li a {
              border: none;
              margin: 5px 0 0px;
              padding: 3px 15px; }
            .subpage .header .menu-bar nav ul li .sub-menu li .read-more {
              border: 1px solid #ccc;
              left: 8px; }
            .subpage .header .menu-bar nav ul li .sub-menu li.first .read-more {
              left: 25px; }
            .subpage .header .menu-bar nav ul li .sub-menu.game-product .read-more {
              left: 27px; }
            .subpage .header .menu-bar nav ul li .sub-menu.game-product .first .read-more {
              left: 46px; }
          .subpage .header .menu-bar nav ul li .fa {
            padding-top: 4px; }
          .subpage .header .menu-bar nav ul li.line-2 a {
            padding-right: 32px; }
            .subpage .header .menu-bar nav ul li.line-2 a br {
              display: none; }
            .subpage .header .menu-bar nav ul li.line-2 a .fa {
              top: 0; }
          .subpage .header .menu-bar nav ul li:last-child a {
            border: none; }
          .subpage .header .menu-bar nav ul li:first-child a {
            padding-left: 10px; }
          .subpage .header .menu-bar nav ul li:first-child .icon-home {
            background: transparent url("../images/icon-home.png") no-repeat;
            width: 27px;
            height: 25px;
            display: inline-block;
            opacity: 0.86; }
          .subpage .header .menu-bar nav ul li.active, .subpage .header .menu-bar nav ul li:hover {
            background: #000;
            margin-left: -1px;
            padding-left: 1px;
            z-index: 10; }
            .subpage .header .menu-bar nav ul li.active a, .subpage .header .menu-bar nav ul li:hover a {
              color: #fff;
              border-color: transparent; }
    .subpage .header .menu-bar .account {
      padding: 0px;
      margin-top: 12px; }
      .subpage .header .menu-bar .account form {
        border: none;
        padding: 0px;
        margin: 0; }
        .subpage .header .menu-bar .account form .button {
          right: 7px; }
.subpage .footer {
  background: url("../images/bg-footer-top.jpg") repeat-x top; }
  .subpage .footer .footer-top {
    display: inline-block;
    margin: 5px 0 -5px 0;
    padding-bottom: 10px; }

.breadcrumb {
  background: transparent url("../images/bg-bread.png") repeat-x bottom;
  height: 43px;
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 10; }
  .breadcrumb.logo-list {
    height: 82px; }
    .breadcrumb.logo-list li {
      border-right: 2px solid #e7e7e7;
      padding: 0 11px; }
      .breadcrumb.logo-list li:last-child {
        padding-right: 0px;
        border: none;
        vertical-align: top; }
  .breadcrumb ol {
    text-align: left; }
    .breadcrumb ol li {
      display: inline-block;
      font: 12px arial, sans-serif;
      color: #333; }
      .breadcrumb ol li a {
        font: 12px arial, sans-serif;
        color: #333;
        text-decoration: none; }
      .breadcrumb ol li .fa {
        font-size: 14px;
        margin: 0 12px; }

.content-information {
  height: auto;
  margin-top: -6px; }
  .content-information .tabs {
    width: 1195px;
    clear: both; }
  .content-information .content-detail {
    height: 565px; }
  .content-information .img {
    width: 40%;
    float: left;
    padding: 65px 40px 0px;
    box-sizing: border-box;
    text-align: center; }
    .content-information .img img {
      max-width: 100%; }
  .content-information .content-text {
    width: 60%;
    float: right;
    padding: 65px 0px 0px 20px;
    box-sizing: border-box; }
    .content-information .content-text h1 {
      font: 30px arial, sans-serif;
      color: #fff;
      margin: 0px; }
    .content-information .content-text .price {
      color: #ffff00;
      font: 36px "UTM HelvetIns"; }
    .content-information .content-text .price-regular {
      color: #fff;
      font: 24px arial, sans-serif;
      margin-left: 5px; }
    .content-information .content-text .group {
      display: inline-block;
      margin: 15px 0px 0 15px;
      vertical-align: top; }
      .content-information .content-text .group span {
        background: url("../images/sprite.png") no-repeat;
        width: 34px;
        height: 34px;
        display: inline-block;
        margin-right: 3px; }
        .content-information .content-text .group span.hot {
          background-position: -41px 0px; }
    .content-information .content-text .description {
      width: 96%;
      background: rgba(51, 0, 0, 0.85);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      color: #f6d3c4;
      font: 14px arial, sans-serif;
      padding: 15px 12px 15px 12px;
      margin-top: 20px;
      max-height: 285px;
      overflow-y: auto; }
      .content-information .content-text .description .box-padding {
        max-height: 285px;
        overflow-y: auto;
        margin-right: -11px;
        padding-right: 10px; }
      .content-information .content-text .description .ralated {
        color: #fff; }
        .content-information .content-text .description .ralated p {
          color: #fff; }
      .content-information .content-text .description p {
        margin: 0 0 7px;
        line-height: 21px;
        color: #f6d3c4 !important;
        font-size: 14px !important; }
      .content-information .content-text .description span {
        color: #f6d3c4 !important; }
      .content-information .content-text .description h4 {
        margin: 20px 0px 10px; }
    .content-information .content-text .social {
      margin-top: 20px; }
  .content-information .tabs.fixTop {
    position: fixed;
    top: 0px;
    width: auto;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10; }
  .content-information .tabs ul {
    text-align: left; }
    .content-information .tabs ul li {
      display: inline-block;
      font: bold 16px arial, sans-serif;
      color: #fefeff;
      border-top: 2px solid #ca6e6e;
      background: rgba(255, 255, 255, 0.25);
      padding: 17px 40px;
      height: 50px;
      box-sizing: border-box;
      vertical-align: middle;
      margin-right: -1px;
      cursor: pointer; }
      .content-information .tabs ul li a {
        color: #fefeff;
        text-decoration: none; }
      .content-information .tabs ul li span {
        font-size: 24px;
        line-height: 0; }
      .content-information .tabs ul li .caret {
        display: none; }
      .content-information .tabs ul li.active {
        background: #048cff;
        box-shadow: 0 0 2px 2px #0074d5 inset;
        position: relative; }
        .content-information .tabs ul li.active .caret {
          position: absolute;
          left: 0px;
          bottom: -11px;
          display: inline-block;
          width: 100%;
          height: 15px;
          z-index: 10; }
          .content-information .tabs ul li.active .caret span {
            background: url("../images/arrow.png") no-repeat;
            width: 31px;
            height: 15px;
            margin: 0 auto;
            display: block; }

.list-details {
  padding-top: 45px; }
  .list-details .group-infor .content-right.fixTop {
    padding-top: 50px; }
  .list-details h2 {
    font: 20px "UTM HelvetIns";
    color: #555;
    border-left: 3px solid #c72803;
    border-bottom: 1px solid #ccc;
    padding: 9px 7px;
    max-width: 279px;
    margin-left: 26px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .list-details .slide-show {
    background: rgba(163, 168, 174, 0.75);
    padding: 10px; }
    .list-details .slide-show .items.slick-slide {
      width: 400px;
      margin-right: 10px;
      /*background: rgba(163, 168, 174, 0.75);*/
      opacity: 0.3;
      height: 400px;
      overflow: hidden; }
      .list-details .slide-show .items.slick-slide.slick-active {
        opacity: 1; }
      .list-details .slide-show .items.slick-slide img {
        margin: 0 auto;
        height: 450px;
        width: auto; }
      .list-details .slide-show .items.slick-slide.slick-center {
        width: 800px; }
    .list-details .slide-show .slick-next, .list-details .slide-show .slick-prev {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 43%;
      display: block;
      margin-top: 0px;
      right: 20%;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      width: 48px; }
    .list-details .slide-show .slick-prev {
      top: 55%; }
    .list-details .slide-show .slick-next:before {
      content: "\f0a9";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .list-details .slide-show .slick-prev:before {
      content: "\f0a8";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .list-details .slide-text {
    max-width: 800px;
    margin: 0 auto;
    min-height: 30px;
    margin-top: 15px;
    text-align: center !important; }
    .list-details .slide-text p {
      font: 13px arial, sans-serif;
      color: #000;
      line-height: 21px;
      text-align: center !important; }

.technology h2 {
  margin-top: 15px; }
.technology table {
  width: 100%; }
  .technology table tr td {
    border: 1px solid #ccc;
    padding: 12px; }
    .technology table tr td:first-child {
      text-align: center;
      text-transform: uppercase;
      width: 265px;
      vertical-align: middle; }
    .technology table tr td p {
      margin: 0;
      line-height: 21px; }
.technology .read-more {
  width: 400px;
  height: 40px;
  text-align: center;
  border: 1px solid #c72803;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: inline-block;
  font: 15px arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  line-height: 42px;
  margin: 22px auto;
  display: block; }
  .technology .read-more:hover {
    background: #C72803;
    color: #fff !important; }
  .technology .read-more.close {
    display: none; }
    .technology .read-more.close.active {
      display: block; }

.comments {
  margin-bottom: 30px; }

.content-text {
  margin-bottom: 40px; }
  .content-text p {
    color: #000;
    font: 13px arial, sans-serif;
    line-height: 21px;
    text-align: justify; }
    .content-text p.center {
      text-align: center; }
  .content-text span {
    line-height: 21px; }
  .content-text img {
    margin: 0 auto;
    display: inline-block; }
  .content-text h4 {
    text-transform: uppercase; }

.videos .content-video {
  margin-left: 60px;
  margin-bottom: 40px; }
  .videos .content-video iframe {
    max-width: 100% !important; }

.product-list h2 {
  font: 20px "UTM HelvetIns";
  color: #555;
  border-left: 3px solid #c72803;
  border-bottom: 1px solid #ccc;
  padding: 9px 7px;
  max-width: 100%;
  margin-left: 26px;
  text-transform: uppercase; }
  .product-list h2 span {
    color: #555;
    font: normal 14px arial, sans-serif;
    text-transform: none; }
    .product-list h2 span.sologan {
      float: right;
      color: #c72803;
      margin-top: 12px; }
      .product-list h2 span.sologan span {
        color: #c72803; }
        .product-list h2 span.sologan span a {
          color: #c72803; }
      .product-list h2 span.sologan .fa {
        margin-right: 10px;
        color: #000;
        display: none; }
.product-list .read-more {
  font: 18px arial, sans-serif;
  color: #333;
  width: 413px;
  height: 65px;
  border: 1px solid #c72803;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  line-height: 69px; }
  .product-list .read-more .number {
    color: #c72803; }
  .product-list .read-more:hover {
    background: #C72803;
    color: #fff !important; }
    .product-list .read-more:hover .number {
      color: #fff; }
.product-list .list-5-items ul li {
  width: 19.5%;
  padding-top: 5px; }
.product-list ul {
  text-align: left;
  margin: 20px 0 5px; }
  .product-list ul li {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    margin-right: 0px;
    padding: 0 10px;
    text-align: center;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    min-height: 370px; }
    .product-list ul li:hover {
      opacity: 0.65;
      box-shadow: 0 0 10px #6d6d6d;
      -webkit-box-shadow: 0 0 10px #6d6d6d;
      -moz-box-shadow: 0 0 10px #6d6d6d;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      background: #fff; }
      .product-list ul li:hover .read-more {
        bottom: 50%;
        margin-top: 42px;
        opacity: 1; }
    .product-list ul li a.read-more {
      width: 150px;
      height: 40px;
      border: 1px solid #fff;
      text-transform: none;
      background: #3498db;
      color: #fff;
      font: normal 15px arial, sans-serif;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      line-height: 40px;
      position: absolute;
      bottom: -60px;
      left: 50%;
      margin-left: -75px;
      transition: all 0.5s; }
    .product-list ul li a:hover {
      color: #C72803 !important; }
    .product-list ul li .img-box {
      position: relative;
      width: 100%;
      display: inline-block;
      height: 260px; }
      .product-list ul li .img-box .group {
        margin-top: 10px;
        position: absolute;
        bottom: 2px;
        right: 2px; }
        .product-list ul li .img-box .group span {
          background: url("../images/sprite.png") no-repeat;
          width: 34px;
          height: 34px;
          display: inline-block;
          margin-right: 3px;
          display: block; }
          .product-list ul li .img-box .group span.hot {
            background-position: -41px 0px; }
      .product-list ul li .img-box img {
        max-width: 100%;
        max-height: 100%; }
    .product-list ul li figcaption {
      text-align: left; }
      .product-list ul li figcaption h3 {
        margin: 12px 0 9px 0; }
        .product-list ul li figcaption h3 a {
          color: #555;
          font: bold 16px arial, sans-serif;
          text-decoration: none; }
          .product-list ul li figcaption h3 a span {
            font-weight: normal; }
      .product-list ul li figcaption .price {
        color: #c72803;
        font: normal 18px arial, sans-serif; }
      .product-list ul li figcaption .price-regular {
        color: #555;
        font: normal 16px arial, sans-serif; }
      .product-list ul li figcaption p {
        color: #555;
        font: normal 13px arial, sans-serif;
        line-height: 20px;
        margin-top: 5px; }

.kho-may-cu .product-list ul li:hover {
  opacity: 1;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #fff; }
.kho-may-cu .product-list ul li a:hover {
  opacity: 1;
  cursor: default; }

.aside-right h2 {
  background: #e5e5e5;
  border: 1px solid #d6d6d6;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  font: 20px "UTM HelvetIns";
  color: #555;
  padding: 9px 7px;
  max-width: 279px;
  text-transform: uppercase; }
.aside-right .content-right.fixTop {
  padding-top: 112px;
  z-index: 10;
  width: 270px; }
.aside-right .content-right.fixBottom {
  position: fixed;
  bottom: 410px;
  z-index: 10;
  width: 270px; }

.slide-banner .items img {
  width: 100%; }
.slide-banner .slick-next:before,
.slide-banner .slick-prev:before {
  font-size: 80px; }
.slide-banner .slick-next:before {
  content: "\f138"; }
.slide-banner .slick-prev:before {
  content: "\f137"; }
.slide-banner .slick-next {
  width: 70px;
  margin-top: -80px;
  right: 15px; }
.slide-banner .slick-prev {
  width: 70px;
  margin-top: -80px;
  left: 15px; }

.product-hot {
  background: url(../images/bg-hot.jpg);
  margin-top: -5px;
  padding: 25px 0px 10px 0; }
  .product-hot ul {
    margin: 20px 0 0;
    display: inline-block; }
    .product-hot ul li {
      width: 24.5%;
      margin-bottom: 20px; }
    .product-hot ul .img-box {
      background: #fff;
      min-height: 260px; }

.product-other {
  margin-bottom: 30px;
  padding-top: 20px; }
  .product-other ul li {
    width: 24.5%;
    margin-bottom: 30px; }
    .product-other ul li .img-box {
      min-height: 260px; }

.adv-box {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 9px;
  box-sizing: border-box;
  margin-bottom: 35px; }
  .adv-box img {
    margin-right: 10px; }
    .adv-box img:last-child {
      margin-right: 0; }

.content-banner {
  background: #000; }
  .content-banner .slide-banner {
    max-width: 880px;
    float: left; }
  .content-banner .section-sale {
    width: 315px;
    background: #fff;
    text-align: right;
    float: right;
    vertical-align: top; }
    .content-banner .section-sale img:last-child {
      margin-bottom: -2px; }
  .content-banner .slick-dots {
    position: absolute;
    right: -48px;
    bottom: 0px;
    width: 48px; }
    .content-banner .slick-dots li {
      position: relative; }
      .content-banner .slick-dots li button {
        background: #474d47;
        border: none;
        width: 48px;
        height: 36px;
        text-align: center;
        font: 14px arial, sans-serif;
        color: #fff; }
        .content-banner .slick-dots li button:focus, .content-banner .slick-dots li button:active {
          outline: none;
          border: none; }
      .content-banner .slick-dots li.slick-active button {
        background: #c72803; }
      .content-banner .slick-dots li.slick-active:before {
        content: "\f0d9";
        display: inline-block;
        font: normal normal normal 36px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        position: absolute;
        color: #c72803;
        left: -11px;
        top: 1px;
        font-size: 36px; }

.filter {
  text-align: left;
  height: 46px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  padding-top: 13px;
  margin-bottom: 30px; }
  .filter div {
    display: inline-block;
    margin-right: 25px; }
    .filter div ul {
      border-radius: 0;
      margin-top: 5px; }
      .filter div ul li {
        width: 100% !important;
        padding: 0;
        text-align: left;
        margin-bottom: 10px;
        min-height: 0; }
        .filter div ul li a {
          font-size: 13px;
          background: none;
          padding-left: 25px; }
        .filter div ul li.active {
          background: none; }
          .filter div ul li.active a {
            background: none;
            color: #000;
            font-weight: bold; }
          .filter div ul li.active:before {
            display: inline-block;
            font: normal normal normal 11px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f00c";
            position: absolute;
            top: 4px;
            left: 5px; }
          .filter div ul li.active:hover a {
            background: #ccc;
            border-radius: 0; }
        .filter div ul li:hover {
          box-shadow: none; }
    .filter div.label {
      color: #999;
      font: 14px arial, sans-serif; }
    .filter div.promotion {
      height: 30px;
      color: #fff;
      font: 14px arial, sans-serif;
      text-transform: uppercase;
      background: #3498db;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      padding: 3px 7px 3px 3px;
      display: inline-block;
      margin-top: -9px;
      vertical-align: middle;
      cursor: pointer; }
      .filter div.promotion .fa {
        font-size: 28px; }
      .filter div.promotion span {
        line-height: 31px;
        display: inline-block;
        vertical-align: top;
        padding-right: 5px; }
      .filter div.promotion.active .fa-circle:before {
        content: "\f10c"; }
    .filter div.sort {
      float: right; }
      .filter div.sort a {
        display: inline-block;
        padding-top: 3px; }
    .filter div a {
      color: #333;
      font: 14px arial, sans-serif;
      text-decoration: none; }
      .filter div a .fa {
        color: #000;
        font-size: 12px;
        margin-left: 8px; }

.fittings {
  margin-bottom: 30px; }
  .fittings:first-child {
    margin-top: 30px; }
  .fittings .menu {
    background: #e7e7e7;
    width: 100%;
    height: 47px;
    border: 1px solid #c2c2c2;
    padding: 11px 15px;
    box-sizing: border-box;
    margin-top: 0px; }
    .fittings .menu h2 {
      padding: 0;
      margin: 0;
      font: 18px "UTM HelvetIns";
      text-transform: uppercase;
      color: #c72803;
      display: inline-block; }
    .fittings .menu ul {
      text-align: right;
      width: 70%;
      float: right;
      padding-top: 5px; }
      .fittings .menu ul li {
        display: inline-block;
        padding: 0 10px 0 7px;
        border-right: 1px solid #000; }
        .fittings .menu ul li:last-child {
          border: none; }
        .fittings .menu ul li a {
          color: #000;
          font: normal arial, sans-serif;
          font-size: 14px;
          text-decoration: none; }
          .fittings .menu ul li a:hover {
            color: #C72803 !important; }
  .fittings .list-fittins {
    margin-top: 0px;
    border-left: 1px solid #c2c2c2; }
    .fittings .list-fittins ul {
      width: 100%;
      text-align: left; }
      .fittings .list-fittins ul li {
        display: inline-block;
        width: 20%;
        float: left;
        vertical-align: middle;
        box-sizing: border-box;
        border-right: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        height: auto;
        min-height: 370px;
        padding: 13px;
        box-sizing: border-box;
        overflow: hidden; }
        .fittings .list-fittins ul li:nth-child(1), .fittings .list-fittins ul li:nth-child(2), .fittings .list-fittins ul li:nth-child(3), .fittings .list-fittins ul li:nth-child(4) {
          height: 370px; }
        .fittings .list-fittins ul li.slide-home .slick-dots, .fittings .list-fittins ul li.slide-banner-top .slick-dots {
          text-align: center; }
          .fittings .list-fittins ul li.slide-home .slick-dots li, .fittings .list-fittins ul li.slide-banner-top .slick-dots li {
            height: auto;
            width: auto;
            border: none;
            float: none;
            padding: 0;
            min-height: 0; }
        .fittings .list-fittins ul li .box-img {
          text-align: center; }
          .fittings .list-fittins ul li .box-img img {
            max-height: 210px; }
        .fittings .list-fittins ul li img {
          max-width: 100%; }
        .fittings .list-fittins ul li:first-child {
          width: 40%;
          padding: 0; }
        .fittings .list-fittins ul li h2 {
          margin: 10px 0;
          max-height: 60px;
          overflow: hidden; }
          .fittings .list-fittins ul li h2 a {
            font: bold 14px arial, sans-serif;
            text-decoration: none;
            color: #555; }
            .fittings .list-fittins ul li h2 a:hover {
              color: #C72803 !important; }
        .fittings .list-fittins ul li .price {
          color: #c72803;
          font: 18px arial, sans-serif; }
          .fittings .list-fittins ul li .price .price-regular {
            font: normal 16px arial, sans-serif;
            color: #555; }
        .fittings .list-fittins ul li .intro, .fittings .list-fittins ul li p {
          font: normal 12px arial, sans-serif;
          color: #666;
          line-height: 20px;
          margin: 7px 0 0; }
  .fittings:last-child {
    margin-bottom: 40px; }

.product-other .list-game {
  text-align: left;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  margin-bottom: 40px; }
  .product-other .list-game .content-left {
    min-height: 158px; }
    .product-other .list-game .content-left strong {
      color: #000; }
  .product-other .list-game li {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 23px 10px;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    margin-bottom: 0;
    min-height: 285px;
    padding-bottom: 10px; }
    .product-other .list-game li .box-img {
      float: left;
      width: 205px;
      text-align: center; }
      .product-other .list-game li .box-img img {
        width: 178px;
        margin-top: 12px; }
    .product-other .list-game li figcaption {
      float: left;
      width: 364px; }
      .product-other .list-game li figcaption h2 {
        border: none;
        color: #c72803;
        font: bold 13px arial, sans-serif;
        padding: 0;
        margin: 0; }
      .product-other .list-game li figcaption p {
        font-size: 12px; }
      .product-other .list-game li figcaption .information {
        margin-top: 20px; }
        .product-other .list-game li figcaption .information p {
          line-height: 21px; }
      .product-other .list-game li figcaption .download {
        width: 148px;
        height: 38px;
        margin: 0 auto;
        background: #3498db;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        display: block;
        font: 15px normal arial, sans-serif;
        text-align: center;
        color: #fff;
        text-decoration: none;
        line-height: 38px;
        margin-top: 10px; }
        .product-other .list-game li figcaption .download:hover {
          background: #C72803 !important;
          color: #fff !important; }
    .product-other .list-game li:hover {
      box-shadow: none;
      opacity: 1; }

.page-satic h2 {
  max-width: 270px; }
.page-satic .content-banner {
  margin-bottom: 30px; }
  .page-satic .content-banner h2 {
    margin: 27px 0 30px 27px; }
  .page-satic .content-banner .content-center {
    background: url("../images/banner-satic.jpg") no-repeat top center;
    min-height: 326px; }
    .page-satic .content-banner .content-center p {
      color: #fff;
      line-height: 20px;
      margin-top: 18px;
      text-align: justify; }
.page-satic .notice {
  margin-bottom: 30px; }
  .page-satic .notice h5 {
    font: bold 13px arial, sans-serif;
    margin-bottom: 10px; }
  .page-satic .notice p {
    font-size: 12px;
    line-height: 20px;
    color: #555; }
.page-satic .content-unlock {
  margin-top: 20px; }
  .page-satic .content-unlock p {
    line-height: 25px;
    margin-bottom: 40px;
    color: #555; }

.page-new {
  margin-top: 30px;
  padding-bottom: 30px; }
  .page-new .content-main {
    width: 75%; }
  .page-new .read-more {
    font: 18px arial,sans-serif;
    color: #333;
    width: 413px;
    height: 65px;
    border: 1px solid #c72803;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    line-height: 69px;
    margin: 20px auto 0px; }
    .page-new .read-more:hover {
      background: #C72803;
      color: #fff !important; }
  .page-new .product-other {
    margin-bottom: 0; }
  .page-new h1 {
    font: normal 14px "UTM HelvetIns";
    margin: 0 0 10px; }
  .page-new p {
    font: 12px arial, sans-serif;
    line-height: 26px;
    margin-bottom: 25px;
    color: #555; }
    .page-new p.center {
      text-align: center; }
  .page-new .info-by {
    font: 12px arial, sans-serif;
    color: #555;
    margin-bottom: 10px;
    display: inline-block; }
  .page-new ul li {
    width: 50%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; }
    .page-new ul li .img-box {
      height: 244px;
      border: 1px solid #d1d1d1;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      text-align: center; }
      .page-new ul li .img-box img {
        height: 100%;
        width: auto; }
    .page-new ul li:nth-child(2n) {
      padding-right: 20px; }
    .page-new ul li h2 {
      color: #555;
      font: 14px "UTM HelvetIns";
      margin: 0;
      margin-bottom: 10px; }
      .page-new ul li h2 a {
        text-decoration: none;
        color: #555; }

.slide-home, .slide-banner-top {
  position: relative; }
  .slide-home .slick-dots, .slide-banner-top .slick-dots {
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%; }
    .slide-home .slick-dots li, .slide-banner-top .slick-dots li {
      display: inline-block; }
      .slide-home .slick-dots li button, .slide-banner-top .slick-dots li button {
        width: 17px;
        height: 17px;
        border: 1px solid #000;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        background: #fff;
        color: #fff;
        margin: 0 7px; }
        .slide-home .slick-dots li button:active, .slide-banner-top .slick-dots li button:active, .slide-home .slick-dots li button:focus, .slide-banner-top .slick-dots li button:focus {
          outline: none; }
      .slide-home .slick-dots li.slick-active button, .slide-banner-top .slick-dots li.slick-active button {
        background: #000;
        color: #000;
        border: 1px solid #fff; }

.logged {
  width: 40px;
  height: 40px;
  float: right;
  vertical-align: top;
  margin: -16px 0 0 -13px;
  padding: 13px 8px; }
  .logged .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    width: 98px;
    height: 80px;
    box-sizing: border-box;
    min-width: 0; }
    .logged .dropdown-menu li a {
      font: bold 12px arial, sans-serif;
      text-decoration: none;
      color: #fff;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0px; }
      .logged .dropdown-menu li a:hover {
        background: none; }
  .logged.open {
    background: #000; }

.technology-full {
  max-height: 0px;
  transition: max-height 0.5s;
  height: 0;
  overflow: hidden;
  margin-top: 20px; }
  .technology-full.open {
    height: auto;
    max-height: 232000px; }

.slide-right {
  width: 267px;
  float: right; }
  .slide-right .items a {
    margin-bottom: 1px;
    display: inline-block; }
    .slide-right .items a:last-child {
      margin-bottom: -1px; }

.header nav ul li .sub-menu li:hover {
  margin-left: 0px;
  background: transparent !important; }

.header nav ul li .sub-menu li.items-product:hover {
  margin-left: 10px;
  padding-left: 0; }

.slide-home .slick-next, .slide-banner-top .slick-next {
  right: 10px;
  left: auto;
  top: 50%;
  margin-top: -48px;
  opacity: 0;
  transition: all 0.5s; }
.slide-home .slick-prev, .slide-banner-top .slick-prev {
  left: 10px;
  right: auto;
  top: 50%;
  margin-top: -48px;
  opacity: 0;
  transition: all 0.5s; }
.slide-home:hover .slick-prev, .slide-banner-top:hover .slick-prev, .slide-home:hover .slick-next, .slide-banner-top:hover .slick-next {
  opacity: 1; }

.slide-banner-top img {
  width: 100%; }

.icon-home:before {
  display: none; }

#header.fixTop {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1350px; }
  #header.fixTop.fixRight {
    right: 0; }

.page-detail .slick-track {
  transition: all 0.5s; }

.page-detail .product-list {
  margin-bottom: 20px; }

.article-details .read-more {
  width: 400px;
  height: 40px;
  text-align: center;
  border: 1px solid #c72803;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: inline-block;
  font: 15px arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  line-height: 42px;
  margin: 22px auto;
  display: block; }
  .article-details .read-more:hover {
    background: #C72803;
    color: #fff !important; }
  .article-details .read-more.close {
    display: none; }
    .article-details .read-more.close.active {
      display: block; }
.article-details .content-short {
  display: none; }
.article-details .content-text {
  max-height: 250px;
  overflow: hidden;
  transition: max-height 0.5s; }
  .article-details .content-text.open {
    max-height: 135000px; }

.subpage form#frm {
  width: 100%;
  clear: both;
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 20px; }
.subpage .block {
  background: none;
  border: none; }
  .subpage .block .block-title {
    font: 20px "UTM HelvetIns";
    color: #555;
    border-left: 3px solid #c72803;
    border-bottom: 1px solid #ccc;
    padding: 9px 7px;
    max-width: 100%;
    margin-left: 26px;
    text-transform: uppercase;
    background: none; }

.block .block-title strong {
  font: 20px "UTM HelvetIns"; }

.subpage #columns {
  float: none;
  margin: 30px auto;
  max-width: 1200px;
  width: 100%; }

#footer {
  z-index: 1; }

#faqs > div {
  height: auto;
  max-height: 0;
  transition: max-height 0.5s; }

#faqs > div.open {
  max-height: 9000px; }

.article-used {
  padding-bottom: 20px;
  margin-top: 30px; }
  .article-used ul {
    margin-top: 25px; }
    .article-used ul li {
      padding-bottom: 10px; }
      .article-used ul li a.title {
        padding-left: 26px;
        position: relative;
        color: #555;
        text-transform: uppercase;
        font-size: 18px; }
        .article-used ul li a.title.active, .article-used ul li a.title:hover {
          color: #c72803; }
        .article-used ul li a.title:before {
          content: '';
          display: inline-block;
          width: 13px;
          height: 14px;
          background: url(../images/icon-list.png) no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -7px; }
      .article-used ul li .content-description {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease-in;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 26px; }
        .article-used ul li .content-description p {
          margin-bottom: 15px;
          line-height: 1.6; }
        .article-used ul li .content-description.open {
          max-height: 5000px; }

.details-page .footer .footer-bottom {
  min-height: 110px; }

.page-detail .slick-slider-1-items .slick-track {
  -webkit-transform: translate3d(400px, 0, 0) !important;
  -moz-transform: translate3d(400px, 0, 0) !important;
  -ms-transform: translate3d(400px, 0, 0) !important;
  -o-transform: translate3d(400px, 0, 0) !important;
  transform: translate3d(400px, 0, 0) !important; }

.page-detail .no-slide {
  text-align: center; }
  .page-detail .no-slide img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }

@media (max-width: 1365px) {
  .header .logo a {
    width: 255px;
    overflow: hidden; }

  .subpage .header .logo {
    width: 290px; } }

/*# sourceMappingURL=main.css.map */
