/*Sass -- Author:Nguyen Thanh Than*/
@import '_mixins.scss';
@import '_base.scss';
@import  '../fonts/fonts.css';

$font-stack:    arial, sans-serif;
$font-h:        "UTM HelvetIns";
$primary-color: #333;

html, body{ font:13px $font-stack;}
.container{
  min-width: 1335px;
}
#wrapper3{
  background: #fff;
  &.subpage{
    min-width: 1196px !important;
  }
}
.content-center{
  max-width: 1195px;
  margin: 0 auto;
}
ul, ol, figure{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  outline: none;
  &:hover{
    opacity: 0.75;
  }
}
.input{
  @include add-border(1px, #e1e1e1, all);
  @include border-radius(4px);
  height: 35px;
  box-sizing: border-box;
  background: #fff;
}
.bg-black{
  background: #353637;
}
.bg-blue{
  background: #3498db;
  h2, .intro{
    color: #002b45 !important;
  }
  .btn-view   span{
    color: #002b45 !important;
  }
}
.bg-blue-drak{
  background: #2c3e50;
}
.bg-blue-light{
  background: #2ecc71;
  h2, .intro{
    color: #333 !important;
  }
  .btn-view{
    span{
      color: #333 !important;
    }
  }
  p, div, span{
    color: #333 !important;
  }
  span.price{
    color: #fff !important;
  }
}
.bg-red{
  background: #de2824;
  div.intro{
    font: 13px $font-stack !important;
    color: #ccc;
    margin: 5px 0px 0px;
    line-height: 22px;
    div{
      color: #ccc !important;
      span{
        font-size: 13px !important;
      }
    }
  }
  a:hover{
    span{
      background: #fff !important;
      color: #ccc !important;
    }
  }
}
.header{
  @include add-border(1px, #000, bottom);
  background: #c72803;
  height: 66px;
  .logo{
    width: 290px;
    height: 66px;
    background: #fff;
    text-align: center;
    float: left;
    display: inline-block;
    a{
      width: 257px;
      height: 40px;
      background: url('../images/logo.jpg') no-repeat;
      display: inline-block;
      text-indent: -999em;
      margin: 16px 0 0 15px;
    }
  }
  nav{
    float: left;
    width: 52%;
    min-width: 790px;
    ul{
      text-align: left;
      margin-top: 0px;
      position: relative;
      li{
        display: inline-block;
        vertical-align: middle;
        height: 61px;
        line-height: 1;
        text-align: center;
        float: left;
        padding-top: 5px;
        &:last-child{
          &:hover, &.active{
            position: relative;
          }
        }
        &:nth-child(4){
          .sub-menu{
            height: 230px;
          }
        }
        a{
          font: 15px $font-h;
          color: #d9d9d9;
          text-decoration: none;
          margin-top: 8px;
          display: inline-block;
          @include add-border(1px, #d0816e, right);
          padding: 0 10px;
          height: 44px;
          line-height: 40px;
        }
        &.line-2{
          a{
            margin-top: 8px;
            display: inline-block;
            line-height: 22px;
            position: relative;
            padding-right: 30px;
            .fa{
              position: absolute;
              top: 5px;
              right: 12px;
            }
          }
        }
        &:last-child{
          &.line-2{
            a{
              padding-right: 15px;
            }
          }
        }
        .fa{
          display: inline-block;
          padding: 12px 0px 0px 10px;
          vertical-align: top;
          font-size: 13px;
          color: #d9d9d9;
        }
        &:last-child{
          a{
            border: none;
          }
        }
        &.active, &:hover {
          background: #000;
          margin-left: -1px;
          position: static;
          z-index: 9999;

          a{
            border-color: transparent;
            margin-left: 1px;
          }
        }
        &:hover{
          .sub-menu{
            display: block;
          }
        }
        .sub-menu{
          position: absolute;
          top: 66px;
          left: 0;
          background: rgba(0, 0, 0, 0.9);
          height: 210px;
          width: 775px;
          display: none;
          z-index: 10;
          &.list-5-items{
            width: 810px !important;
            li.items-product figure{
              height: 190px;
            }
          }
          &.one-product{
            height: 227px;
            li{
              width: 23%;
              &:first-child{
                width: 23%;
              }
              &:nth-child(2){
                width: 23%;
              }
              &.first{
                width: 28%;
                figure{
                  height: 200px;
                }
              }

            }
          }
          &.game-product{
            width: 832px !important;
            .items-product{
              text-align: center;
              .read-more{
                width: 90px;
                left: 14px;
                padding: 0 20px;
              }
              figure{
                border: none;
                h2{
                  color: #353637;
                  margin-top: 10px;
                }
              }
              &.first{
                .read-more{
                  left: 32px;
                }
              }
            }
          }
          li{
            text-align: left;
            line-height: 0px;

            a{
              border: none;
              font: normal 13px $font-h;
              text-transform: none;
              height: 30px;
              text-align: left;
              margin:1px 0 0 9px;
              line-height: 27px;
              min-width: 30px;
              display: block;
            }
            &:hover{
              a{
                background: none;
                &:hover{
                  background: #b42403;
                  opacity: 1;
                }
              }
            }
            &.items-product{

              height: auto;
              margin: 10px 10px;
              position: relative;
              overflow: hidden;
              &.first{
                @include  add-border(1px, #666, left);
                .notice{
                  left: 20px;
                }
                figure {
                  margin-left: 17px;
                }
                .read-more{
                  left: 20px;

                }
              }
              .notice{
                width: 30px;
                height: 20px;
                background: #f1c40f;
                color: #000;
                font:normal 11px $font-stack;
                position: absolute;
                left: 3px;
                top: 3px;
                text-align: center;
                line-height: 20px;
                z-index: 10;
              }
              .read-more{
                font:normal 13px $font-stack;
                color: #ccc;
                height: 30px;
                width: 133px;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                @include  add-border(1px, #ccc, all);
                position: absolute;
                bottom: -40px;
                left: 4px;
                transition: 0.5s all;
                &:hover{
                  background: #C72803 !important;
                  color: #fff !important;
                }
              }
              &:hover{
                figure{
                  opacity: 0.55;
                }
                .read-more{
                  bottom: 50%;
                  margin-top: 30px;
                  &:hover{
                    background: none;
                  }
                }
              }
              figure{
                height: 180px;
                width: 180px;
                background: #fff;
                margin: -4px 0px 0px;
                float: left;
                padding: 7px;
                box-sizing: border-box;
                position: relative;
                .box-img{
                  width: 100%;
                  text-align: center;
                  height: 125px;
                  img{
                    max-height: 125px;
                  }
                }
                figcaption{
                  padding: 0 5px;
                  box-sizing: border-box;
                  h2{
                    font:normal 12px $font-stack;
                    color: #000;
                    margin: 0 0 5px;
                    text-align: left;
                  }
                  .price{
                    font:normal 18px $font-stack;
                    color: #cc3300;
                  }
                }
              }
            }
          }
        }
      }

    }

  }
  .account{
    float: right;
    text-align: right;
    padding: 0 21px 0px 0px;
    margin:16px 0px 0px;
    width: 18%;
    .logged{
      img{
        max-width: 100%;
        width: 40px;
        height: 40px;
      }
    }
    form{
      display: inline-block;
      position: relative;
      @include add-border(1px, #d0816e, right);
      margin: 0 13px 0 0;
      padding: 0 11px 0 0;
      input[type="text"]{
        @extend .input;
        width: 100%;
        padding: 0 10px;
      }
      button{
        position: absolute;
        top: 7px;
        right: 21px;
        background: none;
        border: none;
        font-size: 18px;
        padding: 0;
      }
    }
    a{
      display: inline-block;
      .fa{
        font-size: 36px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-top: -2px;
      }
    }
  }
}
.home-top{
  h2{
    font: bold 24px $font-stack;
    margin: 0;
    color: #ccc;
    span{
      font-weight: normal;
    }
  }
  .specify{
    width: 50%;
    float: left;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
  .list-product{
    width: 50%;
    float: left;
    li{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      figure{
        width: 100%;
      }
      .container-img{
        width: 45%;
        float: left;
        text-align: center;
        display: block;
        position: relative;
        .btn-view {
          width: 100%;
          position: absolute;
          bottom: 16px;
          left: 0;
          display: inline-block;
          text-decoration: none;

          span {
            font: 13px arial,sans-serif;
            color: #ccc;
            width: 133px;
            height: 33px;
            position: relative;
            margin: 0 auto;
            border: 1px solid #ccc;
            display: block;
            text-align: center;
            line-height: 35px;
            background: #353637;
          }
          &:hover span {
            background: #C72803;
            color: #fff !important;
          }
        }
        img{
          max-width: 100%;
          max-height: 100%;
        }
        .tb-middle{
          display: block;
          vertical-align: middle;
          height: 308px;
          img{
            max-width: 308px;
            max-height: 100%;
          }
        }
      }
      figcaption{
        width: 55%;
        float: right;
        box-sizing: border-box;
        padding: 13px 17px 80px 17px;
        position: relative;
        z-index: 99;
        &.bg-red{
          .btn-view{
            &:hover{
              span{
                color: #000 !important;
              }
            }
          }
        }
        .price{
          font: 26px $font-h;
          color: #fff;
          margin-right: 5px;
        }
        .price-regular{
          font: 18px $font-stack;
          color: #fff;

        }
        .price-free{
          font: normal 18px $font-stack;
          color: #fff;
          margin-top: 10px;
          display: inline-block;
        }
        p{
          font: 13px $font-stack;
          color: #ccc;
          margin: 5px 0px 0px;
          line-height: 22px;
          span{
            font-size: 13px !important;
          }
        }

        .group{
          margin-top: 10px;
          span{
            background: url("../images/sprite.png") no-repeat;
            width: 34px;
            height: 34px;
            display: inline-block;
            margin-right: 3px;
            &.hot{
              background-position: -41px 0px;
            }
          }

        }
        .btn-view{
          width: 100%;
          position: absolute;
          bottom: 16px;
          left: 0;
          display: inline-block;
          text-decoration: none;
          &:hover{
            span{
              background: #C72803;
              color: #fff !important;
            }
          }

          span{
            font:13px $font-stack;
            color: #ccc;
            width: 133px;
            height: 33px;
            position: relative;
            margin: 0 auto;
            @include add-border(1px, #ccc, all);
            display: block;
            text-align: center;
            line-height: 35px;
          }
        }
      }
      &.left-text{
        .container-img{
          width: 55%;
          float: right;
          text-align: center;
          div{
            height: 308px;
          }
        }
        figcaption{
          width: 45%;
          float: left;
          height: 308px;
        }
      }
    }

  }
  &.section-second{
    .list-product{
      width: 100%;
      li{
        width: 50%;
        float: left;
        &:first-child{
          .container-img{
            width: 55%;
          }
          figcaption{
            width: 45%;
          }
        }
        &.left-text:first-child{
          .container-img{
            width: 45%;
          }
          figcaption{
            width: 55%;
          }
        }
      }
    }
  }
}

.footer{
  a:hover{
    color: #C72803 !important;
  }
  .footer-top{
    width: 100%;
    background: url("../images/bg-footer.jpg") repeat;
    padding: 0 24px 13px 45px;
    box-sizing: border-box;
    h3{
      font:18px $font-h;
      color: #fff;
      text-transform: uppercase;
      margin: 22px 0px 18px 24px;
      span{
        font: 14px $font-stack;
      }
    }
    .col-3{
      width: 35%;
      float: left;
      &:last-child{
        width: 30%;
        padding-right: 35px;
        text-align: right;
        box-sizing: border-box;
      }
      ul{
        li{
          text-decoration: none;
          font: 13px $font-stack;
          color: #fff;
          padding-bottom: 17px;
          a{
            text-decoration: none;
            font: 13px $font-stack;
            color: #fff;
          }
          &:last-child{
            padding-bottom: 0px;
          }
          .fa{
            margin-right: 12px;
          }
          .text-left{
            float: left;
          }
          .text-right{
            float: left;
            margin-left: 14px;
            line-height: 20px;
            span{
              min-width: 70px;
              display: inline-block;
              color: #ccc;
            }
          }
        }
        &.promotion{
          a{
            text-transform: uppercase;

          }
        }
      }
      .content-facebook{
        padding-top: 28px;
      }
    }
  }
  .footer-bottom{
    background: #1c1c1c;
    padding: 0px 0px 0px 45px;
    margin-top: 0px;
    overflow: hidden;
    .content-left{
      text-align: left;
      width: 50%;
      float: left;
      padding-top: 11px;
      li{
        font: 11px $font-stack;
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        color: #555;
        a{
          color: #999;
          text-decoration: none;
        }
      }
    }
    .content-right{
      width: 50%;
      float: right;
      text-align: right;
      li{
        display: inline-block;
        font: 13px $font-stack;
        color: #999;
        margin-left: 27px;
        vertical-align: middle;
        .munber{
          color: #ccc;
        }
        .button{
          background: #de2824;
          font: 15px $font-h;
          text-transform: uppercase;
          display: inline-block;
          width: 209px;
          height: 54px;
          text-align: center;
          color: #d9d9d9;
          text-decoration: none;
          line-height: 60px;
          border-radius: 0;
          &:hover{
            color: #fff !important;
          }
        }
        &:first-child{
          padding-top: 7px;
        }
      }
    }
  }
}
.subpage{
  .header{
    .account{
      width: 270px;
    }
  }
  .footer{
    .footer-bottom{
      margin-top: 5px;
    }
  }
  .content-main{
    width: 70%;
    float: left;
  }
  .aside-right{
    width: 30%;
    float: right;
    max-width: 270px;
  }
  .header{
    background: none;
    height: auto;
    form{
      button{
        top: 9px;
        right: 12px;
      }
    }
    .nav-top{
      width: 100%;
      background: #f3f3f3;
      height: 37px;
      @include add-border(1px, #e0e0e0, bottom);
      li:hover{

        margin-left: 0;
        a{
          border-color: #555;
        }
      }
      a{
        font:  normal 13px 'Arial';
        color: #555;
        margin: 0;
        height: auto;
        &:hover{
          color: #C72803 !important;
          opacity: 1;
        }
      }
      .content-left{
        width: 50%;
        float: left;
        margin-top: 6px;
        li{
          border-color: #555;
          height: auto;
          &:hover{
            background: none;
          }
          &:first-child{
            padding-left: 0px;
            a{
              padding-left: 0;
            }
          }
        }

      }
      .content-right{
        width: 50%;
        float: right;
        text-align: right;
        margin-top: 6px;
        li{
          font:  normal 13px 'Arial';
          height: auto;
          border: none;
          vertical-align: top;
          float: none;
          a{
            border: none;
            padding: 0 3px;
          }
          .fa{
            color: #555;
            font-size: 18px;
            padding: 0;
            margin: -2px 10px 0px 5px;
            vertical-align: top;
          }
          &:last-child{
            &:before{
              content: "/";
              display: inline-block;
              padding-right: 10px;
            }
          }
          &:hover{
            background: none;
          }
        }
        &.logged-in{
          li{
            &:before{
              content: '';
            }
            .dropdown{
              width: 26px;
              text-align: center;
              float: right;
              position: relative;
              .fa{
                margin-top: -5px;
              }
              .dropdown-menu{
                width: 98px;
                height: 80px;
                box-sizing: border-box;
                min-width: 0;
                border-radius: 0;
                right: -1px;
                top: 26px;
                left: auto;
                position: absolute;
                padding-top: 8px;
                li{
                  width: 100%;
                  a{
                    font: bold 12px arial,sans-serif;
                    text-decoration: none;
                    color: #000;
                    text-align: center;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0px 0px;
                    &:hover{
                      background: none;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }
    .logo-adv{
      display: inline-block;
      width: 100%;
      height: 100px;
      padding: 5px 0px;
      box-sizing: border-box;
      vertical-align: top;
      .logo{
        a{
          margin: 30px 0 0 3px;
        }
      }
      .adv{
        width: 70%;
        float: right;
        vertical-align: top;
        text-align: right;
      }
    }
    .menu-bar{
      background: #c72803;
      height: 56px;
      transition: all 0.5s;
      &.fixTop{
        position: fixed;
        top: 0;
        width: 100%;
        min-width: 1230px;
        transition: all 0.5s;
        &.fixRight{
          right: 0;
          transition: all 0.5s;
        }
      }
      nav{
        width: 920px;
        height: 56px;
        ul{
          height: 56px;
          margin-top: 1px;
          li{
            height: 55px;
            border: none;
            padding: 0px;
            float: left;
            &:first-child{
              a{
                padding-left: 10px;
              }
            }
            &:last-child{
              a{
                padding-right: 10px !important;
              }
            }
            br{
              display: none;
            }
            a{
              margin: 16px 0px 0px;
              @include add-border(1px, #d0816e, right);
              padding: 0 9px;
              height: auto;
              line-height: 22px;
            }
            &:nth-child(7){
              .sub-menu{
                width: 810px;
              }
            }
            &:nth-child(3){
              .sub-menu{
                width: 778px;
              }
            }
            .sub-menu{
              padding-left: 5px;
              height: 210px;
              top: 54px;
              left: 0px;
              width: 768px;
              &.one-product{
                height: 239px;
              }
              li{
                &.items-product{
                  &:hover{
                    margin: 10px 10px;
                    padding-left: 0;
                  }
                }
                &:hover{
                  margin: 0px 0px;
                  padding-left: 0;
                }
                a{
                  border: none;
                  margin: 5px 0 0px;
                  padding: 3px 15px;
                }
                .read-more{
                  border: 1px solid #ccc;
                  left: 8px;

                }
                &.first{
                  .read-more{
                    left: 25px;
                  }
                }
              }
              &.game-product{
                .read-more{
                  left: 27px;
                }
                .first{
                  .read-more {
                    left: 46px;
                  }
                }
              }
            }
            .fa{
              padding-top: 4px;
            }
            &.line-2{
              a{
                padding-right: 32px;
                br{
                  display: none;
                }
                .fa{
                  top: 0;
                }
              }

            }
            &:last-child{
              a{
                border: none;
              }
            }
            &:first-child{
              a{
                padding-left: 10px;
              }
              .icon-home{
                background: transparent url("../images/icon-home.png") no-repeat;
                width: 27px;
                height: 25px;
                display: inline-block;
                opacity: 0.86;
              }
            }
            &.active, &:hover{
              background: #000;
              margin-left: -1px;
              padding-left: 1px;
              z-index: 10;
              &:first-child{

              }
              a{
                color: #fff;
                border-color: transparent;

              }
            }
          }

        }


      }
      .account {
        padding: 0px;
        margin-top: 12px;
        form {
          border: none;
          padding: 0px;
          margin: 0;
          .button{
            right: 7px;
          }
        }
      }
    }
  }
  .footer{
    background: url("../images/bg-footer-top.jpg") repeat-x top;
    .footer-top{
      display: inline-block;
      margin: 5px 0 -5px 0;
      padding-bottom: 10px;
    }
  }
}

.breadcrumb{
  background: transparent url("../images/bg-bread.png") repeat-x bottom;
  height: 43px;
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  &.logo-list{
    height: 82px;
    li{
      @include add-border(2px, #e7e7e7, right);
      padding: 0 11px;
      &:last-child{
        padding-right: 0px;
        border: none;
        vertical-align: top;
      }
    }
  }
  ol{
    text-align: left;

    li{
      display: inline-block;
      font: 12px  $font-stack;
      color: #333;
      a{
        font: 12px $font-stack;
        color: #333;
        text-decoration: none;
      }
      .fa{
        font-size: 14px;
        margin: 0 12px;
      }
    }
  }
}
.content-information{
  height: auto;
  margin-top: -6px;
  .tabs{
    width: 1195px;
    clear: both;
  }
  .content-detail{
    height: 565px;

  }
  .img{
    width: 40%;
    float: left;
    padding: 65px 40px 0px;
    box-sizing: border-box;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
  .content-text{
    width: 60%;
    float: right;
    padding: 65px 0px 0px 20px;
    box-sizing: border-box;
    h1{
      font: 30px $font-stack;
      color: #fff;
      margin: 0px;
    }
    .price{
      color: #ffff00;
      font: 36px $font-h;
    }
    .price-regular{
      color: #fff;
      font: 24px $font-stack;
      margin-left: 5px;
    }
    .group{
      display: inline-block;
      margin: 15px 0px 0 15px;
      vertical-align: top;
      span{
        background: url("../images/sprite.png") no-repeat;
        width: 34px;
        height: 34px;
        display: inline-block;
        margin-right: 3px;
        &.hot{
          background-position: -41px 0px;
        }
      }
    }
    .description{
      width: 96%;
      background: rgba(51,0,0, 0.85);
      @include border-radius(4px);
      color: #f6d3c4;
      font: 14px $font-stack;
      padding: 15px 12px 15px 12px;
      margin-top: 20px;
      max-height: 285px;
      overflow-y: auto;
      .box-padding{
        max-height: 285px;
        overflow-y: auto;
        margin-right: -11px;
        padding-right: 10px;
      }
      .ralated{
        color: #fff;
        p{
          color: #fff;
        }
      }
      p{
        margin: 0 0 7px;
        line-height: 21px;
        color: #f6d3c4 !important;
        font-size: 14px !important;

      }
      span{
        color: #f6d3c4 !important;
      }
      h4{
        margin: 20px 0px 10px;
      }
    }
    .social{
      margin-top: 20px;
    }
  }
  .tabs{
    &.fixTop{
      position: fixed;
      top: 0px;
      width: auto;
      background: rgba(0, 0, 0, 0.75);
      z-index: 10
    }
    ul{
      text-align: left;
      li{
        display: inline-block;
        font: bold 16px $font-stack;
        color: #fefeff;
        @include add-border(2px, #ca6e6e, top);
        background: rgba(255, 255, 255, 0.25);
        padding: 17px 40px;
        height: 50px;
        box-sizing: border-box;
        vertical-align: middle;
        margin-right: -1px;
        cursor: pointer;
        a{
          color: #fefeff;
          text-decoration: none;
        }
        span{
          font-size: 24px;
          line-height: 0;
        }
        .caret{
          display: none;
        }
        &.active{
          background: #048cff;
          box-shadow: 0 0 2px 2px #0074d5 inset;
          position: relative;
          .caret{
            position: absolute;
            left: 0px;
            bottom: -11px;
            display: inline-block;
            width: 100%;
            height: 15px;
            z-index: 10;
            span{
              background: url("../images/arrow.png") no-repeat;
              width: 31px;
              height: 15px;
              margin: 0 auto;
              display: block;
            }
          }
        }

      }
    }
  }
}
.list-details{
  padding-top: 45px;
  .group-infor{
    .content-right{
      &.fixTop{
        padding-top: 50px;
      }
    }
  }
  h2{
    font: 20px $font-h;
    color: #555;
    @include add-border(3px, #c72803, left);
    @include add-border(1px, #ccc, bottom);
    padding: 9px 7px;
    max-width: 279px;
    margin-left: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .slide-show{
    background: rgba(163, 168, 174, 0.75);
    padding: 10px;
    .items.slick-slide{
      width: 400px;
      margin-right: 10px;
      /*background: rgba(163, 168, 174, 0.75);*/
      opacity: 0.3;
      height: 400px;
      overflow: hidden;
      &.slick-active{
        opacity: 1;
        img{
          max-width: 100%;
        }
      }
      img{
        margin: 0 auto;
        height: 450px;
        width: auto;
      }
      &.slick-center{
        width: 800px;
      }
    }
    .slick-next, .slick-prev{
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 43%;
      display: block;
      margin-top: 0px;
      right: 20%;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      width: 48px;
    }
    .slick-prev{
      top: 55%;
    }
    .slick-next:before{
      content: "\f0a9";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }
    .slick-prev:before{
      content: "\f0a8";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 48px;
      line-height: 1;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }
  }
  .slide-text{
    max-width: 800px;
    margin: 0 auto;
    min-height: 30px;
    margin-top: 15px;
    text-align: center !important;;
    p{
      font: 13px $font-stack;
      color: #000;
      line-height: 21px;
      text-align: center !important;
    }
  }
}
.technology{
  h2{
    margin-top: 15px;
  }
  table{
    width: 100%;
    tr{
      td{
        @include  add-border(1px, #ccc, all);
        padding: 12px;
        &:first-child{
          text-align: center;
          text-transform: uppercase;
          width: 265px;
          vertical-align: middle;
        }
        p{
          margin: 0;
          line-height: 21px;
        }
      }

    }
  }
  .read-more{
    width: 400px;
    height: 40px;
    text-align: center;
    @include  add-border(1px, #c72803, all);
    @include  border-radius(6px);
    display: inline-block;
    font: 15px $font-stack;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    line-height: 42px;
    margin:  22px auto;
    display: block;
    &:hover{
      background: #C72803;
      color: #fff !important;
    }
    &.close{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}
.comments{
  margin-bottom: 30px;
}
.content-text{
  margin-bottom: 40px;
  p{
    color: #000;
    font: 13px $font-stack;
    line-height: 21px;
    text-align: justify;
    &.center{
      text-align: center;
    }
  }
  span{
    line-height: 21px;
  }
  img{
    margin: 0 auto;
    display: inline-block;
  }
  h4{
    text-transform: uppercase;
  }
}
.videos{
  .content-video{
    margin-left: 60px;
    margin-bottom: 40px;
    iframe{
      max-width: 100% !important;
    }
  }

}
.product-list{
  h2{
    font: 20px "UTM HelvetIns";
    color: #555;
    border-left: 3px solid #c72803;
    border-bottom: 1px solid #ccc;
    padding: 9px 7px;
    max-width: 100%;
    margin-left: 26px;
    text-transform: uppercase;
    span{
      color: #555;
      font: normal 14px $font-stack;
      text-transform: none;
      &.sologan{
        float: right;
        color: #c72803;
        margin-top: 12px;
        span{
          color: #c72803;
          a{
            color: #c72803;
          }

        }
        .fa{
          margin-right: 10px;
          color: #000;
          display: none;
        }
      }
    }
  }
  .read-more{
    font:18px $font-stack;
    color: #333;
    width: 413px;
    height: 65px;
    @include  add-border(1px, #c72803, all);
    margin: 0 auto;
    display: block;
    text-decoration: none;
    @include  border-radius(6px);
    text-transform: uppercase;
    text-align: center;
    line-height: 69px;
    .number{
      color: #c72803;
    }
    &:hover{
      background: #C72803;
      color: #fff !important;
      .number{
        color: #fff;
      }
    }
  }
  .list-5-items{
    ul{
      li{
        width: 19.5%;
        padding-top: 5px;
      }
    }
  }
  ul{
    text-align: left;
    margin: 20px 0 5px;

    li{
      display: inline-block;
      width: 24%;
      box-sizing: border-box;
      margin-right: 0px;
      padding: 0 10px;
      text-align: center;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      min-height: 370px;
      &:hover{
        opacity: 0.65;
        @include  add-box-shadow(0, 0, 10px, #6d6d6d);
        @include  border-radius(2px);
        background: #fff;
        .read-more{
          bottom: 50%;
          margin-top: 42px;
          opacity: 1;
        }
      }
      a{
        &.read-more{
          width: 150px;
          height: 40px;
          @include add-border(1px, #fff, all);
          text-transform: none;
          background: #3498db;
          color: #fff;
          font: normal 15px $font-stack;
          @include border-radius(8px);
          line-height: 40px;
          position: absolute;
          bottom: -60px;
          left: 50%;
          margin-left: -75px;
          transition: all 0.5s;
        }
        &:hover{
          color: #C72803 !important;
        }
      }
      .img-box{
        position: relative;
        width: 100%;
        display: inline-block;
        height: 260px;
        .group{
          margin-top: 10px;
          position: absolute;
          bottom: 2px;
          right: 2px;
          span{
            background: url("../images/sprite.png") no-repeat;
            width: 34px;
            height: 34px;
            display: inline-block;
            margin-right: 3px;
            display: block;
            &.hot{
              background-position: -41px 0px;
            }
          }

        }
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      figcaption{
        text-align: left;
        h3{
          margin: 12px 0 9px 0;
          a{
            color: #555;
            font: bold 16px $font-stack;
            text-decoration: none;
            span{
              font-weight: normal;
            }
          }
        }
        .price{
          color: #c72803;
          font: normal 18px $font-stack;
        }
        .price-regular{
          color: #555;
          font: normal 16px $font-stack;
        }
        p{
          color: #555;
          font: normal 13px $font-stack;
          line-height: 20px;
          margin-top: 5px;

        }
      }
      &:last-child{

      }
    }
  }
}
.kho-may-cu{
  .product-list ul li{
    &:hover {
      opacity: 1;
      box-shadow: none;
      -webkit-box-shadow:  none;
      -moz-box-shadow:  none;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      background: #fff;
    }
    a:hover{
      opacity: 1;
      cursor: default;
    }
  }
}
.aside-right{
  h2{
    background: #e5e5e5;
    @include  add-border(1px, #d6d6d6, all);
    text-align: center;
    font-size: 20px;
    margin:0 auto;
    font: 20px "UTM HelvetIns";
    color: #555;
    padding: 9px 7px;
    max-width: 279px;
    text-transform: uppercase;
  }
  .content-right{
    &.fixTop{
      padding-top: 112px;
      z-index: 10;
      width: 270px;
    }
    &.fixBottom{
      position: fixed;
      bottom: 410px;
      z-index: 10;
      width: 270px;
    }
  }

}
.slide-banner{
  .items{
    img{
      width: 100%;
    }
  }
  .slick-next:before,
  .slick-prev:before{
    font-size: 80px;
  }
  .slick-next:before{
    content: "\f138";
  }
  .slick-prev:before{
    content: "\f137";
  }
  .slick-next{
    width: 70px;
    margin-top: -80px;
    right: 15px;
  }
  .slick-prev{
    width: 70px;
    margin-top: -80px;
    left: 15px;
  }

}
.product-hot{
  background: url(../images/bg-hot.jpg);
  margin-top: -5px;
  padding: 25px 0px 10px 0;
  ul{
    margin: 20px 0 0;
    display: inline-block;
    li{
      width: 24.5%;
      margin-bottom: 20px;
      &:nth-child(4n){

      }
    }
    .img-box{
      background: #fff;
      min-height: 260px;
    }
  }

}
.product-other{
  margin-bottom: 30px;
  padding-top: 20px;
  ul{
    li{
      width: 24.5%;
      margin-bottom: 30px;
      &:nth-child(4n){

      }
      .img-box{
        min-height: 260px;
      }
    }
  }
}
.adv-box{
  width: 100%;
  background: #fff;
  @include  add-border(1px, #ccc, all);
  padding: 9px;
  box-sizing: border-box;
  margin-bottom: 35px;
  img{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }

}
.content-banner{
  background: #000;
  .slide-banner{
    max-width: 880px;
    float: left;
  }
  .section-sale{
    width: 315px;
    background: #fff;
    text-align: right;
    float: right;
    vertical-align: top;
    img{
      &:last-child{
        margin-bottom: -2px;
      }
    }
  }
  .slick-dots{
    position: absolute;
    right: -48px;
    bottom: 0px;
    width: 48px;
    li{
      position: relative;
      button{
        background: #474d47;
        border: none;
        width: 48px;
        height: 36px;
        text-align: center;
        font:14px $font-stack;
        color: #fff;
        &:focus, &:active{
          outline: none;
          border: none;
        }
      }
      &.slick-active{
        button{
          background: #c72803;
        }
        &:before{
          content: "\f0d9";
          display: inline-block;
          font: normal normal normal 36px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          position: absolute;
          color: #c72803;
          left: -11px;
          top: 1px;
          font-size: 36px;
        }
      }
    }
  }
}
.filter{
  text-align: left;
  height: 46px;
  @include  add-border(1px, #ccc, bottom);
  vertical-align: middle;
  padding-top: 13px;
  margin-bottom: 30px;
  div{
    display: inline-block;
    margin-right: 25px;
    ul{
      border-radius: 0;
      margin-top: 5px;
      li{
        width: 100% !important;
        padding: 0;
        text-align: left;
        margin-bottom: 10px;
        min-height: 0;
        a{
          font-size: 13px;
          background: none;
          padding-left: 25px;
        }
        &.active{
          background: none;
          a{
            background: none;
            color: #000;
            font-weight: bold;
          }
          &:before{
            display: inline-block;
            font: normal normal normal 11px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f00c";
            position: absolute;
            top: 4px;
            left: 5px;
          }
          &:hover{
            a{
              background: #ccc;
              border-radius: 0;
            }
          }
        }
        &:hover{
          box-shadow: none;

        }
      }
    }
    &.label{
      color: #999;
      font: 14px $font-stack;
    }
    &.promotion{
      height: 30px;
      color: #fff;
      font: 14px $font-stack;
      text-transform: uppercase;
      background: #3498db;
      @include border-radius(20px);
      padding: 3px 7px 3px 3px;
      display: inline-block;
      margin-top: -9px;
      vertical-align: middle;
      cursor: pointer;
      .fa{
        font-size: 28px;
      }
      span{
        line-height: 31px;
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;
      }
      &.active{
        .fa-circle:before{
          content: "\f10c";
        }
      }
    }
    &.sort{
      float: right;
      a{
        display: inline-block;
        padding-top: 3px;
      }
    }
    a{
      color: #333;
      font: 14px $font-stack;
      text-decoration: none;
      .fa{
        color: #000;
        font-size: 12px;
        margin-left: 8px;
      }
    }
  }
}
.fittings{
  margin-bottom: 30px;
  &:first-child{
    margin-top: 30px;
  }
  .menu{
    background: #e7e7e7;
    width: 100%;
    height: 47px;
    @include add-border(1px, #c2c2c2, all);
    padding: 11px 15px;
    box-sizing: border-box;
    margin-top: 0px;
    h2{
      padding: 0;
      margin: 0;
      font: 18px $font-h;
      text-transform: uppercase;
      color: #c72803;
      display: inline-block;
    }
    ul{
      text-align: right;
      width: 70%;
      float: right;
      padding-top: 5px;
      li{
        display: inline-block;
        padding: 0 10px 0 7px;
        @include  add-border(1px, #000, right);
        &:last-child{
          border: none;
        }
        a{
          color: #000;
          font: normal $font-stack;
          font-size: 14px;
          text-decoration: none;
          &:hover{
            color: #C72803 !important;
          }
        }
      }
    }
  }
  .list-fittins{
    margin-top: 0px;
    @include  add-border(1px, #c2c2c2, left);
    ul{
      width: 100%;
      text-align: left;
      li{
        display: inline-block;
        width: 20%;
        float: left;
        vertical-align: middle;
        box-sizing: border-box;
        @include  add-border(1px, #c2c2c2, right);
        @include  add-border(1px, #c2c2c2, bottom);
        height: auto;
        min-height: 370px;
        padding: 13px;
        box-sizing: border-box;
        overflow: hidden;
        &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4){
          height: 370px;
        }
        &.slide-home{
          .slick-dots{
            text-align: center;
            li{
              height: auto;
              width: auto;
              border: none;
              float: none;
              padding: 0;
              min-height: 0;
            }
          }
        }
        .box-img{
          text-align: center;
          img{
            max-height: 210px;
          }
        }
        img{
          max-width: 100%;
        }
        &:first-child{
          width: 40%;
          padding: 0;
        }
        h2{
          margin: 10px 0;
          max-height: 60px;
          overflow: hidden;
          a{
            font: bold 14px $font-stack;
            text-decoration: none;
            color: #555;
            &:hover{
              color: #C72803 !important;
            }
          }
        }
        .price{
          color: #c72803;
          font: 18px $font-stack;
          .price-regular{
            font: normal 16px $font-stack;
            color: #555;
          }
        }
        .intro, p{
          font: normal 12px $font-stack;
          color: #666;
          line-height: 20px;
          margin: 7px 0 0;
        }
      }
    }
  }
  &:last-child{
    margin-bottom: 40px;
  }
}
.product-other{
  .list-game{
    text-align: left;
    @include add-border(1px, #c2c2c2, top);
    @include add-border(1px, #c2c2c2, left);
    margin-bottom: 40px;
    .content-left{
      min-height: 158px;
      strong{
        color: #000;
      }
    }
    li{
      width: 50%;
      display: inline-block;
      float: left;
      padding: 23px 10px;
      @include add-border(1px, #c2c2c2, bottom);
      @include add-border(1px, #c2c2c2, right);
      margin-bottom: 0;
      min-height: 285px;
      padding-bottom: 10px;
      .box-img{
        float: left;
        width: 205px;
        text-align: center;
        img{
          width: 178px;
          margin-top: 12px;
        }
      }
      figcaption{
        float: left;
        width: 364px;
        h2{
          border: none;
          color: #c72803;
          font: bold 13px $font-stack;
          padding: 0;
          margin: 0;
        }
        p{
          font-size: 12px;
        }
        .information{
          margin-top: 20px;
          p{
            line-height: 21px;
          }
        }
        .download{
          width: 148px;
          height: 38px;
          margin: 0 auto;
          background: #3498db;
          @include  border-radius(6px);
          display: block;
          font: 15px normal $font-stack;
          text-align: center;
          color: #fff;
          text-decoration: none;
          line-height: 38px;
          margin-top: 10px;
          &:hover{
            background: #C72803 !important;
            color: #fff !important;
          }
        }
      }
      &:hover{
        box-shadow: none;
        opacity: 1;
      }
    }

  }
}
.page-satic{
  h2{
    max-width: 270px;
  }
  .content-banner{
    margin-bottom: 30px;
    h2{
      margin: 27px 0 30px 27px;
    }
    .content-center{
      background: url("../images/banner-satic.jpg") no-repeat top center;
      min-height: 326px;
      p{
        color: #fff;
        line-height: 20px;
        margin-top: 18px;
        text-align: justify;
      }
    }
  }
  .notice{
    margin-bottom: 30px;
    h5{
      font: bold 13px $font-stack;
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      color: #555;
    }
  }
  .content-unlock{
    margin-top: 20px;
    p{
      line-height: 25px;
      margin-bottom: 40px;
      color: #555;
    }
  }
}
.page-new{
  margin-top: 30px;
  padding-bottom: 30px;
  .content-main{
    width: 75%;
  }
  .read-more{
    font: 18px arial,sans-serif;
    color: #333;
    width: 413px;
    height: 65px;
    border: 1px solid #c72803;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    line-height: 69px;
    margin: 20px auto 0px;
    &:hover{
      background: #C72803;
      color: #fff !important;
    }
  }
  .product-other{
    margin-bottom: 0;
  }
  h1{
    font: normal 14px $font-h;
    margin: 0 0 10px;

  }
  p{
    font: 12px $font-stack;
    line-height: 26px;
    margin-bottom: 25px;
    color: #555;
    &.center{
      text-align: center;
    }

  }
  .info-by{
    font: 12px $font-stack;
    color: #555;
    margin-bottom: 10px;
    display: inline-block;
  }
  ul{
    li{
      width: 50%;
      float: left;
      padding-right: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
      .img-box{
        height: 244px;
        @include  add-border(1px, #d1d1d1, all);
        width: 100%;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        img{
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(2n){
        padding-right: 20px;
      }
      h2{
        color: #555;
        font: 14px $font-h;
        margin: 0;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #555;
        }
      }

    }
  }
}

.slide-home{
  position: relative;
  .slick-dots{
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    li{
      display: inline-block;
      button{
        width: 17px;
        height: 17px;
        @include add-border(1px, #000, all);
        @include  border-radius(100px);
        background: #fff;
        color: #fff;
        margin: 0 7px;
        &:active, &:focus{
          outline: none;
        }
      }
      &.slick-active{
        button{
          background: #000;
          color: #000;
          @include add-border(1px, #fff, all);
        }
      }
    }
  }
}
.logged{
  width: 40px;
  height: 40px;
  float: right;
  vertical-align: top;
  margin: -16px 0 0 -13px;
  padding: 13px 8px;
  .dropdown-menu{
    left: auto;
    right: 0;
    @include  border-radius(0);
    background: rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    width: 98px;
    height: 80px;
    box-sizing: border-box;
    min-width: 0;
    li{
      a{
        font: bold 12px $font-stack;
        text-decoration: none;
        color: #fff;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0px;
        &:hover{
          background: none;
        }
      }
    }
  }
  &.open{
    background: #000;
  }
}
.technology-full{
  max-height: 0px;
  transition: max-height 0.5s;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  &.open{
    height: auto;
    max-height: 232000px;
  }

}
.slide-right{
  width: 267px;
  float: right;
  .items{
    a{
      margin-bottom: 1px;
      display: inline-block;
      &:last-child{
          margin-bottom: -1px;
      }
    }

  }
}
.header nav ul li .sub-menu li:hover{
  margin-left: 0px;
  background: transparent !important;
}
.header nav ul li .sub-menu li.items-product:hover{
  margin-left:10px;
  padding-left: 0;
}
.slide-home {
  .slick-next{
    right: 10px;
    left: auto;
    top: 50%;
    margin-top: -48px;
    opacity: 0;
    transition: all 0.5s;
  }
  .slick-prev{
    left: 10px;
    right: auto;
    top: 50%;
    margin-top: -48px;
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover{
    .slick-prev, .slick-next{
      opacity: 1;
    }
  }
}
.slide-banner-top{
  @extend .slide-home;
  img{
    width: 100%;
  }
}
.icon-home:before{
  display: none;
}
#header{
  &.fixTop{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1350px;
    &.fixRight{
      right: 0;
    }
  }
}
.page-detail .slick-track{
  transition: all 0.5s;
}
.page-detail .product-list{
  margin-bottom: 20px;
}
.article-details {
  .read-more{
    width: 400px;
    height: 40px;
    text-align: center;
    @include  add-border(1px, #c72803, all);
    @include  border-radius(6px);
    display: inline-block;
    font: 15px $font-stack;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    line-height: 42px;
    margin:  22px auto;
    display: block;
    &:hover {
      background: #C72803;
      color: #fff !important;
    }
    &.close{
      display: none;
      &.active{
        display: block;
      }
    }
  }
  .content-short{
    display: none;
  }
  .content-text{
    max-height: 250px;
    overflow: hidden;
    transition: max-height 0.5s;
    &.open{
      max-height: 135000px;
    }
  }
}
.subpage{
  form#frm{
   width: 100%;
    clear: both;
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .block{
    background: none;
    border: none;
    .block-title{
      font: 20px "UTM HelvetIns";
      color: #555;
      border-left: 3px solid #c72803;
      border-bottom: 1px solid #ccc;
      padding: 9px 7px;
      max-width: 100%;
      margin-left: 26px;
      text-transform: uppercase;
      background: none;
    }
  }
}
.block{
  .block-title{
    strong{
      font: 20px "UTM HelvetIns";
    }
  }
}
.subpage{
  #columns{
    float: none;
    margin: 30px auto;
    max-width: 1200px;
    width: 100%;
  }
}
#footer{
  z-index: 1;
}
#faqs > div{
  height: auto;
  max-height: 0;
  transition: max-height 0.5s;
}
#faqs > div.open{
  max-height: 9000px;
}
.article-used{
  padding-bottom: 20px;
  margin-top: 30px;
  ul{
    margin-top: 25px;
    li{
      padding-bottom: 10px;
      a.title{
        padding-left: 26px;
        position: relative;
        color: #555;
        text-transform: uppercase;
        font-size: 18px;
        &.active, &:hover{
          color: #c72803;
        }
        &:before{
          content: '';
          display: inline-block;
          width: 13px;
          height: 14px;
          background:url(../images/icon-list.png) no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -7px;
        }
      }
      .content-description{
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition:max-height 0.5s ease-in;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 26px;
        p{
          margin-bottom: 15px;
          line-height: 1.6;
        }
        &.open{
          max-height: 5000px;
        }
      }
    }
  }
}
.details-page .footer .footer-bottom{
  min-height: 110px;
}
.page-detail .slick-slider-1-items .slick-track{
  -webkit-transform: translate3d(400px, 0, 0) !important;
  -moz-transform: translate3d(400px, 0, 0) !important;
  -ms-transform: translate3d(400px, 0, 0) !important;
  -o-transform: translate3d(400px, 0, 0) !important;
  transform: translate3d(400px, 0, 0) !important;
}
.page-detail .no-slide{
  text-align: center;
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 1365px) {
  .header .logo a{
    width: 255px;
    overflow: hidden;
  }
  .subpage .header .logo{
    width: 290px;
  }
}