@media screen {
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans-Light'), local('OpenSans-Light'), url(../css/OpenSans-Light.woff) format('woff');
}