/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
	margin:1em 0;
	padding-top: 20px;
}

.wp-pagenavi a, .wp-pagenavi span.common {
	text-decoration: none;
	border: 1px solid #eee;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #666;
}

.wp-pagenavi span.current {
	font-weight: bold;
	color:#fff;
	background-color:#666;
}
