﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucHeader.ascx.cs" Inherits="PhongCachMobile.admin.master.uc.ucHeader" %>
<div id="header">
    <div class="container_12">
        <div class="grid_12">
            <nav class="primary_cp">
                <asp:Literal ID="litHomeMenu" runat="server"></asp:Literal> </nav>
            <!--.primary-->
        </div>
    </div>
    <!--.container-->
</div>
